
  <h3>Set Thresholds</h3>

  <ngx-datatable
  #thresholdDataTable
  class="material"
  headerHeight="30"
  [columnMode]="ColumnMode.flex"
  footerHeight="0"
  rowHeight="30"
  [rows]="rows"
  [messages]="messages"
>

  <ngx-datatable-column name="Metric" [flexGrow]="3" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div class="row-container" (click)="editing[rowIndex + '-metricId'] = true">
        {{value.name}}
      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Default Min" prop="defaultMin" [flexGrow]="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div class="row-container" >
        {{value}}
      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Default Max" prop="defaultMax" [flexGrow]="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div class="row-container">
        {{value}}
      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Min" [flexGrow]="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <div class="row-container" (click)="showEdit(rowIndex, 'min')">
        <span
          title="Double click to edit"
          *ngIf="!editing[rowIndex + '-min']"
        >
        {{ !value && value !== 0  ? "Enter a min" : value }}
        </span>
        <input matInput
          autofocus
          (blur)="updateValue($event, 'min', rowIndex)"
          *ngIf="editing[rowIndex + '-min']"
          type="number"
          [value]="value"
        />
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Max" [flexGrow]="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <div class="row-container" >
        <span
          title="Double click to edit"
          *ngIf="!editing[rowIndex + '-max']"

        >
        {{ !value && value !== 0  ? "Enter a max" : value }}
        </span>
        <input matInput
          autofocus
          (blur)="updateValue($event, 'max', rowIndex)"
          *ngIf="editing[rowIndex + '-max']"
          type="number"
          [value]="value"
        />

      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="" minWidth="20" [flexGrow]="0">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
      <button aria-label="clear" (click)="clearThreshold(rowIndex)">x</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
