<p class="help-text">
  Regular expression allowed for channel (for example: [H,C]..)
</p>
<div id="filter-box">
  <mat-form-field class="filter-chip-input">
    <input
      matInput
      placeholder="Network"
      (change)="addFilter($event, 'net_search')"
      (keydown.enter)="addFilter($event, 'net_search')"
    />
  </mat-form-field>
  <mat-form-field class="filter-chip-input">
    <input
      matInput
      placeholder="Station"
      (change)="addFilter($event, 'sta_search')"
      (keydown.enter)="addFilter($event, 'sta_search')"
    />
  </mat-form-field>
  <mat-form-field class="filter-chip-input">
    <input
      matInput
      placeholder="Location"
      (change)="addFilter($event, 'loc_search')"
      (keydown.enter)="addFilter($event, 'loc_search')"
    />
  </mat-form-field>
  <mat-form-field class="filter-chip-input">
    <input
      matInput
      placeholder="Channel"
      (change)="addFilter($event, 'chan_search')"
      (keydown.enter)="addFilter($event, 'chan_search')"
    />
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    (click)="updateFilters()"
    matTooltip="Search for channels"
    aria-label="Button that searches for channels matching filters"
  >
    Search
  </button>
</div>

<!-- <mat-chip-list #chipList aria-label="Channel group filters">
  <div *ngFor="let filterGroup of filters | keyvalue">
    <mat-chip
      *ngFor="let filter of filterGroup.value"
      [removable]="true"
      (removed)="removeFilter(filter, filterGroup.key)"
      [color]=""
    >
      {{filterGroup.key | slice : 0:3 | titlecase}}: {{filter | uppercase}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </div>
</mat-chip-list> -->
