<div id="widget-container" class="box">
  <h4>Widget! {{widget.name}}</h4>

    <button (click)="editWidget()"> Edit widget </button>

    <div id="widget-content">
      
      <ng-container [ngSwitch]="widget.type">
        <!-- <tabular *ngSwitchCase="tabular">
      
        </tabular> -->
        <tabular *ngSwitchDefault 
          [data]="data"
          [metrics]="widget.metrics"
          [channels]="channelGroup.channels"
        ></tabular>
        


      </ng-container>
    </div>
</div>