<div id="widget-container" class="box">
  <div id="widget-header">
    <h4>{{widget.name}}</h4>
    <button (click)="editWidget()"> Edit widget </button>
  </div>
  <div id="widget-content">
    <app-loading *ngIf="!data"></app-loading>
    <ng-container [ngSwitch]="widget.type">
      <!-- <tabular *ngSwitchCase="tabular">
    
      </tabular> -->
      <app-tabular *ngSwitchDefault 
        [data]="data"
        [metrics]="widget.metrics"
        [channels]="channelGroup.channels"
      ></app-tabular>
    </ng-container>
  </div>
</div>