@import 'variables';

#auth-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
#auth-header {
  display: block;
  text-align: center;
  height: 325px;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;

  img {
    margin: 50px;
    height: 100px;
    width: auto;
  }
}

#login {
  width: 320px;
  margin-top: 200px;
  z-index: 1;
  padding: 20px;

  form {
    display:flex;
    flex-direction: column;
    mat-form-field {
      margin-top: 15px ;
    }
    .mat-form-field-wrapper {
      margin: .12em 0;
    }
    #forgot-password {
      align-self: flex-start;
      margin-bottom: 15px;
    }
  }
}

#forgot-password, #no-acct {
  color: $sq-dk-gray;
  font-size: .9rem;
}