@import "variables";

#auth-container {
  justify-content: center;
}
#auth-header {
  display: block;
  text-align: center;
  height: 325px;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;

  img {
    margin: 50px;
    height: 100px;
    width: auto;
  }
}

#login {
  width: 320px;
  margin-top: 200px;
  z-index: 1;
  padding: 10px;
}
