.edit-tab-body {
  height: 500px;
  overflow:hidden;
}

#metric-select-table {
  height: 100%;
}

#metric-select-table{
  height: 323px;
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: unset;
  }
}