header {
  height: 60px;
  img{
    height: 40px;
    width: auto;
  }
  background-color: #336178;
  h1, a {
    color: white;
    display: inline-block;
    margin: 5px;
  }

  #header-right, #header-left {
    display: inline-block;
  }

  #header-right{
    position:fixed;
    top: 12px;
    right:10px;
    a {
      cursor: pointer;
    }
  }
}
