<shared-table-view
  [isLoading]="loadingService.isLoading(this)"
  title="Monitors"
  [options]="options"
  [rows]="rows"
  [columns]="columns"
  (itemSelected)="onSelect($event)"
  (controlClicked)="onClick($event)"
  [controls]="controls"
  [filters]="filters"
  (refresh)="refresh()"
>
  <!-- [rowDetailTemplate]="rowDetailTemplate" -->
</shared-table-view>
<ng-template let-row="row" #stateTemplate>
  <monitor-alarm-status [inAlarm]="row.inAlarm"></monitor-alarm-status>
  <ng-template #noAlert>
    <a mat-icon-button aria-label="no alert data" disabled="true">
      <mat-icon>help_outline</mat-icon>
    </a>
  </ng-template>
</ng-template>
<ng-template let-row="row" #updateTemplate>
  <ng-container *ngIf="row.lastAlarm; else noAlert">
    <div>
      {{ row.lastAlarm.inAlarm ? "in alarm" : "out of alarm" }}
    </div>
    <div>
      {{ row.lastAlarm.timestamp | date: "short" }}
    </div>
  </ng-container>
  <ng-template #noAlert>no alerts</ng-template>
</ng-template>

<router-outlet></router-outlet>
