<mat-form-field
  class="medium"
  [appearance]="appearance"
  [ngClass]="{ 'dense-form-field': dense }"
>
  <mat-label>{{ label }}{{ required ? "(required)" : "" }}</mat-label>
  <mat-select
    [(ngModel)]="channelGroupId"
    (selectionChange)="selectionChange()"
    [required]="required"
  >
    <mat-option
      *ngFor="let channelGroup of channelGroups"
      [value]="channelGroup.id"
      >{{ channelGroup.name }} ({{ channelGroup.length }})</mat-option
    >
  </mat-select>
</mat-form-field>
