<mat-form-field
  id="search-filter"
  style="min-width: 250px"
  appearance="outline"
  class="dense-form-field"
  subscriptSizing="dynamic"
>
  <!-- <mat-icon matPrefix>search</mat-icon> -->
  <input
    type="text"
    matInput
    [placeholder]="config?.text"
    (keyup)="update($event)"
    [(ngModel)]="searchString"
  />
  <button
    *ngIf="searchString"
    matSuffix
    mat-button
    aria-label="Clear"
    (click)="remove()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>