<div class="column centered">
  <h1 class="mat-h1">Welcome to SQUAC!</h1>
  <form
    *ngIf="token; else noToken"
    (ngSubmit)="sendPassword()"
    [formGroup]="userForm"
    class="centered-form"
  >
    <mat-form-field>
      <mat-label> First Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="firstname"
        autocomplete="given-name"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Last Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="lastname"
        autocomplete="family-name"
        required
      />
    </mat-form-field>
    <ng-container formGroupName="passwords">
      <mat-form-field>
        <mat-label>New Password</mat-label>

        <input
          matInput
          formControlName="password"
          autocomplete="new-password"
          required
          [type]="hide ? 'password' : 'text'"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          formControlName="confirm"
          autocomplete="new-password"
          required
          [type]="hide ? 'password' : 'text'"
        />
        <button
          matIconSuffix
          mat-icon-button
          class="dense-icon-button"
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="
          userForm.get('passwords').dirty &&
          userForm.get('passwords').hasError('mismatch')
        ">
        Passwords do not match
      </mat-error>
    </ng-container>
    <button
      mat-flat-button
      color="accent"
      [disabled]="!userForm.valid"
    >
      Create Account
    </button>
  </form>

  <ng-template #noToken>
    <p>No token, please try again.</p>
  </ng-template>

  <shared-error
    *ngIf="error"
    [errorMsg]="error"
  ></shared-error>
</div>