@import 'src/variables.scss';

form {
  display:flex;
  flex-direction: column;
  mat-form-field {
    margin-top: 15px ;
  }
  .mat-form-field-wrapper {
    margin: .12em 0;
  }
  #forgot-password {
    align-self: flex-start;
    margin-bottom: 15px;
  }
}

#forgot-password, #no-acct {
  color: $sq-dk-gray;
  font-size: 10pt;
}