@import "variables";
@import "mixins";

.form-content {
  gap: 5px;
  width: 100%;
}
#widget-type-container {
  height: 500px;
  display: flex;
  flex-direction: row;
  .label {
    display: block;
  }
  #type-detail-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1 1;
    border: 1px solid $sq-blue;
    gap: 5px;
    justify-content: flex-start;
    overflow-y: scroll;
    p {
      margin-top: 0px;
      font-weight: light;
    }
  }
}

.option-container {
  overflow: wrap;
  white-space: normal;
  // text-overflow: ;
}

#chart-container {
  flex: 1 1 200px;
}

mat-button-toggle-group {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: flex-start;
  // @include sm {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
  flex: 0 0 100px;
  // width: 100px;
  border-radius: 0;
  border: solid 0.5px $sq-blue !important;
  mat-button-toggle {
    height: 36px;
    color: $sq-blue;
  }
  .type-label {
    line-height: 36px;
  }

  mat-button-toggle.mat-button-toggle-checked {
    img {
      &.dark {
        display: none;
      }
      &.white {
        display: block;
      }
    }
    border: solid 0.5px $sq-blue;
    color: white;
    background-color: $sq-blue;
  }
}
