@import "variables";
@import "mixins";

.form-content {
  gap: 5px;
  width: 100%;
}

#type-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  #stat-type-container {
    margin-inline-end: auto;
    flex: 1;
  }
  #description {
    flex: 2;
  }
  p {
    margin-top: 0px;
    font-weight: light;
  }
}

mat-button-toggle-group {
  display: flex;
  flex-direction: column;
  flex: auto;
  @include sm {
    flex-direction: row;
    flex-wrap: wrap;
  }
  width: 100%;
  border-radius: 0;
  mat-button-toggle {
    @include sm {
      flex: 1 0;
    }
    border: solid 0.25px $sq-blue;
    color: $sq-blue;
  }
  .type-label {
    line-height: 36px;
  }

  mat-button-toggle.mat-button-toggle-checked {
    img {
      &.dark {
        display: none;
      }
      &.white {
        display: block;
      }
    }
    color: white;
    background-color: $sq-blue;
  }
}
