@import "variables";
@import "mixins";

.form-content {
  gap: 5px;
  width: 100%;
}
#widget-type-container {
  .label {
    display: block;
  }
}
#type-container {
  padding: 10px;
  flex: 1;
  border: 1px solid $sq-blue;
  border-left: 3px solid $sq-blue;
  gap: 5px;
  justify-content: flex-start;
  p {
    margin-top: 0px;
    font-weight: light;
  }
}

mat-button-toggle-group {
  display: flex;
  flex-direction: column;
  // @include sm {
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
  flex: 0 0 100px;
  border-radius: 0;
  border: solid 0.5px $sq-blue !important;
  mat-button-toggle {
    @include sm {
      flex: 1 0;
    }
    color: $sq-blue;
  }
  .type-label {
    line-height: 36px;
  }

  mat-button-toggle.mat-button-toggle-checked {
    img {
      &.dark {
        display: none;
      }
      &.white {
        display: block;
      }
    }
    border: solid 0.5px $sq-blue;
    color: white;
    background-color: $sq-blue;
  }
}
