mat-form-field {
  width: 40px;
}
.rule-row {
  mat-form-field {
    margin-left: 5px;
  }
}

table {
  width: 100%;
  tr {
    mat-form-field {
      // width: 100%;
    }
  }
}
.narrow {
  width: 30px;
}
