{{ _matchingRules?.length > 0 }}
{{ !rules.valid }}
<div class="row space-between">
  <button
    mat-button
    color="primary"
    (click)="previewChannels()"
    matTooltip="Test regular expressions"
    aria-label="Button that searches for channels"
    [disabled]="!_matchingRules || _matchingRules?.length === 0 || !rules.valid"
  >
    test regex
  </button>

  <button
    mat-button
    (click)="addRule()"
    matTooltip="Add new regular expressions"
  >
    <mat-icon>add</mat-icon>
    add regex
  </button>
</div>

<form #rulesForm [formGroup]="matchingRulesForm">
  <div formArrayName="rules" id="rules-container">
    <div class="header-row">
      <div class="medium">include?</div>
      <div class="field-column">network</div>
      <div class="field-column">station</div>
      <div class="field-column">location</div>
      <div class="field-column">channel</div>
      <div class="narrow"></div>
    </div>
    <ng-container *ngIf="rules.controls.length === 0">
      <span>No rules.</span>
    </ng-container>
    <ng-container *ngFor="let rule of rules.controls; let i = index">
      <div [formGroupName]="i" class="rule-row">
        <div class="medium">
          <mat-checkbox
            #isInclude
            formControlName="isInclude"
            (change)="updateRules()"
          >
          </mat-checkbox>
        </div>

        <div class="field-column">
          <mat-form-field>
            <input
              #networkRegex
              matInput
              formControlName="networkRegex"
              (keyup)="
                rules.controls[i].patchValue({
                  networkRegex: $event.target.value.toUpperCase()
                })
              "
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="field-column">
          <mat-form-field>
            <input
              #stationRegex
              matInput
              formControlName="stationRegex"
              (keyup)="
                rules.controls[i].patchValue({
                  stationRegex: $event.target.value.toUpperCase()
                })
              "
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="field-column">
          <mat-form-field>
            <input
              #locationRegex
              matInput
              formControlName="locationRegex"
              (keyup)="
                rules.controls[i].patchValue({
                  locationRegex: $event.target.value.toUpperCase()
                })
              "
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="field-column">
          <mat-form-field>
            <input
              #channelRegex
              matInput
              formControlName="channelRegex"
              (keyup)="
                rules.controls[i].patchValue({
                  channelRegex: $event.target.value.toUpperCase()
                })
              "
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="narrow">
          <button mat-icon-button type="button" (click)="removeRule(i)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="rules.controls[i].errors as errors">
        <span class="warn-text">
          {{ errors.atLeastOne?.message }}
        </span>
      </div>
      <ng-container
        *ngFor="let field of ['network', 'station', 'location', 'channel']"
      >
        <div *ngIf="rules.controls[i].get(field + 'Regex').errors as errors">
          <span class="warn-text">
            {{ errors.invalidRegex?.message }} for {{ field }}
          </span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</form>
