#rules-container {
  min-height: 50px;
  width: 100%;
  .header-row {
    width: 100%;
    div {
      display: inline-block;
    }
  }
  .field-column {
    width: calc(25% - 25px);
    mat-form-field {
      width: calc(95%);
    }
  }
  .rule-row {
    width: 100%;
    div {
      display: inline-block;
    }
  }
}

.narrow {
  min-width: 30px;
}
.medium {
  min-width: 60px;
  text-align: center;
}
