table {
  height: auto;
  width: auto;
  overflow: scroll;
  border-collapse: collapse;
  &, th, td {
    border: 1px solid black;
  }

  th, td {
    max-width: 100px;
    overflow-wrap: break-word;
  }
}
