  <ngx-datatable 
    class="material" 
    [rows]="channels"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="auto"
    *ngIf="formattedData"
  >
    <ngx-datatable-column 
      name="Channels"
    >
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
        {{row.nslc}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngFor="let metric of metrics">

      <ng-template ngx-datatable-header-template>
        {{metric.name}}
      </ng-template>

      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <ng-container *ngIf="formattedData[row.id][metric.id] !== null; else noData">
          {{ formattedData[row.id][metric.id] | number:'1.0-2'}}
        </ng-container>
        <ng-template #noData>
            No Data
        </ng-template>
      </ng-template>


      


    </ngx-datatable-column>
  </ngx-datatable>