
  <ngx-datatable 
    #dataTable
    class="material expandable" 
    [rows]="rows"
    [columns]="columns"
    [groupRowsBy]="'sta'"
    [headerHeight]="50"
    [sortType]="SortType.multi"
    [footerHeight]="50"
    [columnMode]="flex"
    [scrollbarH]="true"
    [rowHeight]="auto"
    [sorts]="[{prop:'nslc', dir:'desc'},{ prop: 'agg', dir: 'desc' }]"
  >
    <!-- Group Header Template -->
    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
          <div style="padding-left:5px;">
            <a
              href="#"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Group"
              (click)="toggleExpandGroup(group)"
            >
              <span> {{group.value[0].net | uppercase }} </span>
              <span> {{ group.value[0].sta | uppercase}} </span>
              <span> ({{group.value.length}} {{group.value.length == 1? "channel" : "channels"}})</span>
            </a>
          </div>
          
        </ng-template>
      </ngx-datatable-group-header>

  </ngx-datatable>

  <ng-template #hdrTpl let-column="column" > {{ column.name }} </ng-template>

  <ng-template #metricTmpl let-row="row" let-value="value">
      {{value.value}}
  </ng-template>

  <!-- aggregate count # of fails right side column-->
  <!-- color time table thing -->
  <!-- line with dots  -->