#dashboard-container {
  position: absolute;
  top: 60px;
  left: 0;
  bottom:0;
  right: 0;
}

#sidenav-toggle {
  position: absolute;
  z-index: 10;
  left: -25px;
  background-color: red;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
}
.active {
  color: orangered;
}

#sidebar {
  padding: 10px;
}

#content {
  width: 100%;
}