#dashboard-container {
  position: absolute;
  top: 60px;
  left: 0;
  bottom:0;
  right: 0;
}
.sidenav-toggle-container {
  position: absolute;
  z-index: 10 !important;
  visibility: visible !important;
  button {
    color: white; 
  }
  #close-button {
    left: -25px
  }
}
