


<mat-sidenav-container id="dashboard-container" class="gray-background">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-dashboard-view></app-dashboard-view> 
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-toggle-container" id="close-button">
      <button mat-mini-fab (click)="sidenav.toggle()">
          <mat-icon *ngIf="opened">close</mat-icon>
          <mat-icon *ngIf="!opened">arrow_forward_ios</mat-icon>    
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>