#dashboard-container {
  position: absolute;
  top: 60px;
  left: 0;
  bottom:0;
  right: 0;
}
mat-sidenav{
  width: 200px;
}
.sidenav-toggle-container {
  margin-top: 5px;
  // margin-left: -20px;
  position: absolute;
  z-index: 10 !important;
  visibility: visible !important;
  button {
    color: white; 
  }
  &.drawer-closed {
    margin-left: 0px;
  }
}
