<div *ngIf="dashboard" id="dashboard-container">
  <mat-toolbar id="dashboard-header">
    <div id="dashboard-info">
      <h2>
        {{ dashboard.name }}
      </h2>
      <span *ngIf="dashboard.owner && dashboard.orgId">
        by {{ dashboard.owner | user }} ({{ dashboard.orgId | organization }})
      </span>

      <app-shared-indicator
        [shareAll]="dashboard.shareAll"
        [shareOrg]="dashboard.shareOrg"
        resource="dashboard"
      ></app-shared-indicator>
    </div>
    <div id="header-controls">
      <!-- <mat-form-field *ngIf="archiveType !== 'raw">
        <mat-label>Toppings</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value ? toppings.value[0] : ''}}
            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
              (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <button
      mat-button
      [matMenuTriggerFor]="dataType"
      matTooltip="Dashboard configuration"
      matTooltip="Select data type"
      aria-label="Button that opens menu to select data type"
    >
      {{archiveType !=='raw'? archiveStat + ' of ' : ''}}{{archiveType !== 'raw' ? archiveType + ' archive' : archiveType + ' data'}}
    </button>

      <button
        mat-icon-button
        (click)="refreshData()"
        color="primary"
        matTooltip="Refresh data"
        aria-label="Button that requests new data from the database"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        (click)="save()"
        [disabled]="!unsaved"
        *ngIf="'update' | able: dashboard"
        matTooltip="Save dashboard"
        aria-label="Button that saves changes to the dashboard"
      >
        <mat-icon>save</mat-icon>
      </button>
      <mat-form-field id="date-range">
        <input
          #datePicker
          matInput
          ngxDaterangepickerMd
          type="text"
          [locale]="locale"
          [showCancel]="true"
          [maxDate]="maxDate"
          [(ngModel)]="selected"
          [timePicker]="true"
          [timePicker24Hour]="true"
          [ranges]="ranges"
          [showCustomRangeLabel]="true"
          [alwaysShowCalendars]="true"
          [showRangeLabelOnInput]="true"
          (change)="datesSelected($event)"
        />
      </mat-form-field>
      <!-- if they have permission, otherwise show copy only -->
      <mat-menu
        #appMenu="matMenu"
        class="mat-menu-dense"
        yPosition="below"
        xPosition="before"
      >
        <button mat-menu-item [matMenuTriggerFor]="dataType">Data Type</button>
        <button mat-menu-item (click)="addWidget()">Add Widget</button>
        <button mat-menu-item (click)="editDashboard()">
          Edit Dashboard Information
        </button>
        <button
          mat-menu-item
          id="delete-dashboard"
          (click)="deleteDashboard()"
          *ngIf="'delete' | able: dashboard"
        >
          Delete Dashboard
        </button>
      </mat-menu>
      <mat-menu
        #dataType="matMenu"
        class="mat-menu-dense"
        yPosition="below"
        xPosition="before"
      >
        <button mat-menu-item (click)="selectArchiveType('raw', '')">
          Use raw data
        </button>
        <button mat-menu-item [matMenuTriggerFor]="dayArchiveStat">
          Use day archives
        </button>
        <button mat-menu-item [matMenuTriggerFor]="monthArchiveStat">
          Use month archives
        </button>
      </mat-menu>
      <mat-menu
        #dayArchiveStat="matMenu"
        class="mat-menu-dense"
        yPosition="below"
        xPosition="before"
      >
        <button
          mat-menu-item
          *ngFor="let item of archiveStatTypes"
          (click)="selectArchiveType('day', item)"
        >
          {{ item }}
        </button>
      </mat-menu>
      <mat-menu
        #monthArchiveStat="matMenu"
        class="mat-menu-dense"
        yPosition="below"
        xPosition="before"
      >
        <button
          mat-menu-item
          *ngFor="let item of archiveStatTypes"
          (click)="selectArchiveType('month', item)"
        >
          {{ item }}
        </button>
      </mat-menu>
      <button
        mat-icon-button
        [matMenuTriggerFor]="appMenu"
        color="primary"
        *ngIf="'update' | able: dashboard"
        matTooltip="Dashboard configuration"
      >
        <mat-icon>settings_application</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-progress-bar
    *ngIf="status && status !== 'finished'"
    [mode]="status !== 'error' ? 'indeterminate' : 'determinate'"
    value="1001"
    [color]="status === 'error' ? 'warn' : 'primary'"
  >
  </mat-progress-bar>

  <div id="dashboard-body">
    <router-outlet></router-outlet>
  </div>
</div>
<app-error *ngIf="error" [errorMsg]="error"></app-error>
<app-loading *ngIf="!dashboard && !error"></app-loading>
