<div *ngIf="dashboard" id="dashboard-container">
    <mat-toolbar id="dashboard-header" >
      <div id="dashboard-info">
          <h2>
              {{dashboard.name}}
          </h2>
          <span [ngSwitch]="">
            by {{orgName}}
          </span>
          <!-- TODO: add dashboard owner name & copy -->
      </div>
        <div id="header-controls">
          <button mat-flat-button color="accent" (click)="saveDashboard()" *ngIf="unsaved">
            <mat-icon>save</mat-icon>
            Save
          </button>
          <button mat-icon-button (click)="refreshData()" color="primary" aria-label="refresh data">
              <mat-icon >refresh</mat-icon>  
          </button>
          <mat-form-field id="date-range">
            <input #datePicker matInput ngxDaterangepickerMd
              type="text"
              [locale]="locale"
              showCancel="true"
              [maxDate]="maxDate"
              [(ngModel)]="selected"
              [timePicker]="true"
              [timePicker24Hour]="true"
              [ranges]="ranges"
              [showCustomRangeLabel]="true"
              [alwaysShowCalendars]="true"
              [showRangeLabelOnInput]="true"
              (change)="datesSelected($event)"
            />
          </mat-form-field>
          <!-- if they have permission, otherwise show copy only -->
          <mat-menu #appMenu="matMenu" class="mat-menu-dense" yPosition="below" xPosition="before">
            <button mat-menu-item (click)="addWidget()" >Add Widget</button> 
            <button mat-menu-item (click)="editDashboard()">Edit Dashboard Information</button>
            <button mat-menu-item id="delete-dashboard" (click)="deleteDashboard()" *ngIf="'delete' | able: dashboard">Delete Dashboard</button>
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="appMenu" color="primary" *ngIf="'update' | able: dashboard">
            <mat-icon>settings_application</mat-icon>
          </button>
        </div>

      </mat-toolbar>
      <mat-progress-bar
        *ngIf="status && status !== 'finished'"
        [mode]="status !== 'error' ? 'indeterminate' : 'determinate'"
        value = "1001"
        [color]="status === 'error' ? 'warn' : 'primary'"

        >
      </mat-progress-bar>

      <!-- TODO: move this to widget component -->
      <div id="dashboard-body">
        <router-outlet></router-outlet>
      </div>
      <!-- <app-widgets [canUpdate]="'update' | able: dashboard" dashboardId="{{dashboard.id}}"></app-widgets> -->

      
</div>
<app-error *ngIf="error" [errorMsg]="error"></app-error>
<app-loading *ngIf="!dashboard && !error"></app-loading>
