<div
  id="table-view-container"
  class="gray-border"
>
  <div
    id="table-head"
    class="lt-gray-background"
  >
    <div class="row space-between wrap">
      <shared-search-filter
        *ngIf="filters && filters.searchField"
        [config]="filters.searchField"
        [rows]="rows"
        (filterChanged)="searchFieldChanged($event)"
      >
      </shared-search-filter>
      <ng-content select="[tableHeadFilters]"> </ng-content>
      <div class="row space-between wrap">
        <shared-sharing-toggle
          *ngIf="filters && filters.toggleShared"
          [user]="user"
          (filtersChange)="toggleSharing($event)"
          [isFormInput]="false"
        >
        </shared-sharing-toggle>

        <ng-container *ngIf="controls.links">
          <button
            *ngFor="let link of controls.links"
            mat-button
            [routerLink]="[link.path]"
          >
            {{ link.text }}
          </button>
        </ng-container>
        <button
          mat-button
          (click)="editResource()"
          *ngIf="controls.edit && ('update' | able: selectedRow)"
          [disabled]="!selectedRow"
        >
          {{ controls.edit.text }}
        </button>
        <mat-menu
          #menu
          class="dense-menu"
        >
          <ng-container *ngFor="let item of controls.menu?.options">
            <button
              mat-menu-item
              (click)="menuOption(item.action)"
              *ngIf="item.permission | able: selectedRow"
            >
              {{ item.text }}
            </button>
          </ng-container>
        </mat-menu>
        <button
          mat-flat-button
          *ngIf="controls.menu"
          [matMenuTriggerFor]="menu"
          [disabled]="!selectedRow"
        >
          {{ controls.menu.text }} <mat-icon>expand_more</mat-icon>
        </button>

        <ng-content select="[tableHeadControls]"> </ng-content>
        <button
          *ngIf="controls.refresh"
          mat-icon-button
          class="icon-button"
          aria-label="button that refreshes data"
          (click)="refreshResource()"
          matTooltip="refresh table"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    id="table-body"
    [appIsLoading]="isLoading"
  >
    <table
      mat-table
      class="dense-table"
      matSort
      [dataSource]="dataSource"
    >
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.columnDef"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{column.name}}
        </th>
        <ng-container [ngSwitch]="column.columnDef">
          <ng-container *ngSwitchCase="'owner'">
            <td
              mat-cell
              *matCellDef="let row"
            >
              {{row.owner | user}}
            </td>

          </ng-container>
          <ng-container *ngSwitchCase="'organization'">
            <td
              mat-cell
              *matCellDef="let row"
            >
              {{row.orgId | organization}}

            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'name'">
            <td
              mat-cell
              *matCellDef="let row"
            >
              <a
                *ngIf="tableOptions.autoRouteToDetail; else noLink"
                [routerLink]="[row.id]"
              >{{ row.name }}</a>
              <ng-template #noLink>{{row.name}}</ng-template>


            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'sharing'">
            <td
              mat-cell
              *matCellDef="let row"
            >

              <ng-container *ngIf="row.shareAll; else private"> public </ng-container>
              <ng-template #private>
                {{ row.shareOrg ? (row.orgId | organization) : "private" }}
              </ng-template>


            </td>
          </ng-container>

          <ng-container *ngSwitchDefault>

            <td
              mat-cell
              *matCellDef="let row"
            >
              <ng-container *ngIf="column.cellTemplate; else noTemplate">
                <ng-container
                  *ngTemplateOutlet="column.cellTemplate; context:{row:row, value: row[column.columnDef]}"></ng-container>

              </ng-container>
              <ng-template #noTemplate> {{row[column.columnDef]}}</ng-template>
            </td>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="footer">
        <td
          mat-footer-cell
          *matFooterCellDef
          [attr.colspan]="tableColumns.length"
        >{{dataSource.data.length}} results.</td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="tableColumns; sticky:true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: tableColumns;"
        (click)="selectRow(row)"
        class="table-row"
        [ngClass]="{'selected': selection.isSelected(row)}"
      >
      </tr>
      <!-- <tr
        mat-footer-row
        *matFooterRowDef="['footer']; sticky: true"
      ></tr> -->
      <!-- Row shown when there is no matching data. -->
      <tr
        class="mat-row"
        *matNoDataRow
      >
        <td
          class="mat-cell"
          [attr.colspan]="tableColumns.length"
        >{{tableOptions.messages?.emptyMessage}}</td>
      </tr>
    </table>
    <mat-paginator
      pageSize="25"
      [pageSizeOptions]="[25, 50, 100]"
      aria-label="Select page of data"
    ></mat-paginator>
  </div>
</div>

<!-- manage data in parent component -->