#table-view-container {
  height: 100%;
  width: 100%;
  #table-head {
    padding: 5px 10px;
  }
  #table-body {
    height: 100%;
    overflow: auto;
    table {
      width: 100%;
      tr.table-row {
        &:not(.selected):hover,
        &.selected {
          background: whitesmoke;
        }
        &:active {
          background: #efefef;
        }
      }
    }
  }
}
