#title {
  margin-bottom: 5px;
}
#table-view-container {
  width: 100%;
  #table-head {
    padding: 5px 10px;
    #controls,
    #filters {
      align-items: center;
      justify-content: space-between;
    }
    .row {
      gap: 5px;
      flex-wrap: wrap;
    }
  }
  #table-body {
    height: 100%;
  }
  ngx-datatable {
    width: 100%;
    height: 100%;
    span.sort-button {
      text-align: right;
    }
  }
}
