<app-table-view title="Dashboards">
  <ng-container tableHeadControls>
    <div>
      <mat-form-field style="width: 250px">
        <span matPrefix><mat-icon>search</mat-icon></span>
        <input
          type="text"
          matInput
          placeholder="Type to filter the name column..."
          (keyup)="updateFilter($event)"
          [(ngModel)]="searchString"
        />
        <button
          *ngIf="searchString"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="removeFilter()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button
      mat-flat-button
      color="accent"
      (click)="newDashboard()"
      *ngIf="'create' | able: 'Dashboard'"
    >
      Create Dashboard
    </button>
  </ng-container>
  <ng-container tableHeadFilters> </ng-container>
  <ng-container tableBody options="options">
    <ngx-datatable
      class="shared-view-table"
      id="dashboards-table"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [scrollbarH]="false"
      rowHeight="auto"
      (select)="onSelect($event)"
      [selected]="selected"
      [selectionType]="SelectionType.single"
    >
    </ngx-datatable>
    <ng-template ngx-datatable-cell-template let-row="row" #sharingTemplate>
      {{ row.shareOrg && row.shareAll ? "public" : "" }}
      <ng-container *ngIf="row.shareOrg && !row.shareAll; else private">
        shared with {{ row.orgId | organization }}
      </ng-container>
      <ng-template #private> {{ !row.shareOrg ? "private" : "" }} </ng-template>
    </ng-template>
  </ng-container>
</app-table-view>
