#dashboard-list-container {
  mat-expansion-panel{
    border-radius: 0px;
    box-shadow: none;
  }
 mat-panel-title {

    font-size: 14pt;
    font-weight: 600;
  }

}
::ng-deep .mat-list-item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
button {
  mat-icon {
    font-size: 20px;
    height: 22px;
    width: 20px;
  }
  height: 30px;
  display:block;
  line-height: 22px;
  margin: 10px auto;
}

.mat-expansion-panel-body {
  max-height: 10vh;
  overflow:scroll;
}