
<button mat-flat-button color="accent" (click)="newDashboard()" *ngIf="'create' | able: 'Dashboard'">
 Create Dashboard
</button>

<div id="dashboard-list-container" *ngIf="userId && orgId">

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your Dashboards
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="mat-nav-list-dense" dense  >
      <ng-container *ngFor="let dashboard of dashboards"  >
        <a mat-list-item [routerLink]="[dashboard.id]" routerLinkActive="active" *ngIf="userId === dashboard.owner">{{dashboard.name}} </a>
      </ng-container>

    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{userOrg}} Dashboards
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-nav-list class="mat-nav-list-dense" dense >
        <ng-container *ngFor="let dashboard of dashboards">
          <a mat-list-item [routerLink]="[dashboard.id]" routerLinkActive="active"  *ngIf="userId !== dashboard.owner && orgId === dashboard.orgId" >{{dashboard.name}} </a>
        </ng-container>
      </mat-nav-list>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Public Dashboards
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-nav-list class="mat-nav-list-dense" dense >
        <ng-container *ngFor="let dashboard of dashboards">
          <a mat-list-item [routerLink]="[dashboard.id]" routerLinkActive="active"  *ngIf="userId !== dashboard.owner && orgId !== dashboard.orgId" >{{dashboard.name}} </a>
        </ng-container>
      </mat-nav-list>
  </mat-expansion-panel>


</div>
