#dashboard-list-container {
  div.list-header {
    padding: 10px 10px 6px ;
    font-size: 14pt;
    font-weight: 600;
  }
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  .mat-divider {
    margin: 10px 10px 0px 10px;
  }
  .dashboard-group mat-nav-list {
    max-height: 50%;
    overflow:scroll;

    a.mat-list-item {
      height: 30px;

    }
  }
}
::ng-deep .mat-list-item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
button {
  mat-icon {
    font-size: 20px;
    height: 22px;
    width: 20px;
  }
  margin-left: 22px;
  height: 30px;
  line-height: 22px;
  margin-top: 10px;
  padding-left: 10px;
}