<h2 mat-dialog-title>{{ editMode ? "Edit User" : "New User" }}</h2>

<div mat-dialog-content>
  <p
    class="help-text"
    *ngIf="!editMode; else editUser"
  >
    Users will get an invitation sent to their email with instructions.
  </p>
  <ng-template #editUser>
    <p class="help-text">Emails cannot be changed.</p>
  </ng-template>
  <form
    class="form"
    action=""
    [formGroup]="userForm"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        required
        floatLabel="always"
        formControlName="email"
        type="text"
        id="email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        matInput
        formControlName="firstname"
        placeholder="First Name"
        type="text"
        id="firstname"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        matInput
        formControlName="lastname"
        placeholder="Last Name"
        type="text"
        id="lastname"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Permission Groups</mat-label>
      <mat-select
        formControlName="groups"
        multiple
        class="dense-select"
      >
        <mat-option
          class="dense-option"
          *ngFor="let group of groupTypes"
          [value]="group.role"
        >{{
          group.role
          }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="isAdmin">Admin</mat-checkbox>
  </form>
</div>

<div
  mat-dialog-actions
  align="end"
  class="dialog-options"
>
  <button
    class="dialog-cancel"
    mat-stroked-button
    mat-dialog-close
    (click)="cancel()"
    type="button"
  >
    Cancel
  </button>
  <button
    class="save"
    mat-flat-button
    color="accent"
    (click)="save()"
    [disabled]="!userForm?.valid"
  >
    {{ editMode ? "Save User" : "Add User" }}
  </button>
  <button
    *ngIf="editMode"
    mat-button
    color="warn"
    (click)="deactivate()"
    [disabled]="!userIsActive"
  >
    Deactivate
  </button>
</div>