<h1>Welcome to SQUAC!</h1>
<form
  *ngIf="token; else noToken"
  autocomplete="off"
  (ngSubmit)="sendPassword()"
  [formGroup]="userForm"
>
  <mat-form-field>
    <mat-label> First Name</mat-label>
    <input matInput type="text" formControlName="firstName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Last Name</mat-label>
    <input matInput type="text" formControlName="lastName" />
  </mat-form-field>
  <ng-container formGroupName="passwords">
    <mat-form-field class="">
      <mat-label>New Password</mat-label>

      <input
        matInput
        formControlName="password"
        autocomplete="off"
        placeholder="Enter new password"
        [type]="hide ? 'password' : 'text'"
      />
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        formControlName="confirm"
        autocomplete="off"
        placeholder="Confirm new password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-error
      *ngIf="
        userForm.get('passwords').dirty && !userForm.get('passwords').valid
      "
      >Passwords do not match</mat-error
    >
  </ng-container>

  <button mat-raised-button [disabled]="!userForm.valid">Create Account</button>
</form>

<ng-template #noToken>
  <p>No token, please try again.</p>
</ng-template>

<shared-error *ngIf="error" [errorMsg]="error"></shared-error>
