<div id="loading">
  <div *ngIf="!channelGroupId">Select a channel group</div>
  <div *ngIf="!metric">Select a metric</div>
  <div *ngIf="metric && channelGroupId && !hasData">Loading...</div>
</div>

<div id="chart-container">
  <ngx-charts-line-chart
    *ngIf="hasData"
    [results]="results"
    [xAxis]="true"
    [scheme]="colorScheme"
    [yAxis]="true"
    [legend]="false"
    [showYAxisLabel]="true"
    [showXAxisLabel]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [xAxisTickFormatting]="xAxisTickFormatting"
    [roundDomains]="true"
    [animations]="false"
    [referenceLines]="referenceLines"
    [showRefLines]="true"
    [showRefLabels]="true"
    [tooltipDisabled]="true"
    [view]=""
  >
  </ngx-charts-line-chart>
</div>
