@import 'src/variables.scss';
#edit-container {
  width:65vw;
}
#widget-edit-top {
  display:flex;
  flex-direction:row;
}

#desc-field {
  display:none;
}

#widget-type-container {
  height: 75px;
  border:solid 0.5px $sq-blue; 
  .widget-type-select {
    display:inline-block;
    height: 100%;
    width: 100px;
    padding-top:12px;
    border:solid 0.5px $sq-blue; 
    color: $sq-blue;
    text-align:center;
    cursor:pointer;
    &:hover {
      background-color: $sq-blue + "5e";
    }
    img {
      height:50%;
      width:auto;
      margin-left: auto;
      margin-right:auto;
      padding:5px;
      &.dark {
        display: block;
      }
      &.white {
        display: none;
      }
    }
    &.selected {
      img {
        &.dark {
          display: none;
        }
        &.white {
          display: block;
        }
      }
      color:white;
      background-color: $sq-blue;
    }
  }
}

h3{
  font-size:14px;
  margin-bottom: 10px;
}

:host ::ng-deep .datatable-header-cell, :host ::ng-deep .datatable-body-cell {
  padding: 0px !important;
}

#channel-group-selector-container {
  display:flex;
  width: 100%;
  flex-direction: row;
  overflow:hidden;
}

:host ::ng-deep #channel-group-selector {
 mat-pseudo-checkbox.mat-pseudo-checkbox {
    display:none !important;
  }
}

#groups-container, #selectedChannelsContainer {
  height:90%;
  overflow:scroll;
}