<div mat-dialog-title id="edit-title">
  <h3>{{ editMode ? "Edit Widget" : "New Widget"}}</h3>
  <button mat-icon-button type="button" (click)="cancel()"><mat-icon>close</mat-icon></button>
</div>
   
<div mat-dialog-content id="edit-container">

    <mat-horizontal-stepper [linear]="!editMode" color="primary" #stepper>
      <mat-step>
        <ng-template matStepLabel>Widget Information</ng-template>
        <form action="" [formGroup]="widgetForm" >
          <div class="label">Name your widget: </div>
          <mat-form-field floatLabel="never">
            <input matInput 
              type="text" 
              id="name" 
              formControlName="name" 
              placeholder="Widget name"
            >
          </mat-form-field>
          <br>
          <div class="label">Select type of widget: </div>  
          <div id="widget-type-container">
        
            <mat-button-toggle-group #group="matButtonToggleGroup" (change)="selectType(group.value)">
              <mat-button-toggle *ngFor="let type of widgetTypes" [value]="type.id">
                <div class="img-container">
                  <img class="white" src="assets/{{type.type}}-white.svg" alt="">
                  <img class="dark" src="assets/{{type.type}}-dark.svg" alt="">
                </div>
  
                <div class="type-label">{{type.name | titlecase}}</div>
              </mat-button-toggle>
            </mat-button-toggle-group>

            <div id="description"> 
              <p *ngIf="selectedType; else noSelectedType">
                {{selectedType ? getStatTypeById(selectedType)?.description : "blah"}}
              </p>
              <ng-template #noSelectedType>
                <p>
                  Widgets display measurements for selected metrics and channels.
                </p>
              </ng-template>

           </div>
          </div>
          <br>
          <div class="label">Select statistical type: </div>  
          <mat-form-field>
            <mat-label>Stat type</mat-label>
            <mat-select formControlName="statType" *ngIf="statTypes">
              <mat-option *ngFor="let statType of statTypes" [value]="statType.id">
                {{statType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-checkbox
          formControlName="isPublic"
          >
            Make public?
          </mat-checkbox> -->
        </form>
      </mat-step>
      <mat-step> 
        <ng-template matStepLabel>Select Metrics</ng-template>
          <app-metrics-edit class="edit-tab-body"></app-metrics-edit>
      </mat-step>
      <mat-step label="Channels">
        <ng-template matStepLabel>Select Channel Group</ng-template>
        <app-channel-groups-edit class="edit-tab-body"></app-channel-groups-edit>
      </mat-step>
      <mat-step label="Thresholds" [optional]="true">
        <ng-template matStepLabel>Set Thresholds</ng-template>  
        <app-threshold-edit class="edit-tab-body"></app-threshold-edit>
      </mat-step>
  </mat-horizontal-stepper>

  </div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="stepper.next()" *ngIf='!widgetForm.valid || !isValid'>Next</button>
  <button mat-flat-button color="accent" (click)="save()" [disabled]='!widgetForm.valid || !isValid' *ngIf='widgetForm.valid && isValid'>Save</button>

  <p *ngIf="!isValid || !widgetForm.valid; else valid">
    Click next to continue {{editMode ? "editing" : "creating"}} your widget.
  </p>
  <ng-template #valid>
    <p>
      {{editMode ? "Editing" : "Creating"}} widget on dashboard {{dashboardId}}
    </p>
  </ng-template>

  <button mat-flat-button color="warn" (click)="cancel()" *ngIf="stepper.selectedIndex == 0 && (widgetForm.valid && isValid)">Cancel</button>
  <button mat-stroked-button color="primary" (click)="stepper.previous()" *ngIf="stepper.selectedIndex > 0 && (!widgetForm.valid || !isValid)">Back</button>

</div>
