@import 'src/variables.scss';
.edit-tab-body {
  height: 400px;
}


#desc-field {
  display:none;
}

#widget-type-container {
  height: 75px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  .widget-type-select {
    height: 100%;
    width: 75px;
    border:solid 1px $sq-blue; 
    color: $sq-blue;
    &.selected {
      color:white;
      background-color: $sq-blue;
    }
  }
}

h3{
  text-align:center;
  font-size:14px;
  margin-bottom: 10px;
}
#metric-select-table{
  height: 323px;
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: unset;
  }
}
:host ::ng-deep .datatable-header-cell, :host ::ng-deep .datatable-body-cell {
  padding: 0px !important;
}

#channel-group-selector-container {
  display:flex;
  width: 100%;
  flex-direction: row;
  overflow:hidden;
}

:host ::ng-deep #channel-group-selector {
 mat-pseudo-checkbox.mat-pseudo-checkbox {
    display:none !important;
  }
}

#groups-container, #selectedChannelsContainer {
  height:90%;
  overflow:scroll;
}