<h3 mat-dialog-title>{{ editMode ? "Edit Widget" : "New Widget"}}</h3>
<div mat-dialog-content id="edit-container">
  <div id="widget-type-container">
    <div *ngFor="let type of widgetTypes" (click)="selectType(type.id)" class="widget-type-select" [class.selected]="type.id === selectedType">
      {{type.name}}
    </div>
  </div>
  <form action="" [formGroup]="widgetForm">
    <mat-form-field>
      <input matInput 
        type="text" 
        id="name" 
        formControlName="name" 
        placeholder="Widget name"
      >
    </mat-form-field>
    <mat-form-field id="desc-field">
      <textarea matInput 
        id="description" 
        formControlName="description" 
        class="form-control"
        placeholder="Widget description"
        >
      </textarea>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Stat type</mat-label>
      <mat-select formControlName="statType" *ngIf="statTypes">
        <mat-option *ngFor="let statType of statTypes" [value]="statType.id">
          {{statType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

    <mat-tab-group color="primary">
      <!-- TODO: separate component -->
      <mat-tab label="Metrics">
            <div  class="edit-tab-body">
                <input
                type="text"
                style="padding:8px;margin:15px auto;width:30%;"
                placeholder="Filter by metric name..."
                (keyup)="updateFilter($event)"
                />
                <span>
                   {{selectedMetrics?.length}} metrics selected
                </span>
                  <ngx-datatable
                  id="metric-select-table"
                    class="material"
                    [rows]="tableRows"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [rowHeight]="30"
                    [scrollbarV]="true"
                    [selected]="selectedMetrics"
                    [selectionType]="SelectionType.checkbox"
                    [selectAllRowsOnPage]="false"
                    (select)="metricsSelected($event)"
                  >
                    <ngx-datatable-column
                      [width]="30"
                      [sortable]="false"
                      [canAutoResize]="false"
                      [draggable]="false"
                      [resizeable]="false"
                      [headerCheckboxable]="true"
                      [checkboxable]="true"
                    >
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Name"></ngx-datatable-column>
                    <ngx-datatable-column name="Unit"></ngx-datatable-column>
                    <ngx-datatable-column name="Description"></ngx-datatable-column>
                  </ngx-datatable>
            </div>


      </mat-tab>
      <mat-tab label="Channels">
          <div id="channel-group-selector-container"  class="edit-tab-body">
            <div id="groups-container">
              <mat-selection-list dense *ngIf="availableChannelGroups" id="channel-group-selector" >
                  <mat-list-option 
                    *ngFor="let channelGroup of availableChannelGroups"
                    (click)="getChannelsForChannelGroup(channelGroup)"
                    >
                    {{channelGroup.name}}
                  </mat-list-option>
                </mat-selection-list>
            </div>

            <div>
              <h4 *ngIf="selectedChannelGroup">
                  Channels in {{selectedChannelGroup.name}}:
                </h4>
                <div id="selectedChannelsContainer">
                    <mat-list dense *ngIf="selectedChannelGroup?.channels">
                        <mat-list-item *ngFor="let channel of selectedChannelGroup.channels">
                            {{channel.nslc}}
                        </mat-list-item>
                      </mat-list>
          
                </div>
              </div>
            </div>
      </mat-tab>
      <mat-tab label="Thresholds" [disabled]="selectedMetrics.length === 0">
        <div class="edit-tab-body">
            <app-threshold-edit
              *ngIf="selectedMetrics"
              [thresholds]="widget?.thresholds"
              [metrics]="selectedMetrics"
              (thresholdsChanged)="thresholdsChanged($event)"
              ></app-threshold-edit>
        </div>

      </mat-tab>
    <mat-tab label="Options">
      <div class="edit-tab-body">
        This is where the chart options go
      </div>

    </mat-tab>
  </mat-tab-group>
  </div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()" [disabled]='!widgetForm.valid'>Save</button>
  <button mat-button type="button" class="warning" (click)="cancel()">Cancel</button>
</div>
