<div id="channel-group-header">
  <div>
    <span *ngIf="selectedChannelGroup[0]; else noGroup">
      <span class="label"> Selected Group: </span
      >{{ selectedChannelGroup[0].name }}
    </span>
    <ng-template #noGroup>
      <span>Select a channel group</span>
    </ng-template>
  </div>
  <div>
    <mat-slide-toggle [(ngModel)]="showOnlyUserOrg" (change)="filterOrg()">
      Only Show {{ userOrg?.name }} Groups
    </mat-slide-toggle>
  </div>
</div>

<div id="channel-group-selector-container">
  <ngx-datatable
    #channelTable
    id="channel-group-table"
    class="material"
    [rows]="availableChannelGroups"
    [columnMode]="ColumnMode.force"
    rowHeight="auto"
    [headerHeight]="30"
    [selectionType]="SelectionType.single"
    [selected]="selectedChannelGroup"
    (select)="onSelect($event)"
    [columns]="columns"
  ></ngx-datatable>
</div>
