<app-table-view title="Monitors" (refresh)="refresh()">
  <ng-container tableHeadControls>
    <button
      mat-icon-button
      aria-label="button that refreshes data"
      (click)="refresh()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <a mat-button [routerLink]="['alerts']">View All Alerts</a>
    <button
      mat-flat-button
      color="accent"
      *ngIf="'update' | able: 'Monitor'"
      class="add-btn"
      (click)="addMonitor()"
    >
      Create Monitor
    </button>
  </ng-container>
  <ng-container tableHeadFilters> </ng-container>
  <ng-container tableBody options="options">
    <ngx-datatable
      #monitorTable
      class="shared-view-table"
      id="monitor-table"
      [rows]="rows"
      [groupRowsBy]="'monitorId'"
      [columnMode]="ColumnMode.force"
      [scrollbarH]="false"
      [groupExpansionDefault]="true"
      rowHeight="auto"
      [footerHeight]="50"
      [messages]="messages"
    >
      <!-- Group Header Template -->
      <ngx-datatable-group-header [rowHeight]="50" #monitorHeader>
        <ng-template
          let-group="group"
          let-expanded="expanded"
          ngx-datatable-group-header-template
        >
          <div
            class="monitor-container"
            *ngIf="group.value[0].monitor as monitor"
          >
            <div class="monitor-status">
              <div class="alarm-status">
                <mat-icon *ngIf="monitor.inAlarm" color="accent"
                  >error_outline</mat-icon
                >
                <mat-icon *ngIf="!monitor.inAlarm" color="primary"
                  >check_circle_outline</mat-icon
                >
              </div>
              <div class="monitor-name">
                <strong>Name: </strong>{{ monitor.name }}
              </div>
              <div class="monitor-details">
                <strong>values: </strong> {{ monitor.stat }} of measurements for
                {{ monitor.metric.name }} metric over last
                {{ monitor.intervalCount }} {{ monitor.intervalType
                }}{{ monitor.intervalCount > 1 ? "s" : "" }}
              </div>
            </div>
            <div>
              <button
                mat-icon-button
                color="warn"
                class="add-btn"
                (click)="onDelete(monitor)"
                matTooltip="Delete monitor"
                aria-label="Button that deletes the channel group"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                class="add-btn"
                (click)="editMonitor(monitor.id)"
                matTooltip="Edit monitor"
                aria-label="Button that navigates to edit monitor page"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-column
        name="State"
        [width]="60"
        [minWidth]="60"
        [resizeable]="false"
        [sortable]="false"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          <ng-container *ngIf="row.lastAlarm as alarm; else noAlert">
            <a
              *ngIf="alarm.inAlarm"
              mat-icon-button
              color="accent"
              aria-label="monitor in alarm"
              matTooltip="View alert"
            >
              <mat-icon>error_outline</mat-icon>
            </a>
            <a
              *ngIf="!alarm.inAlarm"
              mat-icon-button
              color="primary"
              aria-label="
                monitor not in alarm
              "
              matTooltip="View alert"
            >
              <mat-icon>check_circle_outline</mat-icon>
            </a>
          </ng-container>
          <ng-template #noAlert>
            <a mat-icon-button aria-label="no alert data" disabled="true">
              <mat-icon>help_outline</mat-icon>
            </a>
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Last state update"
        [width]="160"
        [minWidth]="160"
        [resizeable]="false"
        [sortable]="false"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          <ng-container *ngIf="row.lastAlarm; else noAlert">
            <div>
              {{ row.inAlarm ? "in alarm" : "out of alarm" }}
            </div>
            <div>
              {{ row.lastAlarm.timestamp | date: "short" }}
            </div>
          </ng-container>
          <ng-template #noAlert>no alerts</ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Breaching channels"
        [sortable]="false"
        [width]="100"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          <ng-container *ngIf="row.lastAlarm; else noChannels">
            {{ row.lastAlarm.breaching_channels.length }}
          </ng-container>
          <ng-template #noChannels> N/A </ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="'In alarm' conditions"
        [sortable]="false"
        [width]="200"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          values for
          <span *ngIf="row.num_channels_operator !== '=='">
            {{ row.num_channels_operator }}
          </span>
          {{ row.num_channels }} channel(s) in
          {{ row.monitor.channelGroup.name }} are {{ row.value_operator }}
          {{ row.val1 }}
          <span *ngIf="row.val2"> and {{ row.val2 }} </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [sortable]="false" [width]="50">
        <ng-template ngx-datatable-cell-template let-row="row">
          <ng-container *ngIf="row.email_list; else noNotification">
            email
            {{
              row.alert_on_out_of_alarm
                ? "for all state changes"
                : "when in alarm"
            }}
          </ng-container>
          <ng-template #noNotification> none </ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Recipients" [sortable]="false" [width]="200">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.email_list }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </ng-container>
</app-table-view>
<router-outlet></router-outlet>
