<app-table-view title="Monitors" (refresh)="refresh()">
  <ng-container tableHeadControls>
    <button
      mat-icon-button
      aria-label="button that refreshes data"
      (click)="refresh()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <a mat-button [routerLink]="['alerts']">View All Alerts</a>
    <button
      mat-flat-button
      color="accent"
      *ngIf="'update' | able: 'Monitor'"
      class="add-btn"
      (click)="addMonitor()"
    >
      Create Monitor
    </button>
  </ng-container>
  <ng-container tableHeadFilters> </ng-container>
  <ng-container tableBody options="options">
    <ngx-datatable
      #monitorTable
      class="shared-view-table"
      id="monitor-table"
      [rows]="rows"
      [groupRowsBy]="'monitorId'"
      [columnMode]="ColumnMode.force"
      [scrollbarH]="false"
      [groupExpansionDefault]="true"
      rowHeight="auto"
    >
      <!-- Group Header Template -->
      <ngx-datatable-group-header [rowHeight]="50" #monitorHeader>
        <ng-template
          let-group="group"
          let-expanded="expanded"
          ngx-datatable-group-header-template
        >
          <div
            class="monitor-container"
            *ngIf="group.value[0].monitor as monitor"
          >
            <div class="monitor-status">
              <a
                href=""
                title="Expand/Collapse Group"
                (click)="toggleExpandGroup(group)"
              >
                <mat-icon *ngIf="!expanded">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="expanded">keyboard_arrow_down</mat-icon>
              </a>
              <div class="alarm-status">
                <a
                  *ngIf="monitor.inAlarm"
                  [color]="accent"
                  title="Expand/Collapse Group"
                  (click)="toggleExpandGroup(group)"
                  >in alarm
                </a>
                <a
                  *ngIf="!monitor.inAlarm"
                  [color]="primary"
                  title="Expand/Collapse Group"
                  (click)="toggleExpandGroup(group)"
                  >not in alarm
                </a>
              </div>
              <div class="monitor-name">
                {{ monitor.name }}
              </div>
            </div>

            <div>
              <strong>metric:</strong> {{ monitor.stat }} of
              {{ monitor.metric.name }}
            </div>
            <div>
              <button
                mat-icon-button
                color="warn"
                class="add-btn"
                (click)="onDelete(monitor)"
                matTooltip="Delete monitor"
                aria-label="Button that deletes the channel group"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                class="add-btn"
                (click)="editMonitor(monitor.id)"
                matTooltip="Edit monitor"
                aria-label="Button that navigates to edit monitor page"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-column
        name="State"
        [width]="80"
        [minWidth]="80"
        [resizeable]="false"
        [sortable]="false"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          <ng-container *ngIf="row.lastAlarm as alarm; else noAlert">
            <a
              *ngIf="alarm.inAlarm"
              mat-icon-button
              [color]="accent"
              aria-label="monitor in alarm"
              matTooltip="View alert"
              (click)="viewAlert(alarm.id)"
            >
              <mat-icon>error_outline</mat-icon>
            </a>
            <a
              *ngIf="!alarm.inAlarm"
              mat-icon-button
              [color]="primary"
              aria-label="
                monitor not in alarm
              "
              matTooltip="View alert"
              (click)="viewAlert(alarm.id)"
            >
              <mat-icon>check_circle_outline</mat-icon>
            </a>
          </ng-container>
          <ng-template #noAlert>
            <a mat-icon-button aria-label="no alert data" disabled="true">
              <mat-icon>help_outline</mat-icon>
            </a>
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Last state update"
        [width]="160"
        [minWidth]="160"
        [resizeable]="false"
        [sortable]="false"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.lastAlarm ? row.lastAlarm.timestamp : "" }}
          <ng-template #noAlert> false</ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Conditions" [sortable]="false" [width]="200">
        <ng-template ngx-datatable-cell-template let-row="row">
          Alarm if measurements for {{ row.num_channels_operator }}
          {{ row.num_channels }} channel(s) in
          {{ row.monitor.channelGroup.name }} are {{ row.value_operator }}
          {{ row.val1 }} {{ row.val2 }} in the last
          {{ row.monitor.intervalCount }}
          {{ row.monitor.intervalType }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [sortable]="false" [width]="100">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.alert_on_out_of_alarm ? "alert when out" : "alert when in" }}
          {{ row.email_list ? "email" : "" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Recipients" [sortable]="false" [width]="200">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.email_list }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </ng-container>
</app-table-view>

<!-- [scrollbarV]="50"
[rowHeight]="23"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="40" -->
<router-outlet></router-outlet>
