#monitors {
  width: 100%;
  height: 85%;
  overflow: hidden;
  text-align: unset;
  #monitor-table {
    width: 100%;
    height: 100%;
  }
}

.monitor-container {
  height: 40px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
