

<div id="title">
  <h1>
    Monitors
  </h1>

  <div id="button-container" >
    <a mat-button [routerLink]="[ '../alerts' ]">View All Alerts</a>
    <button mat-flat-button color="accent" *ngIf="'update' | able: 'Monitor'"
      class="add-btn" (click)="addMonitor()"
    >Create Monitor</button>
  </div>
</div>

  <div id="monitors" class="box">
    <ngx-datatable
      id="monitor-table"
      class="material"
      [rows]="monitors"
      [columnMode]="ColumnMode.flex"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="50"
      [selectionType]=SelectionType.single
      [selected]="selected"
      (select)="onSelect($event)"
    >
      <!-- <ngx-datatable-column name="Name" [draggable]="false" [sortable]="true" [flexGrow]="2"> 
      </ngx-datatable-column>
      <ngx-datatable-column name="Description" [draggable]="false" [sortable]="false" [flexGrow]="2">
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Monitor" prop="name" [draggable]="false" [sortable]="false" [flexGrow]="1">
      </ngx-datatable-column>
      <ngx-datatable-column name="Channel Group" prop="channelGroupId" [draggable]="false" [sortable]="false" [flexGrow]="1">
        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <strong>{{channelGroupName(value)}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Metric" prop="metricId" [draggable]="false" [sortable]="false" [flexGrow]="1">
        <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <strong>{{metricName(value)}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="inAlarm" [draggable]="false" [sortable]="false" [flexGrow]="0.5">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <strong>no data</strong>
        </ng-template>
      </ngx-datatable-column>

<!-- click to show more detail -->
    </ngx-datatable>
  </div>
<router-outlet></router-outlet>
