<div>
  <span
    class="cdk-visually-hidden"
    *ngIf="!shareOrg && !shareAll"
    aria-label="Icon that shows {{ resource }} is private"
  >
    {{ resource }} is private
  </span>
  <mat-icon
    *ngIf="!shareOrg && !shareAll"
    matTooltip="{{ resource | titlecase }} is private"
    >visibility_off</mat-icon
  >

  <span
    class="cdk-visually-hidden"
    *ngIf="shareOrg"
    aria-label="Icon that shows {{ resource }} is shared with organization"
  >
    {{ resource }} shared with organization
  </span>
  <mat-icon
    *ngIf="shareOrg && !shareAll"
    matTooltip="{{ resource | titlecase }} shared with organization"
    >visibility</mat-icon
  >

  <span
    class="cdk-visually-hidden"
    *ngIf="shareAll"
    aria-label="Icon that shows {{ resource }} is public"
  >
    {{ resource }} shared with all
  </span>
  <mat-icon
    *ngIf="shareAll"
    matTooltip="{{ resource | titlecase }} shared with all"
    >public</mat-icon
  >
</div>
