.widget-container {
  text-align: left;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 2px 2px;
}

.widget-header {
  width: 100%;
  padding: 1px;
  // height: 25px;

  #widget-name {
    font-weight: 400;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.hide-controls {
    display: none;
  }
}
.text-button {
  height: 20px;
  line-height: 20px;
}
.icon-button {
  // height: 18px;
  // width: 18px;
  // line-height: 18px;
  // margin-left: 1.5px;
  // padding: 0px;
}

.widget-content {
  flex-grow: 1;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}
