<div id="title">
  <h1>
    {{ editMode ? "Edit Channel Group" : "Create Channel Group" }}
  </h1>
</div>
<div id="edit-container">
  <div id="select-channels-container" class="box">
    <div id="selection-filter">
      <h2>Search for channels</h2>
      <div id="filter-container">
        <p class="help-text">
          Use the filters to the right to search for channels or use the map to search within a region.
        </p>
        <app-channel-groups-filter
          (filtersChanged)="getChannelsWithFilters($event)"
        >
        </app-channel-groups-filter>
        <div id="filter-button-container">
          <button
            mat-flat-button
            color="accent"
            (click)="addChannelsToSelected()"
            [disabled]="!availableChannels || availableChannels.length === 0"
          >
            Add Channels
          </button>
          <button
            mat-flat-button
            color="warn"
            (click)="undoSelectRemove()"
            [disabled]="!changeMade"
          >
            Undo Last
          </button>
        </div>
      </div>

    </div>
    <h3>Selection Preview</h3>
    <div id="preview-container">

      <div id="preview-list" class="table-container">
        <ngx-datatable
          *ngIf="!loading; else isLoading"
          #availableTable
          id="channel-selector"
          class="material"
          [rows]="availableChannels"
          [columnMode]="ColumnMode.flex"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarV]="true"
          rowHeight="auto"
          [limit]="9"
          [sortType]="SortType.multi"
        >
          <ngx-datatable-column
            name="Network"
            [draggable]="false"
            [sortable]="true"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.networkCode | uppercase }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Station"
            [draggable]="false"
            [sortable]="true"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row.stationCode | uppercase }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Location"
            [draggable]="false"
            [sortable]="true"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row.loc }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Channel"
            [draggable]="false"
            [sortable]="true"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row.code | uppercase }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <ng-template #isLoading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </div>
  
      <div id="map-box" >
        <app-channel-group-map
          [originalSelectedChannels]="originalSelectedChannels"
          [selectedChannels]="selectedChannels"
          [searchChannels]="searchChannels"
          [removeChannels]="filteredChannels"
          [isRemoving]="isSelectedFiltered"
          [editPage]="true"
          (boundsChange)="updateBounds($event)"
        ></app-channel-group-map>
      </div>
    </div>

  </div>
  <div id="create-group-container" class="box">
      <h2>Create Channel Group</h2>
      <form class="" [formGroup]="channelGroupForm" id="cg-form">
          <div id="cg-form-input">
            <mat-form-field class="channel-group-input">
              <input
                matInput
                placeholder="Name"
                formControlName="name"
              />
            </mat-form-field>
            <div class="channel-group-input">
              <mat-checkbox formControlName="shareOrg" >
                Share with org
              </mat-checkbox>
              <mat-checkbox formControlName="shareAll" >
                Share with all
              </mat-checkbox>
            </div>

            <mat-form-field id="description">
              <textarea
                matInput
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </mat-form-field>
          </div>

          <h3>Selected Channels</h3>
          <mat-expansion-panel
            [expanded]="isFilterOpen"
            (opened)="onFilteringOpen()"
            (closed)="onFilteringClose()"
            (keydown.enter)="$event.preventDefault()"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Remove channels with filter
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-channel-groups-filter
              #selectedFilter
              (filtersChanged)="onSelectedFilter($event)"
            >
            </app-channel-groups-filter>
            <button
              mat-flat-button
              color="warn"
              (click)="removeChannels()"
              [disabled]="!isSelectedFiltered"
            >
              Remove Channels
            </button>
          </mat-expansion-panel>

      </form>
        <ngx-datatable
          #selectedTable
          id="group-channels"
          class="material"
          [rows]="filteredChannels"
          [columnMode]="ColumnMode.flex"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarV]="true"
          rowHeight="auto"
          [selected]="filteredChannels"
          [selectionType]="SelectionType.checkbox"
          (select)="onSelect($event)"
        >
          <ngx-datatable-column
            [width]="50"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template ngx-datatable-header-template let-value="value">
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-row="row"
            >
              <button (click)="removeChannel(row)">X</button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Network"
            [draggable]="false"
            [sortable]="false"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.networkCode | uppercase }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Station"
            [draggable]="false"
            [sortable]="false"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row.stationCode | uppercase }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Location"
            [draggable]="false"
            [sortable]="true"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row.loc }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Channel"
            [draggable]="false"
            [sortable]="false"
            [resizeable]="false"
            [flexGrow]="1"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row.code | uppercase }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
    <div id="save-cancel-cg">
      <button 
        mat-icon-button 
        color="warn"
        class="add-btn"
        (click)="onDelete()"
        matTooltip="Delete channel group"
        aria-label="Button that deletes the channel group"
        > 
         <mat-icon>delete</mat-icon>
      </button>
      <button mat-button color="primary" (click)="formUnsaved()">
        Cancel
      </button>
      <ng-container *ngIf="editMode; else notEditMode">
        <button 
        *ngIf="'update' | able: 'ChannelGroup'"
        mat-icon-button 
        color="accent"
        class="add-btn"
        (click)="save()"
        [disabled]="selectedChannels?.length === 0"

        matTooltip="Save channel group"
        aria-label="Button that saves the changes to the channel group"
        > 
       <mat-icon>save</mat-icon>
        </button>
      </ng-container>
      <ng-template #notEditMode>
        <button 
        *ngIf="'create' | able: 'ChannelGroup'"
        mat-raised-button 
        color="accent"
        class="add-btn"
        (click)="save()"
        [disabled]="selectedChannels?.length === 0"

        matTooltip="Create channel group"
        aria-label="Button that creates the channel group"
        > 
        Create
        </button>
      </ng-template>
      

    </div>
  </div>

</div>

