<mat-drawer-container
  autosize
  id="dashboard-sidenav"
  class="dense-sidenav"
>
  <mat-drawer
    #drawer
    class="sidenav"
    [(opened)]="sideNavOpened"
    (opened)="toggleSidenav()"
    (closed)="toggleSidenav()"
    mode="side"
  >
    <h4 class="mat-h4">Channels</h4>

    <dashboard-channel-filter (closeSidenav)="drawer.toggle()"></dashboard-channel-filter>
  </mat-drawer>

  <div class="sidenav-content">
    <ng-container *ngIf="widgetItems.length > 0; else noWidgets">
      <gridster
        id="dashboard-content"
        [options]="options"
      >
        <gridster-item
          [item]="item"
          *ngFor="let item of widgetItems; trackBy: trackBy"
        >
          <div class="drag-handler"></div>
          <widget-detail
            class="widget-detail"
            [widget]="item['widget']"
            [dashboards]="dashboards"
            [canUpdate]="canUpdate"
          ></widget-detail>
        </gridster-item>
      </gridster>
    </ng-container>
    <shared-loading *ngIf="loading"></shared-loading>
    <ng-template #noWidgets>
      <div
        *ngIf="!loading && !error"
        class="column centered"
      >
        <p class="mat-body">There are currently no widgets for this dashboard.</p>
        <button
          mat-flat-button
          *ngIf="canUpdate"
          color="accent"
          aria-label="Add widget"
          (click)="addWidget()"
        >
          Add Widget
        </button>
      </div>

      <div *ngIf="error">
        <p>
          {{ error }}
        </p>
      </div>
    </ng-template>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>