.table-container {
  flex-grow: 1;
  height: 100%;
  min-height: 250px;
  .channel-table {
    height: 100%;
    .datatable-body {
      width: 100%;
    }
  }
}

button {
  height: 20px;
  width: 20px;
  line-height: unset;
}
