#admin-content {
  flex-direction: row;
  display: flex;
  justify-content: center;
  #column {
    flex-direction: column;
    display: flex;
    width: 35%;
    min-width: 200px;
    max-width: 600px;
  }
}
