
<div id="column" *ngIf="user; else noUser">
  <h1>User Settings</h1>
  <p>Hello, {{user.firstName}} {{user.lastName}}!</p>

  <p>
    Organization: <a [routerLink]="[ '/organizations', user.orgId ]">{{user.orgId | organization}} </a> 
    ({{user.orgAdmin ? "Admin" : "User"}})
    <a mat-button color="primary" [routerLink]="[ '../organizations' ]">View All Organizations</a>
  </p>
  <p>Email: {{user.email}}</p>

  <div id="user-info-top">
    <h2>User Information</h2>
    <button
      mat-icon-button
      color="accent" 
      *ngIf="editMode" 
      [disabled]="!userForm.valid" 
      (click)="save()"
      matTooltip="Save user information."
      aria-label="Button that saves the user information."
      ><mat-icon>save</mat-icon></button>
    <button
      mat-icon-button
      color="primary"
      (click)="editForm()"
      *ngIf="!editMode"
      matTooltip="Edit user information."
      aria-label="Button that enables editing of the user information."
      >
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <form [formGroup]="userForm">
    <div class="form-group">
      <div id="label">
        First Name:
      </div>
      <mat-form-field >
        <input
          matInput
          formControlName="firstName"
          [readonly]="!editMode">
      </mat-form-field>
    </div>
    <div class="form-group">
      <div id="label">
        Last Name:
      </div>
      <mat-form-field >
        <input matInput formControlName="lastName" [readonly]="!editMode">
      </mat-form-field>
    </div>
  </form>

</div>

<ng-template #noUser>
  <p>
    Loading user information, please wait.
  </p>

</ng-template>

