#monitor-body {
  mat-form-field {
    margin: 0px 10px;
  }
  div {
    display: inline-block;
  }
}
#trigger-table {
  width: 100%;
  th {
    text-align: left;
  }
}

#edit-title {
  margin-bottom: 10px;
  h3 {
    display: inline;
  }
  button {
    float: right;
  }
}

h3 {
  margin-bottom: 10px;
}
