<header class="blue">
  <div class="logo">
      <img src="/assets/blue_squacLogo_rgb.png" alt="SQUAC logo">
  </div>
</header>

<div class="box" id="login">
  <h1>Sign In</h1>
  <form #logInForm="ngForm" (ngSubmit)="onSubmit(logInForm)" *ngIf="!isLoading">
    <div class="form-group">
      <label for="email"><p>Email</p></label>
      <input type="email" id="email" class="form-control" ngModel name="email" required email />
    </div>
    <div class="form-group">
      <label for="password"><p>Password</p></label>
      <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6" />
      <p id="pw-reset">Forgot password?</p>
    </div>
    <div>
      <button class="btn btn-primary" type="submit" [disabled]="!logInForm.valid">
        Sign In </button>
      <p id="no-acct">Don't have an account? Contact XXXXXXXX</p>
    </div>
  </form>
</div>