
header {
  display: block;
  text-align: center;
  height: 325px;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;

  img {
    margin: 50px;
    height: 100px;
    width: auto;
  }
}

#login {
  height: 400px;
  width: 400px;
  margin: 200px auto;
  z-index: 1;

  form {
    text-align: center;

    .form-group {
      text-align: left;
      margin-bottom: 30px;

      label {
        line-height: 0.1em;
        margin-top: 25px;
      }
      
      input {
        width: 275px;
        line-height: 2em;
        border: 2px solid var(--sq-gray);
        border-radius: 5px;
      }
    }

    button {
      margin-top: 30px;
      width: 275px;
    }
  }
}

#pw-reset, #no-acct {
  color: var(--sq-gray);
  line-height: 0;
}