<div class="row">
  <h1>Please log in...</h1>
  
  <form #logInForm="ngForm" (ngSubmit)="onSubmit(logInForm)" *ngIf="!isLoading">
    <div class="form-group">
      <label for="email">E-Mail: </label>
      <input type="email" id="email" class="form-control" ngModel name="email" required email />
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6" />
    </div>
    <div>
      <button class="btn btn-primary" type="submit" [disabled]="!logInForm.valid">
        Log In </button>
    </div>
  </form>
</div>
