@import 'src/variables.scss';

header {
  display: block;
  text-align: center;
  height: 325px;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;

  img {
    margin: 50px;
    height: 100px;
    width: auto;
  }
}

#login {
  height: 400px;
  width: 400px;
  margin: 200px auto;
  z-index: 1;

  form {

    button {
      margin-top: 30px;
      width: 275px;
    }
  }
}

#pw-reset, #no-acct {
  color: $sq-gray;
  line-height: 0;
}