@import "variables";

#loading-container {
  position: absolute;
  background-color: $sq-blue;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #loading-gif img {
    height: 100px;
    width: 100px;
  }
  div {
    color: $sq-lt-gray;
  }

  li {
    color: $sq-lt-gray;
    list-style-type: none;
  }
}
