<h1>Material Test</h1>
<div class="white-background">
  <h2>Buttons</h2>
  <div>
    <div
      class="row space-between"
      *ngFor="let color of ['', 'primary', 'accent', 'warn']"
    >
      <button
        mat-button
        class="medium"
        [color]="color"
      >mat-button {{color}}</button>
      <button
        mat-flat-button
        [color]="color"
      >mat-flat-button {{color}}</button>
      <button
        mat-stroked-button
        [color]="color"
      >mat-stroked-button {{color}}</button>
      <button
        mat-raised-button
        [color]="color"
      >mat-raised-button {{color}}</button>
      <button
        mat-icon-button
        [color]="color"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>

  </div>
  <div class="row space-between">
    <button
      mat-flat-button
      color="primary"
    ><mat-icon>home</mat-icon> button with icon</button>
  </div>
</div>

<div class="white-background">
  <h2>Icons</h2>
  <div>
    <div>
      normal
      <mat-icon>home</mat-icon>
    </div>
    <div>
      normal icon button
      <button mat-icon-button><mat-icon>home</mat-icon></button>
    </div>
    <div>
      icon-button
      <mat-icon class="icon-button">home</mat-icon>
    </div>
    <div>
      icon button in button
      <button
        mat-icon-button
        class="icon-button"
      ><mat-icon>home</mat-icon></button>
    </div>
    <div>
      icon in normal button
      <button
        mat-button
        class="icon-button"
      >
        <mat-icon>home</mat-icon>
      </button>

    </div>
    <div>
      icon-button in normal button
      <button
        mat-button
        class="icon-button"
      ><mat-icon>home</mat-icon></button>
    </div>

    <div>
      Sizing
      <mat-icon class="small">home</mat-icon>
      <mat-icon class="">home</mat-icon>
      <button
        mat-button
        class="icon-button small"
      ><mat-icon>home</mat-icon></button>
      <button
        mat-button
        class="icon-button"
      ><mat-icon>home</mat-icon></button>
    </div>
  </div>

</div>
<div class="white-background">
  <h2>Forms</h2>
  <form
    action=""
    class="form"
  >


    <mat-checkbox>checkbox</mat-checkbox>

    <button
      mat-button
      [matMenuTriggerFor]="menu"
    >menu trigger</button>
    <mat-menu
      #menu="matMenu"
      class="mat-menu-dense"
    >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

  </form>
</div>