@import "variables";
@import "mixins";

.form-content {
  height: 100%;
  gap: 5px;
  width: 100%;
  justify-items: stretch;
  align-items: stretch;
}

#widget-type-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1 1;
  overflow: hidden;
  width: 100%;
  justify-content: stretch;
  height: 100%;
  .preview-container {
    width: 100%;
  }
  .label {
    display: block;
  }
  #type-detail-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;

    gap: 5px;
    justify-content: start;
    p {
      margin-top: 0px;
      font-weight: light;
    }
  }
}

.option-container {
  overflow: wrap;
  white-space: normal;
  // text-overflow: ;
}

#chart-container {
  width: 50%;
  height: 300px;
}
#mat-button-toggle-container {
  width: 100px;
  mat-button-toggle-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    // width: 100px;
    border-radius: 0;
    border: solid 0.5px $sq-blue !important;
    mat-button-toggle {
      height: 36px;
      color: $sq-blue;
      flex: 1 1;
    }
    .type-label {
      line-height: 36px;
    }

    mat-button-toggle.mat-button-toggle-checked {
      img {
        &.dark {
          display: none;
        }
        &.white {
          display: block;
        }
      }
      border: solid 0.5px $sq-blue;
      color: white;
      background-color: $sq-blue;
    }
  }
}
