<form
  action=""
  [formGroup]="widgetForm"
  (change)="checkValid()"
  class="column form-content"
>
  <div>
    <div class="label">Title:</div>
    <mat-form-field floatLabel="never" class="large">
      <input
        matInput
        type="text"
        id="name"
        formControlName="name"
        placeholder="Widget title"
        required
      />
      <mat-error *ngIf="widgetForm.get('name').hasError('required')"
        >Please add a title.</mat-error
      >
    </mat-form-field>
  </div>

  <div class="label">Widget type:</div>
  <mat-error
    *ngIf="widgetForm.touched && widgetForm.get('type').hasError('required')"
    >Please select a widget type.</mat-error
  >
  <div id="widget-type-container" (mouseleave)="changePreviewType()">
    <div id="mat-button-toggle-container">
      <mat-button-toggle-group formControlName="type">
        <mat-button-toggle
          *ngFor="let widgetType of WidgetType | keyvalue"
          [value]="widgetType.value"
          (mouseenter)="changePreviewType(widgetType.value)"
        >
          <div class="type-label">
            {{ WidgetTypeInfo[widgetType.value].config.name | titlecase }}
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <ng-container *ngIf="previewType; else selectWidget">
      <ng-container *ngIf="WidgetTypeInfo[previewType].config as config">
        <div class="preview-container row">
          <div id="type-detail-container" (click)="updateType()">
            <div class="label">
              {{ WidgetTypeInfo[previewType].config.name | titlecase }}:
            </div>
            <div id="description">
              <!-- <div class="label">Description:</div> -->
              <p class="help-text">
                {{ config.description }}
              </p>
            </div>

            <div id="stat-type-container" *ngIf="config.useAggregate">
              <div class="label">Select measurement aggregation:</div>
              <mat-form-field class="dense-form-field-select">
                <mat-select formControlName="stat" required>
                  <mat-option
                    *ngFor="let statType of WidgetStatType"
                    [value]="statType"
                  >
                    {{ WIDGET_STAT_TYPE_NAMES[statType] }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div
              id="display-container"
              class="column"
              *ngIf="config.displayOptions"
            >
              <div class="label">Select display type:</div>
              <mat-radio-group
                formControlName="displayType"
                class="dense-radio-button-group"
              >
                <mat-radio-button
                  *ngFor="let option of config.displayOptions | keyvalue"
                  [value]="option.key"
                  class="radio-button-dense"
                  ><div class="option-container">
                    <span>{{ option.value.description }}</span>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div id="chart-container">
            <div class="label">Example Chart:</div>
            <div
              appWidgetTypeExample
              [type]="previewType"
              [displayType]="displayType"
              [properties]="properties"
              [stat]="stat"
            ></div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #selectWidget>
      <p>Select a widget type.</p>
    </ng-template>
  </div>
</form>
