/**
* Style overrides for angular material components. Use caution with sizing, classes may
* change with updates. Always apply styling to components with custom classes, never apply changes
* to all components.
*/

.dense-form-field {
}
// @include mat.tree-density(-2);
// density config, will change if material implements more native density control
$dense-checkbox-size: 28px;
$dense-icon-size: 20px;
$dense-icon-button-size: 28px;
$dense-menu-item-height: 30px;
$dense-option-height: 30px;

// mat-checkbox, smaller checkbox field
$dense-checkbox-padding-size: calc(($dense-checkbox-size - 18px) / 2);
.dense-checkbox {
  .mdc-form-field > .mdc-checkbox {
    padding: $dense-checkbox-padding-size;
    input[type="checkbox"] {
      height: $dense-checkbox-size;
      width: $dense-checkbox-size;
    }
    .mdc-checkbox__background {
      top: $dense-checkbox-padding-size;
      left: $dense-checkbox-padding-size;
    }
  }
}

// mat-icon-button, smaller button and icon
.dense-icon-button.mat-mdc-icon-button.mat-mdc-button-base {
  height: $dense-icon-button-size;
  width: $dense-icon-button-size;
  padding: calc(($dense-icon-button-size - $dense-icon-size) / 2);

  mat-icon {
    height: $dense-icon-size;
    width: $dense-icon-size;
    font-size: $dense-icon-size;
  }
}

.dense-menu {
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      min-height: $dense-menu-item-height;
    }
  }
}

.dense-option.mat-mdc-option {
  min-height: $dense-option-height;
}
.dense-select.mat-mdc-select {
  .mat-mdc-select-trigger {
    .mat-mdc-select-arrow-wrapper {
      transform: none;
    }
  }
  .mat-mdc-option {
    min-height: $dense-option-height;
  }
}

.dense-optgroup {
  .mat-mdc-optgroup-label,
  .mat-mdc-option {
    min-height: $dense-option-height;
  }
}
