// Angular Material overrides
@import "variables";
$xsmall: 16px;
$small: 18px;
$medium: 20px;

$default: $medium;

$button-height: 32px;
$menu-item-height: 28px;

mat-icon {
  &.small {
    font-size: $small;
    height: $small;
    width: $small;
    line-height: $small;
    vertical-align: middle;
  }
  &:not(.small) {
    font-size: $default;
    line-height: $default;
    height: $default;
    width: $default;
    vertical-align: middle;
  }
  &[color="gray"] {
    color: $sq-lt-gray;
  }
}

//get rid of rounded corners
.mat-button,
.mat-flat-button,
.mat-stroked-button,
.mat-raised-button {
  &.icon-button {
    border-radius: 0;
    padding: 0px 4px;
    width: auto;
    height: 20px;
    line-height: normal;
    min-width: 0;
  }
  &:not(.icon-button) {
    border-radius: 0;
    padding: 5px 8px;
    height: $button-height;
    min-width: 20px;
    line-height: normal;
    mat-icon {
      font-size: $xsmall;
      line-height: calc($xsmall - 2px);
      height: $xsmall;
      width: $xsmall;
      margin-right: 2px;
    }
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    background-color: white;
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0;
    }
    &.mat-form-field-outline-thick {
      color: $sq-blue;
      .mat-form-field-outline-start,
      .mat-form-field-outline-end {
        border-width: 2px;
      }
    }
  }
}

.dense-form-field {
  .mat-form-field-flex {
    align-items: center;
    height: 37px;
    padding: 5px 0 0 5px !important;
    margin-top: 3px;
  }
  .mat-form-field-wrapper {
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
  .mat-form-field-infix {
    padding: 0 0 0 0 !important;
    border-top: none;
    .mat-form-field-label-wrapper {
      padding-top: 0 !important;
      margin-left: 1px;
    }
  }
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: 0.15em !important;
  }
  .mat-select-trigger {
    .mat-select-arrow-wrapper {
      transform: unset;
    }
  }
  .mat-form-field-underline {
    bottom: 0.4em !important;
  }
}

.dense-form-field-select {
  @extend .dense-form-field;
}

.dense-radio-button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .mat-radio-container,
  .mat-radio-inner-circle,
  .mat-radio-outer-circle {
    height: 15px !important;
    width: 15px !important;
  }
}

mat-option,
.mat-optgroup-label {
  height: 25pt !important;
  line-height: 25pt !important;
  span {
    line-height: 25pt;
  }
}

mat-form-field {
  &.xsmall {
    width: 100px;
  }
  &.small {
    width: 150px;
  }
  &.smedium {
    width: 200px;
  }
  &.medium {
    width: 250px;
  }
  &.large {
    width: 400px;
  }
}

// Material overrides
.mat-list-item.active {
  color: $sq-dk-blue;
  background-color: $sq-lt-gray;
}

mat-sidenav {
  &[color="primary"] {
    background-color: $sq-blue;
    color: white;
  }
}
.dense-button-toggle {
  height: 33px;
  &.mat-button-toggle-group-appearance-standard {
    border-radius: 0px;
  }
  .mat-button-toggle-button {
    span {
      min-width: 36px;
      padding: 0px 6px !important;
      line-height: 2 !important;
    }
  }
}

button[mat-menu-item] {
  &:not([disabled]) {
    &[color="accent"] {
      color: $sq-yellow;
    }
    &[color="warn"] {
      color: $sq-warn;
    }
    &[color="primary"] {
      color: $sq-blue;
    }
    &[color="gray"] {
      color: $sq-lt-gray;
    }
  }
  &.active {
    background-color: lighten($sq-lt-blue, 10%) !important;
  }
  &.active:hover {
    background-color: $sq-lt-blue !important;
  }
  &[disabled]:hover {
    background-color: transparent !important;
  }
  &:hover {
    background-color: $sq-lt-gray !important;
  }
}

.mat-menu-dense {
  &.mat-menu-panel {
    min-width: 150px;
    min-height: 46px;
  }
  button.mat-menu-item {
    .mat-icon {
      margin-right: 8px;
    }
    height: $menu-item-height;
    line-height: normal;
  }
  a.mat-menu-item {
    height: $menu-item-height;
    line-height: $menu-item-height;
  }
}
.mat-nav-list-dense {
  .mat-nav-list {
    a {
      height: $menu-item-height;
    }
  }
}

.mat-snack-bar-themed {
  margin: 0 !important;
  top: 90px;
  position: relative;
  background-color: $sq-dk-gray !important;
  opacity: 0.9;
}

.mat-horizontal-stepper-header-container,
.mat-horizontal-stepper-header,
.mat-step-header,
mat-step-header {
  height: 40px !important;
}

mat-horizontal-stepper {
  width: 100%;
  overflow-y: scroll;
}

.mat-horizontal-content-container {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.mat-dialog-container {
  padding-top: 10px !important;
}

mat-checkbox {
  height: $default;
  .mat-checkbox-inner-container {
    height: 12px !important;
    width: 12px !important;
    margin-right: 5px;
  }
  .mat-ripple {
    display: none !important;
  }
  .mat-checkbox-label div {
    font-size: 10pt !important;
  }
}

// .mat-dialog-actions {
//   min-height: 36px !important;
//   margin-bottom: 0px !important;
// }
