/* Colors variables for Squac */
@use "@angular/material" as mat;
@import "./squac-theme.scss";

@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker

$squac-ui-primary: mat.define-palette($mat-sqblue, 500, 300, 700);
$squac-ui-accent: mat.define-palette($mat-sqyellow, 500, 300, 700);
$squac-ui-neutral: mat.define-palette($mat-sqgray, 300, 50, 600);

// The warn palette is optional (defaults to red).
$squac-ui-warn: mat.define-palette(mat.$red-palette, 300);

$my-custom-typography-config: mat.define-typography-config(
  $font-family: "Source Sans Pro",
  $headline-1:
    mat.define-typography-level(80px, 80px, 300, $letter-spacing: -1.5px),
  $headline-2:
    mat.define-typography-level(60px, 60px, 300, $letter-spacing: -0.5px),
  $headline-3:
    mat.define-typography-level(48px, 50px, 400, $letter-spacing: 0px),
  $headline-4:
    mat.define-typography-level(34px, 40px, 400, $letter-spacing: 0.25px),
  $headline-5:
    mat.define-typography-level(24px, 32px, 400, $letter-spacing: 0px),
  $headline-6:
    mat.define-typography-level(20px, 32px, 600, $letter-spacing: 0.15px),
  $subtitle-1:
    mat.define-typography-level(16px, 28px, 400, $letter-spacing: 0.15px),
  $subtitle-2:
    mat.define-typography-level(16px, 22px, 600, $letter-spacing: 0.1px),
  $body-1: mat.define-typography-level(16px, 23px, 400, $letter-spacing: 0.5px),
  $body-2: mat.define-typography-level(16px, 24px, 400, $letter-spacing: 0.25px),
  $caption: mat.define-typography-level(12px, 12px, 400, $letter-spacing: 0.4px),
  $button: mat.define-typography-level(16px, 16px, 600),
  $overline:
    mat.define-typography-level(10px, normal, 400, $letter-spacing: 1.54px),
);

// Create the theme object (a Sass map containing all of the palettes).
$squac-ui-theme: mat.define-light-theme(
  (
    color: (
      primary: $squac-ui-primary,
      accent: $squac-ui-accent,
      warn: $squac-ui-warn,
    ),
    typography: $my-custom-typography-config,
    density: -2,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($squac-ui-theme);
@include mat.typography-hierarchy($my-custom-typography-config);

@include mat.form-field-density(-5);
@include mat.input-density(-5);
@include mat.select-density(-5);
@include mat.button-toggle-density(-4);
@include mat.checkbox-density(-3);
@include mat.menu-density(-3);
@include mat.list-density(-3);
@include mat.button-density(-1);
$sq-yellow: mat.get-color-from-palette($squac-ui-accent);
$sq-gray: mat.get-color-from-palette($squac-ui-neutral);
$sq-blue: mat.get-color-from-palette($squac-ui-primary);
$sq-warn: mat.get-color-from-palette($squac-ui-warn);

$sq-dk-yellow: mat.get-color-from-palette($squac-ui-accent, darker);
$sq-dk-blue: mat.get-color-from-palette($squac-ui-primary, darker);
$sq-lt-blue: lighten($sq-blue, 50);
$sq-dk-gray: mat.get-color-from-palette($squac-ui-neutral, darker);

$sq-lt-gray: mat.get-color-from-palette($squac-ui-neutral, lighter);

$default-border: 1px solid darken($sq-lt-gray, 10);
$light-border: 1px solid $sq-lt-gray;
$default-shadow: 0px 0px 4px $sq-gray;
