/* Colors variables for Squac */
@use "@angular/material" as mat;
@import "./squac-theme.scss";
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker

$squac-ui-primary: mat.define-palette($mat-sqblue, 500, 300, 700);
$squac-ui-accent: mat.define-palette($mat-sqyellow, 500, 300, 700);
$squac-ui-neutral: mat.define-palette($mat-sqgray, 300, 50, 600);

// The warn palette is optional (defaults to red).
$squac-ui-warn: mat.define-palette(mat.$red-palette, 300);

// Create the theme object (a Sass map containing all of the palettes).
$squac-ui-theme: mat.define-light-theme(
  $squac-ui-primary,
  $squac-ui-accent,
  $squac-ui-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($squac-ui-theme);

$sq-yellow: mat.get-color-from-palette($squac-ui-accent);
$sq-gray: mat.get-color-from-palette($squac-ui-neutral);
$sq-blue: mat.get-color-from-palette($squac-ui-primary);
$sq-warn: mat.get-color-from-palette($squac-ui-warn);

$sq-dk-yellow: mat.get-color-from-palette($squac-ui-accent, darker);
$sq-dk-blue: mat.get-color-from-palette($squac-ui-primary, darker);
$sq-lt-blue: lighten($sq-blue, 50);
$sq-dk-gray: mat.get-color-from-palette($squac-ui-neutral, darker);

$sq-lt-gray: mat.get-color-from-palette($squac-ui-neutral, lighter);

$default-border: 1px solid darken($sq-lt-gray, 10);
$light-border: 1px solid $sq-lt-gray;
$default-shadow: 0px 0px 4px $sq-gray;
