/* Colors variables for Squac */
@use "@angular/material" as mat;
@import "./squac-theme.scss";
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker

$squac-ui-primary: mat.define-palette($mat-sqblue, 500, 300, 700);
$squac-ui-accent: mat.define-palette($mat-sqyellow, 500, 300, 700);
$squac-ui-neutral: mat.define-palette($mat-sqgray, 300, 50, 600);

// The warn palette is optional (defaults to red).
$squac-ui-warn: mat.define-palette(mat.$red-palette, 300);

// Create the theme object (a Sass map containing all of the palettes).
$squac-ui-theme: mat.define-light-theme(
  $squac-ui-primary,
  $squac-ui-accent,
  $squac-ui-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($squac-ui-theme);

$sq-yellow: mat.get-color-from-palette($squac-ui-accent);
$sq-gray: mat.get-color-from-palette($squac-ui-neutral);
$sq-blue: mat.get-color-from-palette($squac-ui-primary);
$sq-warn: mat.get-color-from-palette($squac-ui-warn);

$sq-dk-yellow: mat.get-color-from-palette($squac-ui-accent, darker);
$sq-dk-blue: mat.get-color-from-palette($squac-ui-primary, darker);
$sq-lt-blue: lighten($sq-blue, 50);
$sq-dk-gray: mat.get-color-from-palette($squac-ui-neutral, darker);

$sq-lt-gray: mat.get-color-from-palette($squac-ui-neutral, lighter);

$default-border: 1px solid darken($sq-lt-gray, 10);
$light-border: 1px solid $sq-lt-gray;
$default-shadow: 0px 0px 4px $sq-gray;
