@import "variables";

form {
  display: flex;
  flex-direction: column;
  mat-form-field {
    margin-top: 15px;
  }
  .mat-form-field-wrapper {
    margin: 0.12em 0;
  }
  #forgot-password {
    align-self: flex-start;
    margin-bottom: 15px;
  }
}

a {
  color: $sq-dk-gray;
  font-size: 0.9rem;
}
