<h2 mat-dialog-title>{{ editMode ? "Edit Dashboard" : "New Dashboard" }}</h2>
<div mat-dialog-content>
  <form
    class="centered-form"
    action=""
    [formGroup]="dashboardForm"
  >
    <mat-form-field class="medium">
      <mat-label>Dashboard name</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Name"
        type="text"
        id="name"
      />
      <!-- <mat-error *ngIf="name.invalid">Please name your dashboard</mat-error> -->
    </mat-form-field>
    <mat-form-field class="large">
      <mat-label>Dashboard description</mat-label>
      <textarea
        matInput
        id="description"
        placeholder="Description"
        formControlName="description"
        class="form-control"
      >
      </textarea>
      <!-- <mat-error *ngIf="description.invalid">Please enter a description for your dashboard</mat-error> -->
    </mat-form-field>
    <div class="custom-form-field">
      <span class="label">Dashboard sharing</span>
      <shared-sharing-toggle
        [filterText]="filterText"
        [(shareAll)]="shareAll"
        [(shareOrg)]="shareOrg"
        [orgId]="orgId"
        [isFormInput]="true"
      ></shared-sharing-toggle>

      <p
        *ngIf="shareAll"
        class="mat-small"
      >
        Public dashboards should use public channel groups or other users will
        not be able to view the group.
      </p>
      <p
        *ngIf="shareOrg && !shareAll"
        class="mat-small"
      >
        Organization dashboards should use public or organization channel groups
        or other users will not be able to view the group.
      </p>
      <p
        *ngIf="!shareOrg && !shareAll"
        class="mat-small"
      >
        Private dashboards can use private, organization, or public channel
        groups.
      </p>
    </div>
  </form>
  <div class="custom-form-field">
    <span class="label">Default Channel Group (optional)</span>
    <shared-channel-group-selector
      [(channelGroupId)]="channelGroupId"
      label="Channel Group"
    >
    </shared-channel-group-selector>
  </div>
</div>

<div
  mat-dialog-actions
  class="dialog-options"
>
  <button
    class="dialog-cancel"
    mat-stroked-button
    (click)="cancel()"
    type="button"
  >
    Cancel
  </button>

  <button
    class="dialog-save"
    mat-flat-button
    color="accent"
    (click)="save()"
    [disabled]="!dashboardForm.valid"
  >
    Save
  </button>

</div>