#dashboard-content {
  background: unset;
  // padding: 7px !important;
  gridster-item {
    background-color: transparent;
  }
}

.drag-handler {
  height: 25px;
  width: 90%;
  display: inline;
  position: absolute;
  color: transparent;
  &:hover {
    color: #c5c3c3;
    cursor: move;
  }
}

#add-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 20px;
  }
}
h4.header {
  margin: 3px 0;
  padding-left: 7px;
}

.sidenav-toggle-container {
  margin-top: 10px;
  margin-left: -20px;
  position: absolute;
  z-index: 800 !important;
  visibility: visible !important;
  button {
    color: white;
  }
}

mat-drawer-container {
  z-index: 0;
  height: 100%;
  width: 100%;
}

.sidenav-content {
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.mat-drawer {
  width: 140px;
  padding: 0px;
}
