<h3>
  Channel Groups
</h3>
<div>Selected: {{selectedChannelGroup[0] ? selectedChannelGroup[0].name : "Select a channel group"}}</div>
<div id="channel-group-selector-container">

  <ngx-datatable
  #channelTable
  id="channel-group-table"
  class="material"
  [rows]="availableChannelGroups"
  [columnMode]="ColumnMode.flex"
  [footerHeight]="50"
  [rowHeight]="30"
  [scrollbarV]="true"
  [headerHeight]="30"
  [selectionType]=SelectionType.single
  [selected]="selectedChannelGroup"
  (select)="onSelect($event)"

>
  <ngx-datatable-column name="Name" [draggable]="false" [sortable]="true" [flexGrow]="1"   [resizeable]="false"> 
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" [draggable]="false" [sortable]="false" [flexGrow]="2"   [resizeable]="false">
  </ngx-datatable-column>
  <ngx-datatable-column name="Org" prop="orgId" [draggable]="false" [sortable]="false" [flexGrow]="0.5"   [resizeable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.orgId | organization}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="# Channels" [draggable]="false" [sortable]="false" [flexGrow]="0.5"   [resizeable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ row.channelIds ? row.channelIds.length : '0'}}
    </ng-template>
  </ngx-datatable-column>
<!-- 
  <ngx-datatable-column [draggable]="false" [sortable]="false" [flexGrow]="0.5">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button mat-button (click)="viewChannels(row.id)">View</button>
    </ng-template>
  </ngx-datatable-column> -->
</ngx-datatable>
</div>