<h3>
  Channel Groups
</h3>
<div>
  <span *ngIf="selectedChannelGroup[0]; else noGroup">
    Selected Group: {{selectedChannelGroup[0].name}}
  </span>
  <ng-template #noGroup>
    <span>Select a channel group</span>
  </ng-template>
  <mat-slide-toggle [(ngModel)]="showOnlyUserOrg" (change)="filterOrg()">
    Only Show {{ userOrg?.name }} Groups
  </mat-slide-toggle>
</div>

<div id="channel-group-selector-container">

  <ngx-datatable
  #channelTable
  id="channel-group-table"
  class="material"
  [rows]="availableChannelGroups"
  [columnMode]="ColumnMode.force"
  [footerHeight]="50"
  [rowHeight]="23"
  [scrollbarV]="true"
  [headerHeight]="30"
  [selectionType]=SelectionType.single
  [selected]="selectedChannelGroup"
  (select)="onSelect($event)"
  [columns]="columns"
></ngx-datatable>
</div>