@import '../../../../../../styles/variables.scss';
#channel-group-selector-container {
  display:flex;
  width: 100%;
  flex-direction: row;

  overflow:hidden;
  padding-top: 15px;
  .selected {
    background-color: $sq-blue;
    color: white;
  }

  #channel-group-table {
    height: 485px;
  }
}

mat-slide-toggle {
  float: right;
}
// #selected-channels, #channel-group-selector,  #channel-group-detail  {
//   height:100%;
//   overflow:scroll;
//   padding: 10px 0px;
// }

// #channel-group-detail {
//   .detail-subhead {
//     font-weight: bold;
//   }
// }

// #selected-channels, #channel-group-detail {

//   display: inline-block;
// }

// #selected-channels {
//   width: 150px;
// }
// .edit-tab-body {
//   height: 500px;
//   overflow:hidden;
// }

