@import '../../../../../../styles/variables.scss';
#channel-group-selector-container {
  display:flex;
  width: 100%;
  flex-direction: row;

  overflow:hidden;
  padding-top: 15px;
  .selected {
    background-color: $sq-blue;
    color: white;
  }
}

:host ::ng-deep #channel-group-selector {
 mat-pseudo-checkbox.mat-pseudo-checkbox {
    display:none !important;
  }
}

#groups-container, #selection-container {
  height:480px;
}

#groups-container {
  width: 30%;
}

#selection-container {
  width: 70%;
  padding: 10px;
  overflow:hidden;
  // background-color: $sq-lt-gray;
  #channel-group-details{
    height: 100%;
  }
}

#selected-channels, #channel-group-selector,  #channel-group-detail  {
  height:100%;
  overflow:scroll;
  padding: 10px 0px;
}

#channel-group-detail {
  font-size: 12pt;
  .detail-subhead {
    font-weight: bold;
  }
}

#selected-channels, #channel-group-detail {

  display: inline-block;
}

#selected-channels {
  width: 150px;
}
.edit-tab-body {
  height: 500px;
  overflow:hidden;
}

