mat-toolbar {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  img{
    padding-top:5px;
    height: 40px;
    width: auto;
  }
  h1, a {
    color: white;
    display: inline-block;
    margin: 5px;
  }

  a.active {
    font-weight: bold;
  }
}

#user-icon {
  font-size: 25px;
}