<mat-toolbar color="primary">
  <a [routerLink]="['/']" routerLinkActive="active">
    <img src="/assets/text_logo.svg" alt="SQUAC logo" />
  </a>

  <div id="header-right" *ngIf="user">
    <a
      mat-button
      [routerLink]="['/dashboards']"
      routerLinkActive="active"
      *ngIf="'read' | able: 'Dashboard'"
      >Dashboards</a
    >
    <a
      mat-button
      [routerLink]="['/monitors']"
      routerLinkActive="active"
      *ngIf="'read' | able: 'Monitor'"
      >Monitors</a
    >
    <a
      mat-button
      [routerLink]="['/channel-groups']"
      routerLinkActive="active"
      *ngIf="'read' | able: 'ChannelGroup'"
      >Channel Groups</a
    >
    <a
      mat-button
      [routerLink]="['/metrics']"
      routerLinkActive="active"
      *ngIf="'read' | able: 'Metric'"
      >Metrics</a
    >
    <mat-menu #appMenu="matMenu" class="mat-menu-dense">
      <a mat-menu-item [routerLink]="['/user']" routerLinkActive="active"
        >User Settings</a
      >
      <a
        mat-menu-item
        [routerLink]="['/user', 'organizations', user.orgId]"
        routerLinkActive="active"
        >Organization Settings</a
      >
      <button mat-menu-item (click)="logout()">Log Out</button>
      <!-- <button mat-menu-item>Help</button> -->
    </mat-menu>

    <a mat-button [matMenuTriggerFor]="appMenu">Settings</a>
    <!-- TODO: profile pic or first name -->
    <!-- <button mat-mini-fab [matMenuTriggerFor]="appMenu">
        <div id="user-icon">{{user?.firstName.charAt(0)}}</div>
      </button> -->
  </div>
</mat-toolbar>
