<div mat-dialog-title id="edit-title">
  <h3>{{ editMode ? "Edit Alarm": "New Alarm"}}</h3>
  <button mat-icon-button  (click)="cancel()" type="button"><mat-icon>close</mat-icon></button>
</div>

<div mat-dialog-content id="edit-container">
  <form #alarmEditForm [formGroup]="alarmForm">
    <mat-form-field>
      <mat-label for="name">Name:</mat-label>
      <input matInput type="text" name="name" formControlName="name"> 
    </mat-form-field>
    <mat-form-field>
      <mat-label>Interval Type</mat-label>
      <mat-select formControlName="intervalType">
        <mat-option *ngFor="let type of intervalTypes"  [value]="type">{{type}} </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label for="intervalCount">Interval Count:</mat-label>
      <input matInput type="number" name="intervalCount" formControlName="intervalCount"> 
    </mat-form-field>
    <mat-form-field>
      <mat-label for="numberChannels">Number of Channels:</mat-label>
      <input matInput type="number" name="numberChannels" formControlName="numberChannels"> 
    </mat-form-field>a
    <mat-form-field>
      <mat-label>Stat</mat-label>
      <mat-select formControlName="stat">
        <mat-option *ngFor="let stat of stats"  [value]="stat"> {{stat}} </mat-option>
      </mat-select>
    </mat-form-field>
  
  <mat-form-field>
    <mat-label>
      Channel Group
    </mat-label>
    <mat-select formControlName="channelGroup">
      <mat-option *ngFor="let channelGroup of channelGroups"  [value]="channelGroup">{{channelGroup.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field >
    <mat-label>Metric</mat-label>
    <mat-select formControlName="metric">
      <mat-option *ngFor="let metric of metrics"  [value]="metric">{{metric.name}} </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <h3>Thresholds</h3>
    <div formArrayName="thresholds">
      <button (click)="addThreshold()">Add Threshold</button>
    
      <div *ngFor="let threshold of thresholds.controls; let i=index">

        <div [formGroupName]="i">
          <label>
            min:
            <input type="number" formControlName="min">
          </label>
          <label>
            max:
            <input type="number" formControlName="max">
          </label>
          <button (click)="removeThreshold(i)">x</button>
        </div>
  
      </div>
    </div>
    
  </div>
  </form>



  <app-alarm-chart [metric]="alarmForm.value.metric"></app-alarm-chart>
</div>




<div mat-dialog-actions id="dialog-options">
  <div>
    <button id="save" mat-flat-button color="accent" (click)="save()" >Save</button>
  </div>
</div>