#edit-container{
  display:flex;
  flex-direction:row;

  form {
    width: 66%;
    display:flex;
    flex-direction: row;
    mat-form-field {
      display:block;
    }
    #alarm-edit-container, #threshold-container {
      display:inline-block;
      width: 50%;


    }
  }

  #chart-container {
    width: 33%;
  }
}

#threshold-title {
  h4 {
    display:inline;
  }
}

.threshold {
  display:flex;
  flex-direction: row;
  mat-form-field {
    width: 45%;
  }
}

#edit-title {
  h3 {
    display:inline;
  }
  button {
    float:right;
  }
}


h3{
  margin-bottom: 10px;
}


#dialog-options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}