
 <!-- *ngIF causes chaios avoid in ngx-datatable -->
<ngx-datatable 
  #dataTable
  class="material expandable" 
  [rows]="rows"
  [headerHeight]="50"
  [sortType]="SortType.multi"
  [columnMode]="ColumnMode.flex"
  [footerHeight]="0"
  [rowHeight]="23"
  [scrollbarH]="true"
  [scrollbarV]="true"
  [messages]="messages"
  [treeFromRelation]="'parentId'"
  [treeToRelation]="'id'"
  (treeAction)="onTreeAction($event)"
  [sorts]="[{ prop: 'agg', dir: 'desc' }]"

>      
  <ngx-datatable-column name="Channel" prop="title" [isTreeColumn]="true" [width]="150" [canAutoResize]="false"
  [frozenLeft]="true" [resizeable]="false">

  </ngx-datatable-column>
  <ngx-datatable-column name="agg" [width]="50" [frozenLeft]="true" [canAutoResize]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column 
    *ngFor="let metric of metrics"
    name="{{metric.name | replace : '_' : ' ' | titlecase}}" prop="{{metric.id}}" 
    [comparator] = "metric.comparator"
    [minWidth]="100" 
    [cellClass]="getCellClass"
    [canAutoResize]="true"
    [flexGrow]="3"
    [sortable]="true"
    >
  
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value.value !== null ? (value.value | number:'1.0-2') : "-" }}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>