// table {
//   height: auto;
//   width: auto;
//   overflow: scroll;
//   border-collapse: collapse;
//   &, th, td {
//     border: 1px solid black;
//   }

//   th, td {
//     padding: 2px;
//     overflow-wrap: break-word;
//   }
// }

:host ::ng-deep .no-threshold {
  background-color: rgb(67, 145, 197) !important;
}

:host ::ng-deep .in-spec {
  background-color: #4488A9 !important;
}
:host ::ng-deep .out-of-spec {
  background-color: #ffb758  !important;
}

:host ::ng-deep .datatable-tree-button:disabled {
  display:none;
}

.ngx-datatable{
  width: 100% !important;
  height: 100%;
}

:host ::ng-deep .datatable-header-cell, :host ::ng-deep .datatable-body-cell {
  padding: 5px !important;
  white-space: normal !important;
}

// :host ::ng-deep datatable-header-cell-template-wrap {
//   white-space: normal;
// }
