<div
  id="map"
  [ngClass]="{ 'edit-map': editPage, 'view-map': !editPage }"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  (leafletMapReady)="onMapReady($event)"
  (leafletMapZoomEnd)="onZoomEnd()"
>
  <div
    *ngIf="editPage"
    leafletDraw
    [leafletDrawOptions]="drawOptions"
    (leafletDrawStart)="onDrawStart()"
    (leafletDrawCreated)="onRectangleCreated($event)"
    (leafletDrawEdited)="onRectangleEdited()"
    (leafletDrawDeleted)="onRectangleDeleted()"
  ></div>
  <div id="legend" class="leaflet-custom-control">
    <div class="channel-list" *ngIf="!editPage">
      <div class="included-channels"></div>
      <span>Channels</span>
    </div>
    <div class="channel-list" *ngIf="editPage">
      <div class="included-channels"></div>
      <span>Included</span>
    </div>
    <div class="channel-list" *ngIf="editPage">
      <div class="excluded-channels"></div>
      <span>Excluded</span>
    </div>
    <div class="channel-list" *ngIf="editPage">
      <div class="searched-channels"></div>
      <span>Not Selected</span>
    </div>
    <div class="channel-list">
      <div class="new-channels"></div>
      <span>Selected</span>
    </div>
  </div>
</div>
