<shared-table-view
  title="Alerts"
  [isLoading]="loadingService.isLoading$(this) | async"
  [options]="options"
  [rows]="rows"
  [columns]="columns"
  [controls]="controls"
  [filters]="filters"
  (refresh)="refresh()"
>
  <ng-container tableHeadFilters>
    <div class="row">
      <shared-date-select
        [secondsAgoFromNow]="timeRange"
        [initialStartDate]="starttime"
        [initialEndDate]="endtime"
        [timeRanges]="datePickerTimeRanges"
        (datesChanged)="datesChanged($event)"
      >
      </shared-date-select>
      <button
        mat-raised-button
        color="accent"
        (click)="update()"
        [disabled]="!this.unsavedChanges"
      >
        Update
      </button>
    </div>
  </ng-container>
  <ng-container tableBody>
    <ng-template let-row="row" #stateTemplate>
      <monitor-alarm-status [inAlarm]="row.inAlarm"></monitor-alarm-status>
    </ng-template>
    <ng-template let-row="row" #updateTemplate>
      <div>
        {{ row.timestamp }}
      </div>
    </ng-template>
    <ng-template
      #monitorTemplate
      let-row="row"
      let-value="value"
      ngx-datatable-cell-template
    >
      <a [routerLink]="['/monitors', row.monitorId]">{{ value }}</a>
    </ng-template>
    <ng-template
      #triggerTemplate
      let-value="value"
      let-row="row"
      ngx-datatable-cell-template
    >
      values for
      <span *ngIf="row.numChannelsOperator !== '=='">
        {{ row.numChannelsOperator }}
      </span>
      {{ row.numChannels }} channel(s) in are {{ row.valueOperator }}
      {{ row.val1 }}
      <span *ngIf="row.val2 !== null && row.val2 !== undefined">
        and {{ row.val2 }}
      </span>
    </ng-template>
    <ng-template
      #channelsTemplate
      let-value="value"
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ value.length }}
    </ng-template>
  </ng-container>
</shared-table-view>
<router-outlet></router-outlet>
