// Ngx datarangepicker overrides

@import "variables";
ngx-daterangepicker-material {
  font-size: 0.9rem !important;
  // Custom css for date range picker since its all messed up
  .md-drppicker td.active,
  .md-drppicker td.available.in-range.active,
  .md-drppicker td.active:hover,
  .md-drppicker .btn:not(.btn-default),
  .md-drppicker .ranges ul li button.active {
    background-color: $sq-blue !important;
    color: white !important;
  }
  // .md-drppicker.ltr .calendar.right { display: none; }
  .md-drppicker .calendar-time .select .select-item {
    // font-size: unset !important;
  }
  .md-drppicker {
    top: 50px !important;
    right: 0px !important;
    left: auto !important;
    width: max-content !important;

    .buttons {
      white-space: normal !important;
      button {
        margin-left: 10px !important;
        padding: 0px 8px;
        box-shadow: none;
        border-radius: 0px;
      }
    }

    .calendar-table {
      padding: 2px !important;
    }
  }
}
