/* For use in src/lib/core/theming/_palette.scss */
$mat-sqblue: (
    50 : #e7ecef,
    100 : #c2d0d7,
    200 : #99b0bc,
    300 : #7090a1,
    400 : #52798c,
    500 : #336178,
    600 : #2e5970,
    700 : #274f65,
    800 : #20455b,
    900 : #143348,
    A100 : #85caff,
    A200 : #52b4ff,
    A400 : #1f9dff,
    A700 : #0592ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-sqyellow: (
    50 : #fff4e6,
    100 : #ffe4c0,
    200 : #ffd296,
    300 : #ffc06c,
    400 : #ffb34d,
    500 : #ffa52d,
    600 : #ff9d28,
    700 : #ff9322,
    800 : #ff8a1c,
    900 : #ff7911,
    A100 : #ffffff,
    A200 : #fffbf8,
    A400 : #ffdcc5,
    A700 : #ffcdac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-sqgray: (
    50 : #eeeeee,
    100 : #d4d4d4,
    200 : #b8b8b8,
    300 : #9b9b9b,
    400 : #858585,
    500 : #707070,
    600 : #686868,
    700 : #5d5d5d,
    800 : #535353,
    900 : #414141,
    A100 : #f5a9a9,
    A200 : #f07b7b,
    A400 : #ff3a3a,
    A700 : #ff2020,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);