
    <h1>Reset Password</h1>

    <form *ngIf="!emailSent">
      <p>Enter email to recieve an authentication token</p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input 
          matInput
          [formControl]="email"
          [errorStateMatcher]="matcher"
          placeholder="Ex. me@example.com"
          >
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="email.hasError('required') || email.hasError('email')" (click)="sendEmail()">Send token to email</button>
    </form>

    <form *ngIf="!tokenValidated && emailSent">
      <p>Enter the token you received at {{email.value}}</p>
      <p>Didn't get an email? <a (click)="resendEmail()">Try again.</a></p>
      <mat-form-field class="example-full-width">
        <mat-label>Token</mat-label>
        <input 
          matInput
          [formControl]="token"
          [errorStateMatcher]="matcher"
          placeholder="Enter token"
        >

        <mat-error *ngIf="token.hasError('required')">
          Token is <strong>required</strong>
        </mat-error>

      </mat-form-field>
      <button mat-raised-button [disabled]="token.hasError('required')" (click)="sendToken()">Submit token</button>
    </form>

    <form *ngIf="tokenValidated && emailSent" autocomplete="off">
      <p>Enter new password</p>

      <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>

        <input 
          matInput
          [formControl]="newPassword"
          autocomplete="off"
          placeholder="Enter new password"
          [type]="hide ? 'password' : 'text'"
        >

      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          [formControl]="passwordConfirm"
          autocomplete="off"
          placeholder="Confirm new password"
          [type]="hide ? 'password' : 'text'"
        >
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="newPassword.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="newPassword.value !== passwordConfirm.value">Passwords do not match</mat-error>
      <button mat-raised-button [disabled]="newPassword.value !== passwordConfirm.value" (click)="confirmPassword()">Reset Password</button>
    </form>

    {{error}}