<div id="title">
  <h1>
    Alert History
  </h1>
  <a mat-button [routerLink]="[ '../monitors' ]">View All Monitors</a>
</div>

  <div id="alerts" class="box">
    <ngx-datatable
      id="alert-table"
      class="material"
      [rows]="alerts"
      [columnMode]="ColumnMode.flex"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="50"
      #alertTable
    >
      <ngx-datatable-column name="Time" prop="timestamp" [draggable]="false" [sortable]="false" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'short' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Monitor" prop="monitor" [draggable]="false" [sortable]="false" [flexGrow]="2">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Trigger" prop="trigger" [draggable]="false" [sortable]="false" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          min: {{value.min}} max: {{value.max}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Message" [draggable]="false" [sortable]="false" [flexGrow]="3">

      </ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="inAlarm" [draggable]="false" [sortable]="false" [flexGrow]="0.5">
        <ng-template  let-value="value" ngx-datatable-cell-template>
          {{value ? "in alarm" : "not in alarm"}}
        </ng-template>
      </ngx-datatable-column>

<!-- click to show more detail -->
    </ngx-datatable>
  </div>
<router-outlet></router-outlet>
