#dashboard-content {
  background: unset;
  // padding: 7px !important;
  gridster-item {
    background-color: transparent;
  }
}


.drag-handler {
  line-height:24px;
  display: inline;
  position: absolute;
  color:transparent;
  &:hover {
    color:#eeeeee;
  }
}

#add-widget {
  display:flex;
  flex-direction:column;
  align-items: center; 
  button {
    margin-top: 20px;
  }
}