#dashboard-content {
  background: unset;
  // padding: 7px !important;
  gridster-item {
    background-color: transparent;
  }
}


.drag-handler {
  line-height:24px;
  display: inline;
  position: absolute;
  color:transparent;
  &:hover {
    color:#eeeeee;
  }
}