
<div id="dashboard-content" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="widget-drag-container"
    *ngFor="let widget of widgets"
    cdkDrag
    [cdkDragDisabled]="!editMode"
    [style.order]="widget.order"
    [style.width.px]="widget.columns * columnWidth"
    [style.height.px]="widget.rows * rowHeight"
    mwlResizable
    [enableGhostResize]="true" 
    [allowNegativeResizes]="true"
    (validateResize)="validateResize($event)"
    [resizeSnapGrid]="{left: columnWidth, bottom: rowHeight}"
    [resizeEdges]="{bottom: true, right: true, top: false, left: false}"
    (resizeEnd)="onResizeEnd($event, widget)"
    >
    <div class="drag-handle" cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
    </div>

    <app-widget-detail 
      [widget]="widget" 
      [channelGroup]="channelGroup"
      [startdate]="startdate"
      [enddate]="enddate"
      >

    </app-widget-detail>


      </div>



</div>