<div mat-dialog-title id="edit-title">
  <h3>{{ editMode ? "Edit Monitor": "New Monitor"}}</h3>
  <button mat-icon-button  (click)="cancel()" type="button"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content id="edit-container">
  <form #monitorEditForm [formGroup]="monitorForm">
    <div id="monitor-edit-container">

  
    <mat-form-field>
      <mat-label for="name">Name:</mat-label>
      <input matInput type="text" name="name" formControlName="name"> 
    </mat-form-field>
    <div class="form-row">
    <mat-form-field>
      <mat-label>
        Channel Group
      </mat-label>
      <mat-select formControlName="channelGroup">
        <mat-option *ngFor="let channelGroup of channelGroups"  [value]="channelGroup">{{channelGroup.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="numberChannels">Number of Channels:</mat-label>
      <input matInput type="number" name="numberChannels" formControlName="numberChannels"> 
    </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field >
        <mat-label>Metric</mat-label>
        <mat-select formControlName="metric">
          <mat-option *ngFor="let metric of metrics"  [value]="metric">{{metric.name}} </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Stat</mat-label>
        <mat-select formControlName="stat">
          <mat-option *ngFor="let stat of stats"  [value]="stat"> {{stat}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Interval</mat-label>
        <mat-select formControlName="intervalType">
          <mat-option *ngFor="let type of intervalTypes"  [value]="type">{{type}} </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label for="intervalCount">Interval Count:</mat-label>
        <input matInput type="number" name="intervalCount" formControlName="intervalCount"> 
      </mat-form-field>
    </div>


</div>
  <div id="trigger-container">
    <div id="trigger-title">
      <h4>Triggers</h4>
      <button mat-icon-button (click)="addTrigger()"><mat-icon>add</mat-icon></button>
    </div>

    <div formArrayName="triggers">

    
      <div *ngFor="let trigger of triggers.controls; let i=index">

        <div [formGroupName]="i" class="trigger"> 
          <mat-form-field>
            <mat-label for="min">min:</mat-label>
            <input matInput type="number" name="min" formControlName="min"> 
          </mat-form-field>
          <mat-form-field>
            <mat-label for="max">max:</mat-label>
            <input matInput type="number" name="max" formControlName="max"> 
          </mat-form-field>

          <mat-checkbox [formControl]="inclusive">inclusive</mat-checkbox>

          <mat-form-field>
            <mat-label>Level</mat-label>
            <mat-select formControlName="level">
              <mat-option *ngFor="let level of levels"  [value]="level"> {{level}} </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button (click)="removeThreshold(i)"><mat-icon> delete </mat-icon></button>
        </div>
  
      </div>
    </div>
    
  </div>
  </form>

<!-- <div id="chart-container">
  <app-monitor-chart [metric]="monitorForm.value.metric"></app-monitor-chart>
</div> -->


</div>




<div mat-dialog-actions id="dialog-options">
  <div>
    <button id="save" mat-flat-button color="accent" (click)="save()" >Save</button>
  </div>
</div>