<shared-table-view
  title="Dashboards"
  [options]="options"
  [rows]="rows"
  [columns]="columns"
  (itemSelected)="onSelect($event)"
>
  <ng-container tableHeadControls>
    <button
      mat-flat-button
      color="accent"
      (click)="newDashboard()"
      *ngIf="'create' | able: 'Dashboard'"
    >
      Create Dashboard
    </button>
  </ng-container>
  <ng-container tableHeadFilters> </ng-container>
  <ng-container tableFooter>
    <div>Footer content</div>
  </ng-container>
  <ng-template ngx-datatable-cell-template let-row="row" #nameTemplate>
    <a [routerLink]="[row.id]">{{ row.name }}</a>
  </ng-template>
  <ng-template ngx-datatable-cell-template let-row="row" #sharingTemplate>
    {{ row.shareOrg && row.shareAll ? "public" : "" }}
    <ng-container *ngIf="row.shareOrg && !row.shareAll; else private">
      shared with {{ row.orgId | organization }}
    </ng-container>
    <ng-template #private> {{ !row.shareOrg ? "private" : "" }} </ng-template>
  </ng-template>
</shared-table-view>
<router-outlet></router-outlet>
