<app-table-view title="Dashboards">
  <ng-container tableHeadControls>
    <button
      mat-flat-button
      color="accent"
      (click)="newDashboard()"
      *ngIf="'create' | able: 'Dashboard'"
    >
      Create Dashboard
    </button>
  </ng-container>
  <ng-container tableHeadFilters> </ng-container>
  <ng-container tableBody options="options">
    <ngx-datatable
      class="shared-view-table"
      id="dashboards-table"
      [rows]="dashboards"
      [columnMode]="ColumnMode.force"
      [scrollbarH]="false"
      rowHeight="auto"
      [footerHeight]="50"
      (select)="onSelect($event)"
      [selected]="selected"
      [selectionType]="SelectionType.single"
    >
      <ngx-datatable-column
        name="Dashboard Name"
        prop="name"
      ></ngx-datatable-column>
      <ngx-datatable-column name="Owner" prop="owner">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value | user }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Organization" prop="orgId">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value | organization }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Description" prop="description">
      </ngx-datatable-column>
      <ngx-datatable-column name="Sharing">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.shareOrg && row.shareAll ? "public" : "" }}
          <ng-container *ngIf="row.shareOrg && !row.shareAll; else private">
            shared with {{ row.orgId | organization }}
          </ng-container>
          <ng-template #private> private </ng-template>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </ng-container>
</app-table-view>
