<div class="row">
  <h1>
    {{editMode ? "Edit Channel Group" : "Create Channel Group"}}
  </h1>
  <div class="col-xs-12">
    <form action="" [formGroup]="channelGroupForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" 
            type="submit"
            [disabled]='!channelGroupForm.valid'
          >
          Save</button>
          <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name"
              formControlName="name"
            class="form-control">
          </div>
          <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description"
                formControlName="description"
              class="form-control"></textarea>
          </div>
          <ul>
            <li *ngFor="let channel of selectedChannels">
              {{channel.nslc}}
            </li>
          </ul>
        </div>
      </div>
    </form>

    <form [formGroup]="channelsForm" action="" *ngIf="availableChannels">
      <fieldset>
          <label formArrayName="channels" *ngFor="let channel of availableChannels; let i = index">
            <input type="checkbox" [formControlName]="i">
            {{channel.nslc}}
            <br>
          </label>  
      </fieldset>
    
      <button (click)="addSelectedChannels()">addSelectedChannels</button>  
    </form>


  </div>
</div>