<div class="row">
  <h1>
    {{editMode ? "Edit Channel Group" : "Create Channel Group"}}
  </h1>
  <div class="col-xs-12">
    <form action="" [formGroup]="channelGroupForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" 
            type="submit"
            [disabled]='!channelGroupForm.valid'
          >
          Save</button>
          <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name"
              formControlName="name"
            class="form-control">
          </div>
          <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description"
                formControlName="description"
              class="form-control"></textarea>
          </div>
          <h3> Channels </h3>
          <ul>
            <li *ngFor="let channel of selectedChannels; let i = index">
              {{channel.nslc}}
              <button (click)="removeChannelFromGroup(i)" type="button">X</button>
            </li>
          </ul>
        </div>
      </div>
    </form>

    <form [formGroup]="channelsForm" action="">
      <h3> Available Channels ({{filteredChannels.length}})</h3>
      <fieldset  *ngIf="filteredChannels.length > 0">
          <ng-container formArrayName="channels" *ngFor="let channel of channelsForm.controls.channels.controls; let i = index">
            <label>
              <input type="checkbox" [formControlName]="i">
              {{filteredChannels[i].nslc}} {{i}}
              <br>
            </label>  
          </ng-container>
          

      </fieldset>
    
      <button (click)="addSelectedChannelsToGroup()" type="button" [disabled]="!channelsForm.values">Add Selected Channels</button>  
    </form>


  </div>
</div>