#title {
  margin: 15px 5vw;

  h1 {
    width: 350px;
    display: inline-block;
  }
}

#edit-container{
  margin: 20px 5%;
  contain: content;
  display: flex;

  #selection-container {
    #selection-filter {
      #filter-container {
        margin-top: 15px;
        display: inline-block;
      }

      #add-undo-container {
        width: 150px;
        margin: 25px;
        button {
          margin-top: 10px;
        }
      }
    }
  
    #list-and-map-container {
      display: flex;
    
      #preview-list {
        h4 {
          text-align: center;
        }

        mat-spinner {
          margin: 25% auto;
        }
      }
    
      #map-box {
        z-index: 14;
      
        app-map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  #selected-channels {
    text-align: center;

    mat-form-field {
      margin-right: 10px;
    }

    mat-panel-title {
      margin-top: 10px;
    }
    
    mat-panel-description {
      margin-left: 75px;
    }
  }
}

p.help-text {
  font-size: .9rem;
  font-weight: 300;
}

// Small screens
@media (max-width: 900px) {
  #edit-container{
    width: 680px;
    display: inline-block;

    #selection-container {
      width: 680px;
    
      #selection-filter {
        height: 350px;
        text-align: center;

        #filter-container {
          width: 470px;
        }

        #add-undo-container {
          float: none;
          margin-left: 260px;
        }
      }
    
      #list-and-map-container {
        #preview-list {
          width: 680px;
        
          #channel-selector {
            height: 600px;
          }
        }
      }
    }
    
    #selected-channels {
      width: 680px;

      #group-channels {
        height: 600px;
      }
    }
  }
}

// Medium screens
@media (min-width: 900px) {
  #edit-container{
    width: 90vw;

    #selection-container {
      width: 50vw;
      height: 800px;
    
      #selection-filter {
        height: 325px;

        #filter-container {
          width: 50vw;
        }

        #add-undo-container {
          float: none;
          margin-left: 35%;
        }
      }
    
      #list-and-map-container {
        #preview-list {
          width: 50vw;
        
          #channel-selector {
            height: 460px;
          }
        }
      }
    }
    
    #selected-channels {
      width: 40vw;
      height: 800px;
      overflow-y: scroll;

      #group-channels {
        height: 641px;
      }
    }
  }
}

// Large screens
@media (min-width: 1400px) {
  #edit-container{
    width: 90vw;
    height: 79vh;
    min-height: 800px;

    #selection-container {
      width: 60vw;
    
      #selection-filter {
        width: 60vw;
        height: 200px;
        display: flex;

        #add-undo-container {
          float: right;
        }
      }
    
      #list-and-map-container {
        width: 60vw;
        height: 59vh;
      
        #preview-list {
          width: 39vw;
          
          #channel-selector {
            height: 55.5vh;
            min-height: 570px;
          }
        }
      
        #map-box {
          width: 50%;
          height: 59vh;
          min-height: 600px;
        }
      }
    }
    
    #selected-channels {
      width: 30vw;
      overflow-y: hidden;

      #cg-form {
        height: 200px;
        overflow-y: scroll;

        #cg-form-input {
          height: 80px;
          margin-bottom: 20px;
        }
      }

      #group-channels {
        height: 55.5vh;
        min-height: 570px;
      }
    }
  }
}