#title {
  margin: 15px 5vw;

  h1 {
    width: 350px;
    display: inline-block;
  }
}

#edit-container{
  width: 90vw;
  height: 80vh;
  min-height: 750px;
  margin: 20px 0 0 5%;
  display: flex;

  #selection-container {
    width: 60vw;
    height: 79.7vh;
    min-height: 597px;
    min-width: 950px;
  
    #selection-filter {
      width: 60vw;
      height: 15vh;
      min-width: 950px;
      min-height: 175px;

      #filter-container {
        margin-top: 15px;
        width: 44vw;
        min-width: 600px;
        display: inline-block;
      }

      #add-undo-container {
        width: 150px;
        float: right;
        margin: 25px;
        button {
          margin-top: 10px;
        }
      }
    }
  
    #list-and-map-container {
      display: flex;
      height: 64vh;
      min-height: 596px;
    
      #preview-list {
        h4 {
          text-align: center;
        }
        width: 39vw;
        height: 62.5vh;
        min-width: 550px;
        min-height: 573px;
      
        #channel-selector {
          height: 60vh;
          min-height: 533px;
        }

        mat-spinner {
          margin: 25% auto;
        }
      }
    
      #map-box {
        width: 21vw;
        height: 62.5vh;
        min-width: 400px;
        min-height: 573px;
        z-index: 14;
      
        app-map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  #selected-channels {
    width: 29.9vw;
    min-width: 475px;
    text-align: center;

    h3 {
      margin-top: 10px;
    }

    mat-form-field {
      margin-right: 10px;
    }

    mat-panel-title {
      margin-top: 10px;
    }
    
    mat-panel-description {
      margin-left: 75px;
    }
  
    #group-channels {
      height: 58.5vh;
      min-height: 520px;
    }
  }
}

p.help-text {
  font-size: .9rem;
  font-weight: 300;
}