#filter-container {
  width: 100%;
  gap: 3px;
  mat-form-field {
    width: 70px;
    flex-grow: 1;
    .no-input {
      display: none;
    }

    .has-input {
      display: inline-block;
    }
  }
  button {
    flex-basis: content;
    // min-width: ;
  }
  div {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }
}
