<div
  id="filter-container"
  class="row wrap space-between"
>
  <mat-form-field
    class="dense-form-field"
    subscriptSizing="dynamic"
  >
    <input
      matInput
      [(ngModel)]="net"
      placeholder="Network"
      (input)="net = net.toUpperCase()"
    />
    <button
      matIconSuffix
      mat-icon-button
      class="dense-icon-button"
      [class]="net ? 'has-input' : 'no-input'"
      aria-label="Clear"
      (click)="net = null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field
    class="dense-form-field"
    subscriptSizing="dynamic"
  >
    <input
      matInput
      [(ngModel)]="sta"
      placeholder="Station"
      (input)="sta = sta.toUpperCase()"
    />
    <button
      matIconSuffix
      mat-icon-button
      class="dense-icon-button"
      aria-label="Clear"
      [class]="sta ? 'has-input' : 'no-input'"
      (click)="sta = null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field
    class="dense-form-field"
    subscriptSizing="dynamic"
  >
    <input
      matInput
      [(ngModel)]="loc"
      placeholder="Location"
      (input)="loc = loc.toUpperCase()"
    />
    <button
      matIconSuffix
      mat-icon-button
      aria-label="Clear"
      class="dense-icon-button"
      [class]="loc ? 'has-input' : 'no-input'"
      (click)="loc = null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field
    class="dense-form-field"
    subscriptSizing="dynamic"
  >
    <input
      matInput
      [(ngModel)]="chan"
      placeholder="Channel"
      (input)="chan = chan.toUpperCase()"
    />
    <button
      matIconSuffix
      mat-icon-button
      class="dense-icon-button"
      [class]="chan ? 'has-input' : 'no-input'"
      aria-label="Clear"
      (click)="chan = null"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    (click)="updateFilters()"
    uiTooltip="Search for channels"
    aria-label="Button that searches for channels matching filters"
  >
    <mat-icon>search</mat-icon>
    search
  </button>

  <button
    mat-stroked-button
    (click)="removeFilters()"
    uiTooltip="Clear filters"
    aria-label="Button that clears form input "
  >
    clear
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="addToRegex()"
    uiTooltip="Add filters to rules"
    aria-label="Button that searches for channels matching filters"
  >
    add to rules
  </button>
</div>