@import "variables";

#monitor-history-chart {
  height: 400px;
  width: 500px;
}

#monitor-container {
  border-top: 1px solid lighten($sq-gray, 15);
  overflow: hidden;
  padding: 10px;
}

#group-view-container {
  margin-top: 10px;
  overflow: hidden;
}
#monitor-history-chart-container {
  padding: 10px;
  z-index: 10;
}

#alert-detail {
  padding: 10px;
}
