@import "variables";

.box {
  padding: 10px;
}
#monitor-history-chart-container {
  height: 300px;
}

#monitor-container {
  overflow: hidden;
  .row {
    align-items: flex-end;
    justify-content: space-between;
  }
  .date-select-row {
    display: flex;
    flex-direction: row;
  }
}

.chart-container {
  z-index: 10;
}

#alert-detail {
  width: fit-content;
  display: inline-block;
}

#breaching-channels-detail {
  display: flex;
  flex-direction: row;
}

#trigger-table {
  width: 100%;
  text-align: left;
}
