<p>Monitor detail component</p>
{{ monitor.name }}
{{ monitor.owner | user }}
<p>{{ monitor.metricName }}</p>
<p>{{ monitor.stat }}</p>
<p>{{ monitor.channelGroupName }}</p>
<p>alarms evaluated on the 5</p>
<shared-date-select
  [secondsAgoFromNow]="timeRange"
  [initialStartDate]="starttime"
  [initialEndDate]="endtime"
  [timeRanges]="datePickerTimeRanges"
  (datesChanged)="datesChanged($event)"
>
</shared-date-select>
<button (click)="update()">update</button>

<div id="monitor-history-chart-container">
  <monitor-history-chart
    #monitorChart
    [monitor]="monitor"
    [alerts]="alerts"
    [(selectedAlert)]="selectedAlert"
  ></monitor-history-chart>
</div>

<div *ngIf="selectedAlert">
  {{ selectedAlert.breachingChannels?.length }}
</div>
<!-- <shared-table-view
  title="Alerts"
  [isLoading]="loadingService.isLoading(this)"
  [options]="options"
  [columns]="columns"
  [controls]="controls"
  (refresh)="refresh()"
  [rows]="alerts"
>
</shared-table-view> -->
