<shared-detail-page
  *ngIf="monitor"
  type="Monitor"
  [resource]="monitor"
  [title]="monitor?.name"
  [subtext]="'by ' + (monitor?.owner | user)"
  [options]="pageOptions"
  (deleteResource)="delete()"
>
  <ng-container bodyContent>
    <div
      class="box"
      [appIsLoading]="
        loadingService.isLoading$(this, LoadingIndicator.MAIN) | async
      "
    >
      <div
        id="monitor-container"
        class="column"
      >
        <div class="row">
          <div>
            <h3>Monitor Information</h3>
            <div>
              <strong>Metric: </strong> {{ monitor.stat }} of
              {{ monitor.metricName }}
            </div>
            <div>
              <strong> Channel Group: </strong><a [routerLink]="['/channel-groups', monitor.channelGroupId]">
                {{ monitor.channelGroupName }}</a>
              ({{ channelGroup?.channels.length }} channels)
            </div>
            <div>
              <strong>Interval: </strong> {{ monitor.intervalCount }}
              {{ monitor.intervalType }}
            </div>

            <div>
              <strong>Daily Digest: </strong>
              {{ monitor.doDailyDigest ? "Yes" : "No" }}
            </div>
          </div>

          <div class="date-select-row">
            <shared-date-select
              [secondsAgoFromNow]="timeRange"
              [initialStartDate]="starttime"
              [initialEndDate]="endtime"
              [timeRanges]="datePickerTimeRanges"
              (datesChanged)="datesChanged($event)"
            >
            </shared-date-select>
            <button
              mat-raised-button
              color="accent"
              (click)="update()"
              [disabled]="!this.unsavedChanges"
            >
              Update
            </button>
          </div>
        </div>
      </div>
      <div
        class="chart-container"
        *ngIf="viewTriggers"
      >
        <h3>Triggers</h3>
        <p class="help-text">
          If 'Daily Digest' is enabled, alerts for individual triggers will not
          be sent.
        </p>
        <table id="trigger-table">
          <thead>
            <th>Alert when:</th>
            <th>In Alarm:</th>
            <th>Last State Change:</th>
            <th>Also alert on exit:</th>
            <th>Recipients</th>
          </thead>
          <tbody>
            <tr *ngFor="let trigger of monitor.triggers">
              <td>{{ trigger.fullString }}</td>
              <td>{{ trigger.inAlarm ? "Yes" : "No" }}</td>
              <td>{{ trigger.lastUpdate }}</td>
              <td>{{ trigger.alertOnOutOfAlarm ? "Yes" : "No" }}</td>
              <td>{{ trigger.emails }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="alert-list">
        <h3>Alerts</h3>
        <p class="help-text">
          Select an alert to view more information.
        </p>
        <div class="alert-table-container">
          <div>
            <ngx-datatable
              [rows]="alerts"
              id="alert-table"
              class="material channel-table"
              [columnMode]="ColumnMode.force"
              [selectionType]="SelectionType.single"
              [selected]="[selectedAlert]"
              [limit]="10"
              [rowHeight]="25"
              [scrollbarV]="true"
              (select)="selectAlert($event)"
            >
              <ngx-datatable-column
                name="State"
                prop="inAlarm"
                [draggable]="false"
                [width]="70"
                [canAutoResize]="false"
              >
                <ng-template
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <monitor-alarm-status [inAlarm]="value"></monitor-alarm-status>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Time"
                prop="timestamp"
                [draggable]="false"
                [width]="160"
                [canAutoResize]="false"
              >

              </ngx-datatable-column>
              <ngx-datatable-column
                name="Trigger"
                [width]="200"
                [canAutoResize]="true"
              >

                <ng-template
                  #triggerTemplate
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  values for
                  <span *ngIf="row.numChannelsOperator !== '=='">
                    {{ row.numChannelsOperator }}
                  </span>
                  {{ row.numChannels }} channel(s) in are {{ row.valueOperator }}
                  {{ row.val1 }}
                  <span *ngIf="row.val2 !== null && row.val2 !== undefined">
                    and {{ row.val2 }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="Breaching Channels"
                prop="breachingChannels"
                [width]="150"
                [canAutoResize]="false"
              >
                <ng-template
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ value.length }}
                </ng-template>

              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div>
            <ngx-datatable
              id="channel-table"
              *ngIf="selectedAlert as alert"
              class="channel-table"
              [scrollbarV]="true"
              [columns]="columns"
              [rows]="alert.breachingChannels"
              [rowHeight]="25"
              [scrollbarV]="true"
            >
            </ngx-datatable>
          </div>

        </div>


      </div>
      <div class="chart-container">
        <h3>Alert History</h3>
        <p class="help-text">
          An alert will be generated when a trigger is 'In Alarm' and when the
          trigger exits the alarm state. Once the trigger is no longer 'In
          Alarm', no alerts will be generated until it is 'In Alarm' again;
        </p>
        <p class="help-text">click on an alert to view details</p>
        <div
          [appIsLoading]="
            loadingService.isLoading$(this, LoadingIndicator.RESULTS) | async
          "
          spinnerType="buffer"
          id="monitor-history-chart-container"
        >
          <monitor-history-chart
            *ngIf="alerts && alerts.length > 0; else noAlerts"
            #monitorChart
            [monitor]="monitor"
            [alerts]="alerts"
            [(selectedAlert)]="selectedAlert"
          ></monitor-history-chart>
        </div>
      </div>
      <div class="chart-container">
        <h3>Breaching Channel History</h3>
        <p class="help-text">
          Channels shown are only those that are considered "breaching". Values
          shown are the calculated values used to evaluate if a monitor is in
          alarm, not raw measurements at that time.
        </p>
        <div
          [appIsLoading]="
            loadingService.isLoading$(this, LoadingIndicator.RESULTS) | async
          "
          spinnerType="buffer"
        >
          <monitor-channel-history-chart
            *ngIf="alerts && alerts.length > 0; else noAlerts"
            #channelChart
            [monitor]="monitor"
            [alerts]="alerts"
            [(selectedAlert)]="selectedAlert"
          ></monitor-channel-history-chart>
        </div>
      </div>

      <ng-template #noAlerts>
        <div *ngIf="
            (loadingService.isLoading$(this, LoadingIndicator.RESULTS)
              | async) === false
          ">
          No alerts found in this time range.
        </div>
      </ng-template>
    </div>
  </ng-container>
</shared-detail-page>

<router-outlet></router-outlet>