@import "variables";
#channel-group-container {
  height: 100%;
  #channels-container {
    width: 65%;
    height: 100%;
    #channel-table {
      width: 100%;
      height: 100%;
    }
  }

  #map-container {
    width: 35%;
    height: 100%;
  }
}

#group-view-container {
  margin-top: 10px;
  overflow: hidden;
}
