<div *ngIf="dashboard" id="dashboard-container">
    <mat-toolbar id="dashboard-header" >
        <h2>
            {{dashboard.name}}
        </h2>

        <div id="header-controls">
          <button mat-icon-button (click)="refreshData">
              <mat-icon >refresh</mat-icon>  
          </button>

            <form #dateForm="ngForm" id="dateselectform">
                <mat-form-field >
                    <input 
                      matInput
                      [matDatepicker]="startdatepicker"
                      type="date" 
                      name="startdate"
                      id="startdate" 
                      [(ngModel)]="startdate">
                    <mat-datepicker-toggle matSuffix [for]="startdatepicker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startdatepicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field >
                      <input 
                        matInput
                        [matDatepicker]="enddatepicker"
                        type="date" 
                        id="enddate" 
                        name="enddate"
                        [(ngModel)]="enddate">
                      <mat-datepicker-toggle matSuffix [for]="enddatepicker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #enddatepicker></mat-datepicker>
                    </mat-form-field>
            </form>


            <mat-menu #appMenu="matMenu" class="mat-menu-dense" yPosition="below" xPosition="before">
                <button mat-menu-item (click)="editDashboard()">Edit Dashboard Information</button>
                <button mat-menu-item (click)="editWidgets()">Edit Widgets</button>
                <button mat-menu-item >Delete Dashboard</button>
              </mat-menu>
              
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>menu</mat-icon>
              </button>
        </div>

      </mat-toolbar>
      <div id="dashboard-content">
        <app-widget 
          *ngFor="let widgetId of dashboard.widgetIds"
          [widgetId]="widgetId" 
          [channelGroup]="dashboard.channelGroup"
          [reload]="reload"
          [startdate]="startdate"
          [enddate]="enddate"
        >
        </app-widget>

        <router-outlet></router-outlet>
      </div>

</div>

<app-loading *ngIf="!dashboard"></app-loading>
