<div *ngIf="dashboard" id="dashboard-container">
    <div id="dashboard-header" >
        <h2>
            {{dashboard.name}}
        </h2>

        <div id="header-controls">
            <a (click)="refreshData()"> refresh data </a>
            <form #dateForm="ngForm">
                <div>
                  <label for="startdate">start:</label>
                  <input 
                    type="date" 
                    id="startdate" 
                    name="startdate"
                    [(ngModel)]="startdate" required
                  >
                  <label for="enddate">end:</label>
                  <input 
                    type="date"
                    id="enddate" 
                    name="enddate"
                    [(ngModel)]="enddate" required
                  >
                </div>
            </form>
            <button (click)="editDashboard()">Edit Dashboard Properties</button>
            <button (click)="addWidget()">Add Widget</button>
        </div>

    </div>

    <hr>
    <div id="widget-container"> 
      <app-widget 
          *ngFor="let widget of dashboard.widgets"
          [widget]="widget" 
          [channelGroup]="dashboard.channelGroup"
          [reload]="reload"
          [startdate]="startdate"
          [enddate]="enddate"
          >
      </app-widget>
    </div>
        
    <router-outlet></router-outlet>
</div>

<app-loading *ngIf="!dashboard"></app-loading>
