<div *ngIf="dashboard" id="dashboard-container">
    <mat-toolbar id="dashboard-header" >
      <div id="dashboard-info">
          <h2>
              {{dashboard.name}}
          </h2>
          <span>
              {{dashboard.channelGroup?.name}}
          </span>
      </div>
        <div id="header-controls">
          <button mat-icon-button (click)="refreshData" color="primary" aria-label="refresh data">
              <mat-icon >refresh</mat-icon>  
          </button>
          <mat-form-field id="date-range">
              <mat-select 
                [(value)]="selectedDateRange"
                (selectionChange)="selectDateRange($event)"
                placeholder="Time range"
                >
                <mat-option *ngFor="let range of dateRanges"
                  [value]="range"
                >
                  {{range.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-menu #appMenu="matMenu" class="mat-menu-dense" yPosition="below" xPosition="before">
            <button mat-menu-item (click)="editDashboard()">Edit Dashboard Information</button>
            <button mat-menu-item (click)="editWidgets()">Edit Widgets</button>
            <button mat-menu-item >Delete Dashboard</button>
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="appMenu" color="primary">
            <mat-icon>settings_application</mat-icon>
          </button>
        </div>

      </mat-toolbar>
      <div id="dashboard-edit-toolbar" *ngIf="editMode">
          <button mat-mini-fab color="accent" aria-label="Add widget" (click)="addWidget()">
              <mat-icon>add</mat-icon>
            </button>
        <button mat-flat-button color="accent" (click)="saveDashboard()">
          <mat-icon >save</mat-icon>
          Save
        </button>
        <button mat-flat-button (click)="cancelEdit()">
          Cancel
        </button>

      </div>
      {{id}}
      {{dashboard.channelGroup?.id}}
      <app-widget 
        [dashboardId]="id"
        [channelGroup]="dashboard.channelGroup"
        [startdate]="startdate"
        [enddate]="enddate"
        [editMode]="editMode"
      >
      </app-widget>
      <router-outlet></router-outlet>

</div>

<app-loading *ngIf="!dashboard"></app-loading>
