#dashboard-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  #dashboard-content {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items:flex-start;
    width:100%;
    overflow:auto;
    padding:5px;
  }
}

#dashboard-header{
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  // h2 {
  //   margin-top: 10px;
  // }
  padding-left: 50px;
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 44px; 
  #header-controls {
    // height: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
}

#dateselectform {
  mat-form-field {
    margin-top: -20px;
    width: 140px;
    height: 40px;
    font-size: 10pt !important;
  }
}
.drag-handle {
  display: inline-block;
  position: absolute;
  margin: 10px;
}
