#edit-container {
  .mat-h2 {
    margin: 0px;
  }
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 40px auto;
  padding: 5px;
  column-gap: 5px;
  row-gap: 5px;
  p {
    margin: 0;
  }
  justify-content: center;
  grid-template-areas:
    "title . group"
    "info info group"
    "controls csv group"
    "search search group"
    "results map group"
    "table map group";
}

channel-group-edit-table {
  height: 100%;
}

.searched-channels-container {
  min-height: 300px;
}
