<div
  id="map"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  (leafletMapReady)="onMapReady($event)"
  [leafletFitBounds]="fitBounds"
></div>

<div class="legend" id="legend">
  <div>{{ displayMetric?.name }}</div>
  <div>unit: {{ displayMetric?.unit }}</div>
  <ng-container *ngIf="displayMetric && displayMap?.type === 'piecewise'">
    <div
      *ngFor="let piece of displayMap?.pieces"
      (click)="toggleColor(piece.color)"
      [class]="piece.color"
    >
      <span>{{ piece.label }}</span>
      <div class="map-icon" [style.background-color]="piece.color"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="displayMetric && displayMap?.type === 'stoplight'">
    <div
      (click)="toggleColor(displayMap?.colors.in)"
      [class]="displayMap?.colors.in"
    >
      <span>all in</span>
      <div
        class="map-icon"
        [style.background-color]="displayMap?.colors.in"
      ></div>
    </div>
    <div
      (click)="toggleColor(displayMap?.colors.middle)"
      [class]="displayMap?.colors.middle"
    >
      <span>some in</span>
      <div
        class="map-icon"
        [style.background-color]="displayMap?.colors.middle"
      ></div>
    </div>
    <div
      (click)="toggleColor(displayMap?.colors.out)"
      [class]="displayMap?.colors.out"
    >
      <span>none in</span>
      <div
        class="map-icon"
        [style.background-color]="displayMap?.colors.out"
      ></div>
    </div>
  </ng-container>

  <ng-container *ngIf="displayMetric && displayMap?.type === 'continuous'">
    <div class="legend-container">
      <div id="gradient">
        <div class="values">
          <span>
            {{ displayMap.max | precision: 3 }}
          </span>
          <span>
            {{ displayMap.min | precision: 3 }}
          </span>
        </div>
        <div
          [style.background-image]="
            'linear-gradient(to top, ' + displayMap?.inRange.color + ')'
          "
          class="gradient-icon"
        ></div>
      </div>

      <div (click)="toggleColor(displayMap?.outOfRange.color[0])">
        <span>out of range</span>
        <div
          class="map-icon"
          [style.background-color]="displayMap?.outOfRange.color[0]"
        ></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="displayMetric && !displayMap">
    <div (click)="toggleColor('gray')">
      <span> no range</span>
      <div class="map-icon" [style.background-color]="'gray'"></div>
    </div>
  </ng-container>
  <div (click)="toggleColor('nodata')" [class]="'white'">
    <span> no data</span>
    <div class="map-icon border" [style.background-color]="'white'"></div>
  </div>
</div>
