#map-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  #map {
    flex-grow: 1;
  }
}

.map-icon {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
}

:host ::ng-deep .legend,
:host ::ng-deep .leaflet-popup-content {
  padding: 5px;
  margin: 0px;
  line-height: 18px;
  color: #555;
  div {
    display: inline-block;
    margin-right: 5px;
  }
  p {
    margin-top: 2px;
    margin-bottom: 0px;
  }

  h4 {
    margin: 0 0 3px;
    color: #777;
  }
}
:host ::ng-deep .leaflet-popup-content-wrapper {
  border-radius: 2px;
}

:host ::ng-deep .legend {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

:host ::ng-deep .in-spec {
  @extend .map-icon;
  border: 1px solid darken(#4488a9, 10);
  background-color: #4488a9 !important;
}

:host ::ng-deep .out-of-spec {
  @extend .map-icon;
  border: 1px solid darken(#ffb758, 10);
  background-color: #ffb758 !important;
}

:host ::ng-deep .unknown {
  @extend .map-icon;
  border: 1px solid darken(gray, 10);
  background-color: white;
}

:host ::ng-deep .no-threshold {
  @extend .map-icon;
  border: 1px solid darken(gray, 10);
  background-color: gray;
}
