#map {
  height: 100%;
  width: 100%;
}

:host ::ng-deep .map-icon {
  height: 8px !important;
  width: 8px !important;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px black;
  &.selected {
    height: 13px;
    width: 13px;
  }
}
:host ::ng-deep .icon-parent {
  height: 8px !important;
  width: 8px !important;
  border-radius: 50%;
  border: none;
}

:host ::ng-deep .leaflet-popup-content {
  padding: 3px;
  margin: 0px;
}

:host ::ng-deep .tooltip-name {
  font-size: 9pt !important;
}
:host ::ng-deep .tooltip-table {
  th,
  td {
    font-size: 9pt !important;
    padding-right: 5px;
    div {
      display: inline-block;
    }
  }
  tr th:last-child,
  tr td:last-child {
    padding-right: 0px;
  }
}

.legend,
:host ::ng-deep .leaflet-popup-content {
  .layer-hidden {
    opacity: 50%;
  }
  div {
    font-size: inherit;
    span {
      font-size: inherit;
    }
  }
  .map-icon {
    @extend .map-icon;
  }
  .legend-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    div {
      display: inline-block;
    }
    #gradient {
      display: flex;
      flex-direction: row;
    }
    div.values {
      margin: 0px 3px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  .gradient-icon {
    height: 75px;
    width: 10px;
  }
  div.map-icon {
    display: inline-block;
    margin-right: 5px;
  }
  p {
    margin-top: 2px;
    margin-bottom: 0px;
  }

  h4 {
    margin: 0 0 3px;
    color: "#333";
  }
}
:host ::ng-deep .leaflet-popup-content-wrapper {
  border-radius: 2px;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 11px !important;
  padding: 0px 4px;
  margin: 0px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  div.map-icon {
    display: inline-block;
    margin-left: 5px;
    margin-right: 0px;
  }
}
