<div
  id="map"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  (leafletMapReady)="onMapReady($event)"
  [leafletFitBounds]="fitBounds"
></div>

<div class="legend" id="legend">
  <h4>{{ displayMetric?.name }}</h4>
  <h5>({{ displayMetric?.unit }})</h5>
  <ng-container *ngIf="displayMetric && displayMap?.type === 'piecewise'">
    <div
      *ngFor="let piece of displayMap?.pieces"
      (click)="toggleColor(piece.color)"
      [class]="piece.color"
    >
      <div class="map-icon" [style.background-color]="piece.color"></div>
      <span>{{ piece.label }}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="displayMetric && displayMap?.type === 'stoplight'">
    <div
      (click)="toggleColor(displayMap?.colors.in)"
      [class]="displayMap?.colors.in"
    >
      <div
        class="map-icon"
        [style.background-color]="displayMap?.colors.in"
      ></div>
      <span>all in</span>
    </div>
    <div
      (click)="toggleColor(displayMap?.colors.middle)"
      [class]="displayMap?.colors.middle"
    >
      <div
        class="map-icon"
        [style.background-color]="displayMap?.colors.middle"
      ></div>
      <span>some in</span>
    </div>
    <div
      (click)="toggleColor(displayMap?.colors.out)"
      [class]="displayMap?.colors.out"
    >
      <div
        class="map-icon"
        [style.background-color]="displayMap?.colors.out"
      ></div>
      <span>none in</span>
    </div>
  </ng-container>

  <ng-container *ngIf="displayMetric && displayMap?.type === 'continuous'">
    <div class="legend-container">
      <div id="gradient">
        <div
          [style.background-image]="
            'linear-gradient(to top, ' + displayMap?.inRange.color + ')'
          "
          class="gradient-icon"
        ></div>
        <div class="values">
          <span>
            {{ displayMap.max }}
          </span>
          <span>
            {{ displayMap.min }}
          </span>
        </div>
      </div>

      <div (click)="toggleColor(displayMap?.outOfRange.color[0])">
        <div
          class="map-icon"
          [style.background-color]="displayMap?.outOfRange.color[0]"
        ></div>
        Out of Range
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="displayMetric && !displayMap">
    <div (click)="toggleColor('gray')">
      <div class="map-icon" [style.background-color]="'gray'"></div>
      no range
    </div>
  </ng-container>
  <div (click)="toggleColor('nodata')" [class]="'white'">
    <div class="map-icon border" [style.background-color]="'white'"></div>
    no data
  </div>
</div>

<div id="station-list" class="station-list">
  <div id="content">
    <div
      *ngFor="let station of stations; let i = index"
      class="station {{ i }}"
      (click)="toggleStation(i, $event)"
      (mouseenter)="hoverStation(i, 'open')"
      (mouseleave)="hoverStation(i, 'close')"
    >
      {{ station.id }}
    </div>
  </div>
</div>
