#metric-edit-container {
  height: 100%;
  overflow: hidden;
  gap: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
}
#metric-header {
  margin-top: 7px;
  justify-content: space-between;
}
.table-container {
  height: 400px;
  overflow: auto;
  table {
    width: 100%;
  }
}
