#metric-edit-container {
  height: 100%;
  overflow: hidden;
  gap: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
}
.metric-filter {
  width: 30%;
  padding: 4px;
  border: 1px solid #336178;
  border-radius: 0;
}
#metric-header {
  margin-top: 7px;
  justify-content: space-between;
}

// #table-container {
//   display: flex;
//   flex-direction: row;
//   flex: 1 1;
//   overflow: hidden;
//   width: 100%;
//   justify-items: stretch;
//   align-items: stretch;
// }

.table-container {
  height: 400px;
  overflow: auto;
  table {
    width: 100%;
  }
}
