<div class="row space-between">
  <h3>Channels</h3>
  <button mat-button color="accent" (click)="update()">Update</button>
</div>

<div class="row space-between">
  <button mat-button (click)="toggleAll(true)">All</button>
  <button mat-button (click)="toggleAll(false)">None</button>
</div>

<form [formGroup]="form">
  <div formGroupName="checkboxes">
    <ul>
      <li
        *ngFor="let item of form.get('checkboxes').value | keyvalue"
        class="checkbox"
      >
        <mat-checkbox
          type="checkbox"
          [formControlName]="item.key"
          [value]="item.value"
          (mouseenter)="mouseenter(item.key)"
          (mouseleave)="mouseleave(item.key)"
          [disableRipple]="true"
        >
          {{ item.key }}
        </mat-checkbox>
      </li>
    </ul>
  </div>
</form>
