@import "variables";

.widget-container {
  text-align: left;
  height: 100%;
  width: 100%;
}

.widget-header {
  width: 100%;
  padding: 5px 5px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h4 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
  }
  #controls {
    .text-button {
      height: 20px;
      line-height: 20px;
    }
    .icon-button {
      height: 20px;
      width: 20px;
      line-height: 20px;
    }
  }
}

.widget-message {
  padding: 5px 15px;
  p {
    margin-top: 5px;
  }
}

.widget-content {
  height: 100%;
  width: 100%;
}

.widget {
  height: 100%;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}

.axis-indicator {
  display: inline-block;
  color: #747474;
  font-weight: bolder;
  padding-left: 2px;
  border: 1.75px solid #747474;
  border-radius: 2px;
  height: 15px;
  width: 15px;
  margin: 2px 10px 4px 3px;
}
