<div class="widget-container" *ngIf="widget">
  <div class="widget-header">
    <h4>{{ widget.name }}</h4>
    <mat-menu
      #widgetMenu="matMenu"
      class="mat-menu-dense"
      yPosition="below"
      xPosition="before"
    >
      <!--copy widget button -->
      <button mat-menu-item (click)="refreshWidget()">Refresh Widget</button>
      <button
        mat-menu-item
        (click)="editWidget()"
        *ngIf="'update' | able: widget"
      >
        Edit Widget
      </button>
      <!-- TODO: add option for no dashboards -->
      <button
        mat-menu-item
        [matMenuTriggerFor]="dashboardMenu"
        [matMenuTriggerData]="{ dashboards: dashboards }"
        *ngIf="dashboards && dashboards.length > 0"
      >
        Add Widget to Dashboard
      </button>
      <button
        mat-menu-item
        id="delete-widget"
        (click)="deleteWidget()"
        color="warn"
        *ngIf="'delete' | able: widget"
      >
        Delete Widget
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="widgetMenu" color="primary">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-menu #dashboardMenu="matMenu" class="mat-menu-dense">
    <ng-template matMenuContent let-dashboards="dashboards">
      <!-- <button mat-menu-item *ngIf="'create' | able: Dashboard">Create New Dashboard</button> -->
      <ng-container *ngFor="let dashboard of dashboards">
        <button
          mat-menu-item
          (click)="addWidgetToDashboard(dashboard.id)"
          *ngIf="'update' | able: dashboard"
        >
          {{ dashboard.name }}
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>

  <shared-loading *ngIf="loading"> </shared-loading>
  <shared-error *ngIf="error" [errorMsg]="error"></shared-error>
  <div
    class="widget-message"
    *ngIf="widget.metrics && widget.metrics.length === 0"
  >
    <p>Could not load metric. Resource may have been deleted.</p>
  </div>
  <div class="widget-message" *ngIf="!widget.channelGroup">
    <p>Could not load channel group. Resource may have been deleted.</p>
  </div>
  <div *ngIf="!error && !loading && noData" class="widget-message">
    <p>No Data</p>
  </div>
  <div class="widget-content" *ngIf="!loading && !error && !noData">
    <ng-container [ngSwitch]="widget?.type">
      <widget-timeline
        *ngSwitchCase="'timeline'"
        class="widget"
        [widget]="widget"
        [data]="data"
      >
      </widget-timeline>
      <widget-tabular
        *ngSwitchCase="'tabular'"
        class="widget"
        [widget]="widget"
        [data]="data"
      >
      </widget-tabular>
      <widget-timeseries
        *ngSwitchCase="'timeseries'"
        class="widget"
        [widget]="widget"
        [data]="data"
      >
      </widget-timeseries>
      <widget-map
        *ngSwitchCase="'map'"
        class="widget"
        [widget]="widget"
        [data]="data"
      >
      </widget-map>
      <div *ngSwitchDefault class="widget-message">
        <p>
          Error: could not load widget...
          {{ widget?.type }}
        </p>
      </div>
    </ng-container>
  </div>
</div>
