@import "variables";

.widget-container {
  text-align: left;
  height: 100%;
  width: 100%;
}

.widget-header {
  width: 100%;
  padding: 5px 5px 0px 10px;
  h4 {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
  }
  button {
    height: 20px;
    width: 20px;
    line-height: 20px;
    float: right;
  }
}

.widget-message {
  padding: 5px 15px;
  p {
    margin-top: 5px;
  }
}

.widget-content {
  height: 100%;
  width: 100%;
}

.widget {
  height: 100%;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}

#delete-widget {
  margin-top: 10px;
  color: $sq-warn;
}
