@import 'variables';

#title {
    margin: 15px 5vw;

    h1 {
        width: 350px;
        display: inline-block;
    }
}

#map-and-channel-group {
    margin: 30px 5% 15px 5%;
    width: 90vw;
    display: inline-flex;

    #map-box {
        width: 20vw;
        height: 35vh;
        margin: 0 2% 0 0;
        float: left;
        
        app-map {
            width: 20vw;
            height: 35vh;
        }
    }

    #channel-groups {
        width: 70vw;
        height: 35vh;

        #channel-group-table {
            border: 1px solid $sq-lt-gray;
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }
}

