@import 'variables';
#monitor-container {
  margin-top: 10px;
  display:flex;
  flex-direction: row;
  height: 300px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  .col {
    flex-grow: 1;
    text-align: start;
    height:100%;
  }
  #monitor-chart {
    width: 50%;
    height: 100%;
    padding-bottom:40px;
    padding-top: 10px;
  }
}
