<router-outlet></router-outlet>

<ng-template #noMonitor >
  <p> Could not load monitor.</p>
</ng-template>
<ng-container *ngIf="!error && monitor; else noMonitor">
  <div id="monitor-container">
    <div id="title">
      <div id="monitor-info">
        <h2>{{monitor.name}}</h2>
      </div>
    
      <div id="button-container" *ngIf="'update' | able: 'monitor'">
        <button 
          mat-icon-button 
          color="warn"
          class=""
          (click)="deleteMonitor()"
          matTooltip="Delete monitor"
          aria-label="Button that deletes the selected monitor"
        > 
        <mat-icon>delete</mat-icon>
      </button>
        <button 
          mat-flat-button 
          color="primary"
          class="add-btn"
          (click)="editMonitor()"
          matTooltip="Edit channel group"
          aria-label="Button that navigates to edit channel group page"
        > 
        Edit
      </button>
      </div>
    </div>
  
    <div id="monitor-detail" class="col">
      <h3>Configuration</h3>
      <div >
        Channel Group: {{monitor.channelGroup?.name}}
      </div>
      <div>
        Metric: {{monitor.metric?.name}}
      </div>
      <div>
        Stat Type: {{monitor.stat}}
      </div>
      <div>
        # of channels: {{monitor.numberChannels}}
      </div>
      <div>
        Interval type: {{monitor.intervalType}}
      </div>
      <div>
        Interval count: {{monitor.intervalCount}}
      </div>
    </div>
    <div id="monitor-triggers" class="col">
      <h3>Triggers</h3>
      <div *ngFor="let trigger of monitor.triggers">
        <span>Min: {{trigger.min}} </span>
        <span>Max: {{trigger.max}} </span>
        <span>Band Inclusive: {{trigger.bandInclusive}} </span>
        <span>Level: {{trigger.level}}</span>
      </div>
    </div>
    <div id="monitor-chart" class="col">
      <h3>Alarm History</h3>
      <app-monitor-chart *ngIf="metric" [metric]="metric" [channelGroupId]="monitor.channelGroupId" [triggers]="monitor.triggers"></app-monitor-chart>
    </div>
  </div>
  
</ng-container>

