<ng-template #noMonitor >
  <p> Could not load monitor.</p>
</ng-template>
<ng-container *ngIf="!error && monitor; else noMonitor">
  <div id="title">
    <div id="monitor-info">
      <h2>{{monitor.name}}</h2>
    </div>
  
    <div id="button-container" *ngIf="'update' | able: 'monitor'">
      <button 
        mat-icon-button 
        color="warn"
        class=""
        (click)="onDelete()"
        matTooltip="Delete monitor"
        aria-label="Button that deletes the selected monitor"
      > 
      <mat-icon>delete</mat-icon>
    </button>
      <button 
        mat-flat-button 
        color="primary"
        class="add-btn"
        (click)="editMonitor()"
        matTooltip="Edit channel group"
        aria-label="Button that navigates to edit channel group page"
      > 
      Edit
    </button>
    </div>
  </div>
  <div id="monitor-container">
    <div id="monitor-triggers" id="triggers" class="col">
      <h3>Triggers</h3>
      <div *ngFor="let trigger of monitor.triggers" class="trigger">
        <div>Level: {{trigger.level}}</div>
        <div>{{trigger.bandInclusive? "Inclusive" : "Exclusive"}} </div>
        <div>Min: {{trigger.min}} </div>
        <div>Max: {{trigger.max}} </div>
      </div>
      <div *ngIf=!monitor.triggers>Missing trigger information</div>
    </div>
    <div id="monitor-chart" class="col">
      <h3>History</h3>
      <app-monitor-chart *ngIf="monitor.metric" [metric]="monitor.metric" [channelGroupId]="monitor.channelGroup.id" [triggers]="monitor.triggers"></app-monitor-chart>
    </div>
  </div>
  
</ng-container>

