@import 'variables';
#title {
  h2 {
  margin-top: 0px;
  }
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
#monitor-container {
  display:flex;
  flex-direction: row;
  height: 300;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  .col {
    flex-grow: 1;
    text-align: start;
    height:100%;
  }
  #monitor-chart {
    width: 50%;
    height: 100%;
  }
}
