@import "variables";
.table-container {
  flex-grow: 1;
  height: 100%;
  min-height: 400px;
}
:host ::ng-deep.channel-table.ngx-datatable {
  height: 100%;
  min-height: 400px !important;
  border: $default-border;
  border-top: none;

  .datatable-header {
    height: auto !important;
    background-color: $sq-lt-gray;
    border-top: $default-border;
    border-bottom: $default-border;
  }
  .datatable-header-cell {
    padding: 1px !important;
    white-space: normal !important;
    &:hover {
      z-index: 1000;
      overflow: visible !important;
    }
  }

  .datatable-header-cell-template-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .resize-handle {
    width: 2px !important;
    padding: 0px 1px !important;
  }
  .datatable-header-cell-label {
    text-overflow: ellipsis;
  }
  .header-cell {
    width: 100%;
    overflow: hidden;
    max-height: 50px;
    span {
      font-size: inherit;
    }
    &:hover {
      z-index: 1000;
      overflow: auto;
      overflow-wrap: break-word;
      span {
        display: inline-block;
        word-break: break-word;
        font-weight: bold;
      }
    }
  }
}

button {
  height: 20px;
  width: 20px;
  line-height: unset;
}
