#edit-container {
  padding: 10px;
  z-index: 10;
  position: absolute;
  top: 60px;
  background-color: white;
}

#metric-select-container{
  display:flex;
  #selected-metrics, #metric-select{
    display: inline-block;
  }
  #selected-metrics {
    text-align: left;
    padding-left: 20px;
    li[selected="selected"] {
      background-color: red;
    }
  }
}
#metric-select{
  height:300px;
  width: auto;
}