<div id="edit-container" class="box">
  <form action="" [formGroup]="widgetForm" (ngSubmit)="save()">
    <div class="stepper-header">
      <h3>
        {{ editMode ? "Edit widget" + id : "New Widget"}}
      </h3>
      <button mat-flat-button color="primary" type="submit" [disabled]='!widgetForm.valid'>
        Save</button>
      <button mat-button type="button" class="warning" (click)="cancel()">Cancel</button>
    </div>

    <div class="stepper-content">
      <div class="stepper-page page-1">
        <mat-form-field>
          <input matInput 
            type="text" 
            id="name" 
            formControlName="name" 
            placeholder="Widget name"
          >
        </mat-form-field>

        <mat-form-field>
          <textarea matInput 
            id="description" 
            formControlName="description" 
            class="form-control"
            placeholder="Widget description"
            >
          </textarea>
        </mat-form-field>
        <div>
          <label for="type">Widget Type: </label>
          <select formControlName="type" *ngIf="widgetTypes">
            <option disabled="true">Please select a widget type</option>
            <option *ngFor="let type of widgetTypes" [ngValue]="type.id">
              {{type.type}}
            </option>

          </select>
        </div>

        <div *ngIf="widgetForm.get('type').value == 1">
          <label for="method">Statistical method: </label>
          <select formControlName="method" >
            <option disabled="true">Calculation Type</option>
            <option *ngFor="let method of calcMethods" [ngValue]="method">
              {{method}}
            </option>
          </select>
        </div>
      </div>
      <div id="metric-select-container" class="stepper-page page-2">
        Metrics:
        <select id="metric-select" formControlName="metrics" *ngIf="availableMetrics" multiple
          (change)="updateMetrics()">
          <option disabled="true">Please select metrics</option>
          <option *ngFor="let metric of availableMetrics" [ngValue]="metric">
            {{metric.name}}
          </option>

        </select>
        <div *ngIf="selectedMetrics" id="selected-metrics">
          <ol>
            <li *ngFor="let metric of selectedMetrics">{{metric.name}}</li>
          </ol>
        </div>
      </div>

      <div class="stepper-page page 3">

      </div>
    </div>
  </form>
</div>
