#map-container {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  #map {
    flex-grow: 1;
  }
}

.map-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

:host ::ng-deep .in-spec{
  @extend .map-icon;
  background-color: #4488A9 !important;
  
}

:host ::ng-deep .out-of-spec {
  @extend .map-icon;
  background-color: #ffb758  !important;
}

:host ::ng-deep .no-threshold {
  @extend .map-icon;
  background-color: gray;
}

:host ::ng-deep .no-threshold {
  @extend .map-icon;
  background-color: white;
}