
<div id="organization-content" >
  <div id="column" *ngIf="user && organization; else noUser">
    <h1>{{organization.name}} Organization</h1>
    <p>Hello, {{user.firstname}} {{user.lastname}}!</p>

    <h2>Users</h2>
    <div>
      <ngx-datatable
      #userTable
      class="material"
      [rows]="organization.users"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="true"
      (page)="onPage($event)"
    >
      <ngx-datatable-column name="First Name" prop="firstname" [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="Last Name" prop="lastname" [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email" [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="Last Login" prop="lastLogin" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template >
         {{ value | date:'short' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Admin" prop="isAdmin" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value ? "Admin" : ""}}
         </ng-template>

      </ngx-datatable-column>
      <ngx-datatable-column name="Active" prop="isActive" [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="" prop="id" *ngIf="isAdmin">
        <ng-template let-row="row"  let-expanded="expanded" ngx-datatable-cell-template >
          <button *ngIf="!expanded" (click)="expandRow(row)">Edit</button> 
          <button *ngIf="expanded" (click)="cancelUserEdit(row)">Cancel</button> 
          <!-- toggle edit and cancel button -->
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-row-detail  [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div><strong>Edit User: </strong> {{row.firstname}} {{row.lastname}}</div>
          <form [formGroup]="editUserForm" (ngSubmit)="saveUser(row)">
            <mat-form-field>
              <mat-label>Role</mat-label>
              <mat-select formControlName="editGroups" multiple>
                <mat-option value="viewer">Viewer</mat-option>
                <mat-option value="reporter">Reporter</mat-option>
                <mat-option value="contributer">Contributer</mat-option>
              </mat-select>
            </mat-form-field>
          
            <mat-checkbox formControlName="editIsAdmin">Admin</mat-checkbox>
            <button type="submit" [disabled]="!editUserForm.valid">Save User</button>
          </form>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- <ngx-datatable-column name="Groups" prop="groups" [width]="100" *ngIf="isAdmin"></ngx-datatable-column> -->
    </ngx-datatable>

    </div>
    <mat-divider></mat-divider>
    <div *ngIf="isAdmin">
      <h2>Add User</h2>
      <form class="form" [formGroup]="addUserForm" (ngSubmit)="addNewUser()" >
        <div *ngIf="error">
          {{error}}
        </div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="groups" multiple>
            <mat-option value="viewer">Viewer</mat-option>
            <mat-option value="reporter">Reporter</mat-option>
            <mat-option value="contributer">Contributer</mat-option>
          </mat-select>
        </mat-form-field>
        
        
        <mat-checkbox formControlName="isAdmin">Admin</mat-checkbox>
  
        <button mat-flat-button color="accent" type="submit" [disabled]="!addUserForm.valid">Add User</button>
      </form>
      <div *ngIf="!!userAdded">
        Invitation email sent to {{userAdded.email}}
      </div>
    </div>

    <!-- <div *ngIf="user.isAdmin"> -->
      <div>
        <h3>
          Squac User Roles:
        </h3>
      <p>
        Contributer - can add metrics
        Reporter - can create dashboards....
        Viewer - can see dashboards/groups.

      </p>
    </div>
  </div>



  <ng-template #noUser>
    <p>
      Loading Organization information, please wait.
    </p>
    
  </ng-template>



</div>
