<h3>
  Channel Groups
</h3>
<div id="channel-group-selector-container">
  <div id="groups-container">
    <mat-selection-list dense *ngIf="availableChannelGroups" id="channel-group-selector" >
        <mat-list-option 
          *ngFor="let channelGroup of availableChannelGroups"
          (click)="getChannelsForChannelGroup(channelGroup)"
          [value]="channelGroup.id"
          [class.selected]="channelGroup.id === selectedChannelGroup?.id"
          >
          {{channelGroup.name}}
        </mat-list-option>
      </mat-selection-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>

  <div id="selection-container" >
    <app-loading *ngIf="loading"></app-loading>
    <div *ngIf="!loading" id="channel-group-details">
      <h4 *ngIf="selectedChannelGroup">
        {{selectedChannelGroup.name}}  ({{selectedChannelGroup.channels.length}} channels)
      </h4>
  
      <h4 *ngIf="!selectedChannelGroup">
        Please select a channel group.
      </h4>
  
      <div id="selected-channels" *ngIf="selectedChannelGroup">
        <mat-list dense *ngIf="selectedChannelGroup.channels">
          <mat-list-item *ngFor="let channel of selectedChannelGroup.channels">
              {{channel.nslc}}
          </mat-list-item>
        </mat-list>
      </div>
      <div id="channel-group-detail" *ngIf="selectedChannelGroup && selectedChannelGroup.channels">
        <!-- <div class="detail-subhead">Number of Channels</div>
        <div>{{selectedChannelGroup.channels.length}}</div> -->
        <div class="detail-subhead">Description:</div>
        <div>{{selectedChannelGroup.description}}</div>
      </div>
  
    </div>

  </div>


</div>