<shared-detail-page
  [appIsLoading]="
    loadingService.isLoading$(this, LoadingIndicator.MAIN) | async
  "
  [options]="pageOptions"
  type="Channel Group"
  [resource]="channelGroup"
  title="{{ editMode ? 'Edit ' + channelGroup.name : 'Create Channel Group' }}"
  subtext="by {{ channelGroup?.owner | user }} ({{
    channelGroup?.orgId ?? orgId | organization
  }})"
  (controlClicked)="controlClicked($event)"
>
  <ng-container headerContent>
    <ng-container *ngIf="editMode; else notEditMode">
      <button
        *ngIf="'update' | able: channelGroup"
        mat-flat-button
        color="accent"
        (click)="save()"
        [disabled]="
          !channelGroupForm.valid ||
          (matchingRules?.length === 0 && autoIncludeChannels.length === 0)
        "
        uiTooltip="Save channel group"
        aria-label="Button that saves the changes to the channel group"
      >
        Save
      </button>
    </ng-container>
    <ng-template #notEditMode>
      <button
        *ngIf="'create' | able: 'ChannelGroup'"
        mat-flat-button
        color="accent"
        (click)="save()"
        [disabled]="
          !channelGroupForm.valid ||
          (matchingRules?.length === 0 && autoIncludeChannels.length === 0)
        "
        uiTooltip="Create channel group"
        aria-label="Button that creates the channel group"
      >
        Create
      </button>
    </ng-template>
  </ng-container>
  <ng-container bodyContent>
    <div class="edit-body gray-border white-background">
      <div id="left-side">
        <div
          id="add-channel-header"
          class="row wrap space-between"
        >
          <h3>Add Channels to Group</h3>
          <mat-slide-toggle [(ngModel)]="showOnlyCurrent">
            <span class="help-text">Only Show Current Channels</span>
          </mat-slide-toggle>
          <channel-group-csv-upload
            [(channels)]="selectedChannels"
            (channelsChange)="addChannelsFromCSV($event)"
            [(error)]="error"
            [showOnlyCurrent]="showOnlyCurrent"
            [context]="this"
            [loadingIndicator]="LoadingIndicator.RESULTS"
          >
          </channel-group-csv-upload>
        </div>

        <p class="help-text">
          Channel groups can have a fixed set of channels or can be
          automatically updated with channels that match a set of regular
          expressions. Add regular expressions on the right under 'Regex' or
          below using the filters. Add channels by uploading a CSV, searching
          with the filters, or using the map to search within a region.
        </p>
        <p
          *ngIf="error"
          class="warn-text"
        >
          {{ error }}
        </p>

        <channel-group-filter
          (filtersChanged)="filtersChanged($event)"
          (addFilterToRegex)="addFilterToRegex($event)"
        >
        </channel-group-filter>

        <div
          class="row channels-row"
          [appIsLoading]="
            loadingService.isLoading$(this, LoadingIndicator.RESULTS) | async
          "
        >
          <div class="search-results-container">
            <div class="row space-between select-channels-controls wrap">
              <h4>Results ({{ rows.length }})</h4>

              <div class="row space-between wrap">
                <p class="help-text">add selected to:</p>
                <button
                  mat-stroked-button
                  color="accent"
                  (click)="includeChannels()"
                >
                  included
                </button>
                <button
                  mat-stroked-button
                  color="accent"
                  (click)="excludeChannels()"
                >
                  excluded
                </button>
              </div>

              <!-- <button
                mat-button
                color="accent"
                (click)="undoSelectRemove()"
                [disabled]="!this.changeMade"
                uiTooltip="undo last change"
              >
                <mat-icon>undo</mat-icon>
              </button> -->
            </div>
            <div class="searched-channels-container">
              <channel-group-edit-table
                [rows]="rows"
                [removable]="false"
                [selected]="selectedChannels"
                (selectedChange)="selectRow($event)"
                [selectable]="true"
              >
              </channel-group-edit-table>
            </div>
          </div>

          <channel-group-map
            [autoIncludeChannels]="autoIncludeChannels"
            [autoExcludeChannels]="autoExcludeChannels"
            [searchedChannels]="rows"
            [selectedChannels]="selectedChannels"
            [showChannel]="showChannel"
            [editPage]="true"
            (boundsChange)="updateBounds($event)"
          ></channel-group-map>
        </div>
      </div>
      <div>
        <mat-accordion
          displayMode="flat"
          multi
        >
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Group Information</h4>
              </mat-panel-title>
              <mat-panel-description>(required)</mat-panel-description>
            </mat-expansion-panel-header>

            <form
              [formGroup]="channelGroupForm"
              class="column"
            >
              <mat-form-field
                class="channel-group-input"
                class="medium"
                subscriptSizing="dynamic"
              >
                <input
                  matInput
                  placeholder="Name"
                  formControlName="name"
                  required
                />
              </mat-form-field>

              <mat-form-field
                id="description"
                subscriptSizing="dynamic"
              >
                <textarea
                  matInput
                  placeholder="Description"
                  formControlName="description"
                  required
                ></textarea>
              </mat-form-field>
              <shared-sharing-toggle
                [orgId]="orgId"
                [filterText]="sharedToggleConfig"
                [(shareOrg)]="shareOrg"
                [(shareAll)]="shareAll"
                [isFormInput]="true"
              >
              </shared-sharing-toggle>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>RegEx Rules ({{ matchingRules?.length }})</h4>
              </mat-panel-title>
              <mat-panel-description> (optional) </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="help-text">
              Channel groups can be defined by sets of regular expressions.
              Groups will be updated daily with any channels that match the
              rules.
            </p>
            <channel-group-matching-rule-edit
              [(matchingRules)]="matchingRules"
              (matchingRuleDeleteIds)="deleteMatchingRules($event)"
              (previewRules)="previewRules($event)"
              [channelGroupId]="channelGroup?.id"
            >
            </channel-group-matching-rule-edit>
          </mat-expansion-panel>

          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Included ({{ autoIncludeChannels.length }})</h4>
              </mat-panel-title>
              <mat-panel-description>Channels always in group.</mat-panel-description>
            </mat-expansion-panel-header>

            <channel-group-edit-table
              (rowsChange)="updateState()"
              [(rows)]="autoIncludeChannels"
              title="Included Channels"
              [removable]="true"
              [selectable]="true"
            >
            </channel-group-edit-table>
          </mat-expansion-panel>

          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Excluded ({{ autoExcludeChannels.length }})</h4>
              </mat-panel-title>
              <mat-panel-description>Channels never in group.</mat-panel-description>
            </mat-expansion-panel-header>
            <channel-group-edit-table
              (rowsChange)="updateState()"
              [(rows)]="autoExcludeChannels"
              title="Excluded Channels"
              [removable]="true"
              [selectable]="true"
            >
            </channel-group-edit-table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </ng-container>
</shared-detail-page>