<shared-table-view
  title="Channel Groups"
  [options]="options"
  [rows]="rows"
  [columns]="columns"
  (refresh)="refresh()"
  [controls]="controls"
  [filters]="filters"
  [selectedRowId]="activeChannelId"
>
  <ng-container tableHeadControls> </ng-container>
  <ng-container tableHeadFilters> </ng-container>
  <ng-container tableFooter>
    <div>Footer content</div>
  </ng-container>
</shared-table-view>
<router-outlet></router-outlet>

<!-- <router-outlet></router-outlet> -->

<!-- <channel-group-detail *ngIf="selectedChannelGroup" [channelGroup]="selectedChannelGroup"></channel-group-detail> -->
