<div class="box" id="dashboard-edit-container">
    <h1>
        {{editMode && dashboard ? "Edit " + dashboard.name : "Create Dashboard"}}
    </h1>
      <form class="form" action="" [formGroup]="dashboardForm" (ngSubmit)="save()">
        <mat-form-field >
          <input matInput 
            formControlName="name"
            placeholder="Name"
            type="text"
            id="name">
        </mat-form-field>
        <mat-form-field >
            <textarea 
              matInput
              id="description"
              placeholder="Description"
              formControlName="description"
              class="form-control"
              >
          </textarea>
        </mat-form-field>
        <div >
            <button mat-stroked-button color="accent" type="button" (click)="cancel()">Cancel</button>
            <button mat-flat-button 
              color="accent"
              type="submit"
              [disabled]='!dashboardForm.valid'
            >
            Save</button>

        </div>
      </form>
</div>


<!-- TODO: Make generic else template -->