<h1>
    {{editMode && dashboard ? "Edit " + dashboard.name : "Create Dashboard"}}
</h1>
  <form action="" [formGroup]="dashboardForm" (ngSubmit)="save()">
    <div >
        <button class="btn btn-primary" 
          type="submit"
          [disabled]='!dashboardForm.valid'
        >
        Save</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
    <div >
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name"
          formControlName="name"
        class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description"
          formControlName="description"
        class="form-control">
        </textarea>
      </div>
    </div>

    <label for="channelGroup">Channel Group</label>
    <select formControlName="channelGroup" *ngIf="availableChannelGroups" (change)="getChannelsForChannelGroup()">
      <option disabled="true">Please select a channelGroup</option>
      <option  *ngFor="let channelGroup of availableChannelGroups" [ngValue]="channelGroup.id">
        {{channelGroup.name}}
      </option>

    </select>

    <div *ngIf="selectedChannelGroup">
      Channels:
      <ul>
        <li *ngFor="let channel of selectedChannelGroup.channels">
          {{channel.nslc}}
        </li>
      </ul>
    </div>

  </form>

<!-- TODO: Make generic else template -->