<div class="box">
    <h1>
        {{editMode && dashboard ? "Edit " + dashboard.name : "Create Dashboard"}}
    </h1>
      <form class="form" action="" [formGroup]="dashboardForm" (ngSubmit)="save()">
        <div >
          <mat-form-field >
            <input matInput 
              formControlName="name"
              placeholder="Name"
              type="text"
              id="name">
          </mat-form-field>
          <mat-form-field >
              <textarea 
                matInput
                id="description"
                placeholder="Description"
                formControlName="description"
                class="form-control"
                >
            </textarea>
          </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Channel Group</mat-label>
            <mat-select formControlName="channelGroup" *ngIf="availableChannelGroups" (selectionChange)="getChannelsForChannelGroup($event)">
              <mat-option *ngFor="let channelGroup of availableChannelGroups" [value]="channelGroup.id">
                {{channelGroup.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    
          <h4 *ngIf="selectedChannelGroup">
            Channels in {{selectedChannelGroup.name}}:
          </h4>
        <div *ngIf="selectedChannelGroup" id="selectedChannels">

          <ul>
            <li *ngFor="let channel of selectedChannelGroup.channels">
              {{channel.nslc}}
            </li>
          </ul>
        </div>
        <div >
            <button mat-raised-button 
              type="submit"
              [disabled]='!dashboardForm.valid'
            >
            Save</button>
            <button mat-flat-button type="button" color="warn" (click)="cancel()">Cancel</button>
        </div>
      </form>
</div>


<!-- TODO: Make generic else template -->