<shared-detail-page
  [options]="pageOptions"
  title="Metrics"
  type="Metric"
>
  <ng-container bodyContent>
    <shared-table-view
      title="Metrics"
      [options]="options"
      [rows]="rows"
      [columns]="columns"
      [controls]="controls"
      [filters]="filters"
      (refresh)="refresh()"
      [isLoading]="loadingService.isLoading$(this) | async"
      [selectedRowId]="selectedMetricId"
    >
    </shared-table-view>
  </ng-container>
</shared-detail-page>

<router-outlet></router-outlet>