<shared-detail-page [options]="pageOptions" title="Metrics" type="metric">
  <ng-container bodyContent>
    <shared-table-view title="Metrics" [options]="options" [rows]="rows" [columns]="columns" [controls]="controls"
      [filters]="filters" (refresh)="refresh()" [isLoading]="loadingService.isLoading$(this) | async"
      [selectedRowId]="selectedMetricId">
      <ng-template ngx-datatable-cell-template let-row="row" #nameTemplate>
        <a [routerLink]="[row.referenceUrl]">{{ row.name }}</a>
      </ng-template>
    </shared-table-view>
  </ng-container>
</shared-detail-page>

<router-outlet></router-outlet>