#filter-container {
  width: 100%;
  gap: 3px;
  .dense-form-field {
    width: 70px;
    flex-grow: 1;
    max-width: 90px;
    .no-input {
      display: none;
    }

    .has-input {
      display: inline-block;
    }
  }
  div {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }
}
