@import "variables";
#loading-gif {
  display: inline-block;
  img {
    height: 100px;
    width: 100px;
  }
  z-index: 10001;
}

li {
  list-style-type: none;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  /* LoadingDirective overlay styles */
  .loading-overlay {
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.8;
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 0;
  }
  &.loading-full-screen {
    position: fixed;

    .loading-overlay {
      background: $sq-blue;
      opacity: 1;
    }
  }
}
