<mat-form-field
  id="date-range"
  appearance="outline"
  class="dense-form-field"
  subscriptSizing="dynamic"
  [style.width]="'235px'"
>
  <mat-label>Time Range</mat-label>
  <input
    #datePicker
    matInput
    placeholder="Set Date Range"
    floatLabel="always"
    ngxDaterangepickerMd
    type="text"
    [showCancel]="true"
    [maxDate]="maxDate"
    [(ngModel)]="selected"
    [timePicker]="true"
    [timePicker24Hour]="true"
    [alwaysShowCalendars]="true"
    [customRangeDirection]="true"
    [showRangeLabelOnInput]="true"
    [ranges]="rangesForDatePicker"
    opens="left"
    startKey="startDate"
    endKey="endDate"
    (ngModelChange)="ngModelChange($event)"
  />
</mat-form-field>