.body-content-container {
  height: calc(100% - 100px);
}
:host ::ng-deep {
  mat-step-header {
    padding: 3px;
  }
  .mat-stepper-vertical-line::before {
    top: 0px;
    bottom: 0px;
  }
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
}
