<div
  mat-dialog-title
  class="dialog-title"
>
  <h3 *ngIf="!copyWidget">{{ editMode ? "Edit Widget" : "New Widget" }}</h3>
  <h3 *ngIf="copyWidget">Add Widget to Dashboard</h3>
  <button
    mat-icon-button
    type="button"
    (click)="cancel()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <mat-stepper
    #stepper
    [linear]="!editMode"
    color="primary"
    (selectionChange)="stepSelected()"
  >
    <mat-step
      #infoStep
      [errorMessage]="infoTab.error"
      [completed]="infoTab.done"
      [hasError]="infoStep.interacted && !infoTab.done"
    >
      <ng-template matStepLabel>Widget Information</ng-template>
      <widget-edit-info
        #infoTab
        [(name)]="widget.name"
        [(type)]="widget.type"
        [(stat)]="widget.stat"
        [(displayType)]="displayType"
        [(properties)]="widget.properties"
      ></widget-edit-info>
    </mat-step>
    <mat-step
      #metricsStep
      errorMessage="Missing metric."
      [completed]="metricsTab.done"
      [hasError]="(metricsStep.interacted || editMode) && !metricsTab.done"
    >
      <ng-template matStepLabel>Metrics</ng-template>
      <widget-edit-metrics
        #metricsTab
        [metrics]="metrics"
        [(selectedMetrics)]="widget.metrics"
        [type]="widget.type"
      ></widget-edit-metrics>
    </mat-step>
    <mat-step [optional]="true">
      <ng-template matStepLabel>Options</ng-template>
      <widget-edit-options
        #optionsTab
        [selectedMetrics]="widget.metrics"
        [type]="widget.type"
        [displayType]="displayType"
        [(thresholds)]="widget.thresholds"
        [(properties)]="widget.properties"
      ></widget-edit-options>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions
  class="dialog-options"
  *ngIf="widget"
>
  <div>
    <button
      mat-stroked-button
      type="button"
      color="primary"
      (click)="stepper.previous()"
      [disabled]="stepper.selectedIndex === 0"
    >
      Back
    </button>
    <button
      mat-stroked-button
      type="button"
      color="primary"
      (click)="stepper.next()"
      [disabled]="stepper.selectedIndex === 2"
    >
      Next
    </button>
    <button
      class="save"
      mat-flat-button
      type="button"
      color="accent"
      (click)="save()"
      [disabled]="!widget.isValid || !metricsTab.done"
    >
      Save
    </button>
  </div>
  <p
    class="help-text"
    *ngIf="!widget.isValid; else valid"
  >
    Click next to continue {{ editMode ? "editing" : "creating" }} your widget.
  </p>
  <ng-template #valid>
    <p class="help-text"></p>
  </ng-template>
</mat-dialog-actions>