<div id="map-container">
  <div
    id="map"
    [ngClass]="{ 'edit-map': editPage, 'view-map': !editPage }"
    leaflet
    [leafletOptions]="options"
    [leafletLayers]="layers"
    (leafletMapReady)="onMapReady($event)"
  >
    <div
      *ngIf="editPage"
      leafletDraw
      [leafletDrawOptions]="drawOptions"
      (leafletDrawStart)="onDrawStart()"
      (leafletDrawCreated)="onRectangleCreated($event)"
      (leafletDrawEdited)="onRectangleEdited()"
      (leafletDrawDeleted)="onRectangleDeleted()"
    ></div>
  </div>

  <div id="legend" *ngIf="editPage" class="square-box">
    <h4>Channels Legend</h4>
    <div id="legend-top">
      <div class="legend-item">
        <div class="original-channels"></div>
        <span>In Group</span>
      </div>
      <div class="legend-item">
        <div class="new-channels"></div>
        <span>Selected</span>
      </div>
    </div>
    <div id="legend-bottom">
      <div class="legend-item">
        <div class="filtered-channels"></div>
        <span>Search Results</span>
      </div>
      <div class="legend-item">
        <div class="remove-channels"></div>
        <span>To remove</span>
      </div>
    </div>
  </div>
</div>
