<div class="widget-container" *ngIf="widget" >
  <div class="widget-header">
    <h4>{{widget.name}}</h4>
    <mat-menu #widgetMenu="matMenu" class="mat-menu-dense" yPosition="below" xPosition="before">
    <!--copy widget button -->
        <button mat-menu-item (click)="refreshWidget()">Refresh Widget</button>
        <button mat-menu-item (click)="editWidget()" *ngIf="'update' | able: widget">Edit Widget</button>
        <button mat-menu-item [matMenuTriggerFor]="dashboardMenu" [matMenuTriggerData]="{dashboards: dashboards}" *ngIf="dashboards && dashboards.length > 0">Add Widget to Dashboard</button>
        <button mat-menu-item id="delete-widget" (click)="deleteWidget()" color="warn" *ngIf="'delete' | able: widget">Delete Widget</button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="widgetMenu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
  </div>

  <mat-menu #dashboardMenu="matMenu">
    <ng-template matMenuContent let-dashboards="dashboards">
      <!-- <button mat-menu-item *ngIf="'create' | able: Dashboard">Create New Dashboard</button> -->
      <ng-container *ngFor="let dashboard of dashboards">
          <button mat-menu-item (click)="addWidgetToDashboard(dashboard.id)" *ngIf="'update' | able: dashboard">{{dashboard.name}}</button>
      </ng-container>
    </ng-template>
  </mat-menu>


  <app-loading *ngIf="loading"> </app-loading>
  <app-error *ngIf="error" [errorMsg]="error"></app-error>
  <div class="widget-message" *ngIf="widget.metrics && widget.metrics.length === 0">
    <p>Could not load metric. Resource may have been deleted.</p>
  </div>
  <div class="widget-message" *ngIf="!widget.channelGroup">
    <p>Could not load channel group. Resource may have been deleted.</p>
  </div>
  <div *ngIf="!error && !loading && noData" class="widget-message"> <p> No Data </p></div>
  <div class="widget-content" *ngIf="!loading && !error && !noData">
    <!-- <app-loading></app-loading> -->
    <ng-container [ngSwitch]="widget?.type">
      <app-timeline *ngSwitchCase="'timeline'" class="widget"
        [widget]="widget"
        [data]="data"
      >
      </app-timeline>
      <app-tabular *ngSwitchCase="'tabular'" class="widget"
      [widget]="widget"
      [data]="data"
      >

      </app-tabular>
      <app-timeseries *ngSwitchCase="'timeseries'" class="widget"
      [widget]="widget"
      [data]="data"
    >

    </app-timeseries>
    <app-map *ngSwitchCase="'map'" class="widget"
    [widget]="widget"
    [data]="data"
    > </app-map>
    <div  *ngSwitchDefault class="widget-message">
      <p>
        Error: could not load widget...
        {{widget?.type}}
      </p>
    </div>

    </ng-container>
  </div>
</div>
