#edit-title {
  margin-bottom: 10px;
  h3 {
    display: inline;
  }
  button {
    float: right;
  }
}

.sharing-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
  mat-radio-button {
    margin-bottom: 5px;
  }
}

h3 {
  margin-bottom: 10px;
}
