#metric-edit-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.metric-filter {
  width: 30%;
  padding: 4px;
  border: 1px solid #336178;
  border-radius: 0;
}
#metric-header {
  margin-top: 7px;
  justify-content: space-between;
}

#table-container {
  overflow: hidden;
}

#metric-select-table {
  width: 100%;
  height: 100%;
}
ngx-datatable {
  height: 100%;
}
