#organization-content {
  flex-direction: row;
  display: flex;
  justify-content: center;
  #column {
    flex-direction: column;
    display: flex;
    width: 80%;
    min-width: 200px;
  }
}
#org-users-container {
  margin: 10px 0px;
}
#user-table {
  height: 40vh;
  min-height: 300px;
}
#user-edit-title {
  height: 45px;
  padding: 10px;
  button {
    position:absolute;
    right: 10px;
    top:10px
  }
}
.user-form {
  padding: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-table-button {
  margin-left: -10px;
  margin-top:-9px;
}
#user-edit {
  .select-groups {
    width: 300px;
  }
}

#invite-sent {
 margin: 10px;
}

#roles-container {
  ul {
    list-style-type: none;
  }
}