.edit-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 60vh;
}

.metric-filter {
  width: 30%;
  padding: 4px;
  border: 1px solid #336178;
  border-radius: 0;
}
#metric-header {
  margin-top: 7px;
  justify-content: space-between;
}

#metric-select-table {
  flex-grow: 1;
  overflow: scroll;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
