<div id="metric-header">
  <input
    type="text"
    class="metric-filter"
    placeholder="Filter by metric name..."
    (keyup)="updateFilter($event)"
  />
  <div class="help-text">
    Metrics can be reordered or hidden when viewing the widget.
  </div>
</div>
<ngx-datatable
  id="metric-select-table"
  #metricTable
  class="material"
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="30"
  [columnMode]="ColumnMode.flex"
  [footerHeight]="0"
  rowHeight="auto"
  [selected]="selected"
  [selectionType]="SelectionType.multiClick"
  [selectAllRowsOnPage]="false"
  (select)="metricsSelected($event)"
>
</ngx-datatable>
