<div>
  <span class="label">Metric Options</span>
  <p class="help-text"></p>
  {{ widgetType }}
  <span [ngSwitch]="widgetType">
    <p *ngSwitchCase="'scatter-plot'">
      color by any metric, or individual channels
    </p>
    <p *ngSwitchCase="'parallel-plot'">
      color each channel individually by default, but another metric can be
      selected...maybe?
    </p>
    <p *ngSwitchCase="'tabular'">color each metric column separately</p>
    <p *ngSwitchDefault>color by shown metric or another</p>
  </span>
  <mat-form-field>
    <mat-label>Metric</mat-label>
    <mat-select #metric multiple (selectionChange)="updateDisplayOptions()">
      <mat-select-trigger>
        {{ metric.value ? getMetric(metric.value[0]) : "" }}
        <span *ngIf="metric.value?.length > 1">
          (+{{ metric.value.length - 1 }}
          {{ metric.value?.length === 2 ? "other" : "others" }})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let m of selectedMetrics" [value]="m.id">
        {{ m.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <span class="label">Color Options</span>
</div>
<p class="help-text">
  Values on widgets can be displayed as a gradient, single colors, or by
  channel. If min or max are blank, the data min or data max will be used.
</p>
<!-- coloring
  // select metrics or just one
  // continuous or piecewise
  //
  - continuous or piecewise
  - min & max (if not specified, will use data min & max)
  - in & out colors
  - reverse
  - #splits
  - which metric to apply
  -


-->

<form #thresholdEditForm [formGroup]="thresholdsForm">
  <ng-container formArrayName="thresholdArray">
    <button (click)="addThreshold()">add</button>
    <table id="thresholds-table">
      <tr>
        <th>Metric</th>
        <th>min</th>
        <!-- //placeholder datamin -->
        <th>max</th>
        <!-- //placeholder datamax -->
        <th>in range</th>
        <th>out of range</th>
        <th># of splits</th>
        <th>reverse colors</th>
        <!-- //placeholder datamax -->
      </tr>
      <ng-container
        *ngFor="let threshold of thresholdArray.controls; let i = index"
      >
        <tr [formGroupName]="i" class="threshold">
          <td>
            <mat-form-field>
              <mat-label>Metric</mat-label>
              <mat-select
                #metric
                formControlName="metrics"
                multiple
                (selectionChange)="updateDisplayOptions()"
              >
                <mat-select-trigger>
                  {{ metric.value ? getMetric(metric.value[0]) : "" }}
                  <span *ngIf="metric.value?.length > 1">
                    (+{{ metric.value.length - 1 }}
                    {{ metric.value?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let m of selectedMetrics" [value]="m.id">
                  {{ m.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="xsmall">
              <input
                matInput
                type="number"
                name="min"
                formControlName="min"
                (change)="updateDisplayOptions()"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="xsmall">
              <span *ngIf="!inRange.value"> </span>
              <input
                matInput
                type="number"
                name="max"
                formControlName="max"
                (change)="updateDisplayOptions()"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="small">
              <mat-select
                #inRange
                formControlName="inRange"
                (change)="updateDisplayOptions()"
              >
                <mat-select-trigger>
                  <span
                    *ngIf="inRange.value && inRange.value.color.length > 1"
                    class="gradient-indicator"
                    [ngStyle]="{
                      'background-image':
                        'linear-gradient(to right, ' + inRange.value.color + ')'
                    }"
                  ></span>
                  <span
                    *ngIf="inRange.value && inRange.value.color.length === 1"
                    class="color-indicator"
                    [ngStyle]="{
                      'background-color': inRange.value.color[0]
                    }"
                  ></span>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let range of inRangeOptions"
                  [value]="range"
                >
                  <span
                    *ngIf="range.color.length > 1"
                    class="gradient-indicator"
                    [ngStyle]="{
                      'background-image':
                        'linear-gradient(to right, ' + range.color + ')'
                    }"
                  ></span>
                  <span
                    *ngIf="range.color.length === 1"
                    class="color-indicator"
                    [ngStyle]="{
                      'background-color': range.color[0]
                    }"
                  ></span>
                  <span>
                    {{ range.label }}
                  </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="small">
              <mat-select
                #outOfRange
                formControlName="outOfRange"
                (change)="updateDisplayOptions()"
              >
                <mat-select-trigger>
                  <span
                    *ngIf="outOfRange.value"
                    class="color-indicator"
                    [ngStyle]="{
                      'background-color': outOfRange.value.color[0]
                    }"
                  ></span>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let range of outOfRangeOptions"
                  [value]="range"
                >
                  <span
                    class="color-indicator"
                    [ngStyle]="{
                      'background-color': range.color[0]
                    }"
                  ></span>
                  {{ range.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="xsmall">
              <input
                matInput
                type="number"
                name="numSplits"
                formControlName="numSplits"
                max="10"
                (change)="updateDisplayOptions()"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-checkbox
              disableRipple="true"
              formControlName="reverseColors"
              (change)="updateDisplayOptions()"
              >Reverse</mat-checkbox
            >
          </td>
          <ng-template #default> default </ng-template>
        </tr>
      </ng-container>
    </table>
  </ng-container>
</form>
