<form #optionsEditForm [formGroup]="optionsForm">
  <span class="label"> {{ widgetType?.name | titlecase }} Options</span>
  <p class="help-text">{{ widgetType?.displayInfo }}</p>
  <ng-container formGroupName="options">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select #displayType formControlName="displayType">
        <mat-option
          *ngFor="let type of widgetType?.displayOptions"
          [value]="type.displayType"
        >
          {{ type.displayType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="small">
      <mat-label>In Range</mat-label>
      <mat-select #inRange formControlName="inRange">
        <mat-select-trigger *ngIf="inRange && inRange.value">
          <span
            *ngIf="inRange.value.color"
            class="color-indicator"
            [ngStyle]="{
              'background-color': inRange.value.color[0]
            }"
          ></span>

          <span
            *ngIf="!inRange.value.color"
            class="gradient-indicator"
            [ngStyle]="{
              'background-image':
                'linear-gradient(to right, ' + colors(inRange.value.type) + ')'
            }"
          ></span>
        </mat-select-trigger>
        <mat-option *ngFor="let range of solidOptions" [value]="range">
          <span
            *ngIf="range.color.length === 1"
            class="color-indicator"
            [ngStyle]="{
              'background-color': range.color[0]
            }"
          ></span>
          <span>
            {{ range.label }}
          </span>
        </mat-option>
        <mat-option *ngFor="let range of gradientOptions" [value]="range">
          <span
            class="gradient-indicator"
            [ngStyle]="{
              'background-image':
                'linear-gradient(to right, ' + colors(range.type) + ')'
            }"
          ></span>
          <span>
            {{ range.label }}
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="small">
      <mat-label>Out of Range</mat-label>
      <mat-select #outOfRange formControlName="outOfRange">
        <mat-select-trigger>
          <span
            *ngIf="outOfRange.value"
            class="color-indicator"
            [ngStyle]="{
              'background-color': outOfRange.value.color[0]
            }"
          ></span>
        </mat-select-trigger>
        <mat-option *ngFor="let range of solidOptions" [value]="range">
          <span
            class="color-indicator"
            [ngStyle]="{
              'background-color': range.color[0]
            }"
          ></span>
          {{ range.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="xsmall">
      <mat-label># of splits</mat-label>
      <input
        matInput
        type="number"
        name="numSplits"
        formControlName="numSplits"
      />
    </mat-form-field>
    <p class="help-text">
      If # of splits is 0 the colors will be continuous. If # of splits > 0, the
      colors will be evenly split.
    </p>
  </ng-container>

  <ng-container formArrayName="dimensions">
    <ng-container *ngFor="let metric of dimensions.controls; let i = index">
      <div [formGroupName]="i">
        {{ dimensions.controls[i].value.type }} metric:
        <mat-form-field class="dense-form-select">
          <mat-select #metric formControlName="metricId">
            <mat-option *ngFor="let m of selectedMetrics" [value]="m.id">
              {{ m.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="widgetType?.displayOptions">
    <div>
      <span class="label">Color Options</span>
      <button mat-button (click)="addThreshold()">
        <mat-icon> add </mat-icon>add
      </button>
    </div>
    <p class="help-text">
      Values between or equal to the min and max will be 'in range'. If # of
      splits = 0 and if min or max is not set, they will default to the data min
      or max. If # of splits > 0 and if min or max is not set, they will default
      to -Infinity or +Infinity.
    </p>
    <ng-container formArrayName="thresholdArray">
      <table id="thresholds-table">
        <tr>
          <th>metric(s)</th>
          <th>min</th>
          <!-- //placeholder datamin -->
          <th>max</th>

          <!-- //placeholder datamax -->
        </tr>
        <ng-container
          *ngFor="let threshold of thresholdArray.controls; let i = index"
        >
          <tr [formGroupName]="i" class="threshold">
            <td>
              <mat-form-field>
                <mat-select #metric formControlName="metrics" multiple>
                  <mat-select-trigger>
                    {{ metric.value ? getMetric(metric.value[0]) : "" }}
                    <span *ngIf="metric.value?.length > 1">
                      (+{{ metric.value.length - 1 }}
                      {{ metric.value?.length === 2 ? "other" : "others" }})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let m of selectedMetrics" [value]="m.id">
                    {{ m.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="xsmall">
                <input
                  matInput
                  type="number"
                  name="min"
                  formControlName="min"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="xsmall">
                <input
                  matInput
                  type="number"
                  name="max"
                  formControlName="max"
                />
              </mat-form-field>
            </td>
            <td>
              <button
                mat-icon-button
                color="warn"
                (click)="removeThreshold(i)"
                aria-label="button that removes the threshold"
              >
                <mat-icon> delete </mat-icon>
              </button>
            </td>
            <ng-template #default> default </ng-template>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </ng-container>
</form>
