
#chart-parent {
  height: 100%;
  width: 100%;
}

#chart-container {
  height: calc(100% - 20px);
  width: 100%;
}

:host ::ng-deep g[ngx-charts-circle-series] {
  visibility: hidden;
}

:host ::ng-deep g[ngx-charts-circle-series] :hover {
  visibility: visible;
}
#chart-scale-controls {
  label{
    margin-left: 10px;
  }  
  input {
    width: 100px;
  }
}