<div id="chart-container"> 
  <ngx-charts-line-chart *ngIf="hasData; else elseTemplate"
  [results]="results"
  [xAxis]="true"
  [scheme]="colorScheme"
  [yAxis]="true"
  [legend]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel | replace: '_' : ' ' | titlecase "
  [roundDomains]="true"
  [animations]="false"
  [xScaleMin]="xScaleMin"
  [xScaleMax]="xScaleMax"
  [referenceLines]="referenceLines"
  [showRefLines]="referenceLines.length > 0"
  legendTitle="Channels"

  [xAxisTickFormatting]="xAxisTickFormatting"
>
</ngx-charts-line-chart>
<ng-template #elseTemplate>
  No data.
</ng-template>



</div>
