<div id="table-view-container" class="border-shadow">
  <div id="table-head" class="gray-background">
    <div id="head-top-row">
      <h2 id="title">
        {{ title }}
      </h2>
      <div id="controls">
        <ng-content select="[tableHeadControls]"> </ng-content>
      </div>
    </div>
    <div id="head-bottom-row">
      <div id="filters">
        <ng-content select="[tableHeadFilters]"> </ng-content>
      </div>
    </div>
  </div>
  <div id="table-body">
    <!-- <ngx-datatable
      id="shared-data-table"
      class="shared-view-table"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="options.columnMode"
      [selectionType]="options.selectionType"
      [headerHeight]="options.headerHeight"
      [footerHeight]="options.footerHeight"
      [rowHeight]="options.rowHeight"
      [limit]="options.limit"
      [reorderable]="options.reorderable"
      [scrollbarH]="options.scrollbarH"
      [scrollbarV]="options.scrollbarV"
      [sortType]="options.sortType"
      [sorts]="options.sorts"
      [messages]="options.messages"
      [selectionType]="options.selectionType"
    >
    </ngx-datatable> -->
    <ng-content select="[tableBody]"></ng-content>
  </div>
</div>

<!-- manage data in parent component -->
