<div id="table-view-container" class="border-shadow">
  <div id="table-head" class="gray-background">
    <div id="head-top-row">
      <h2 id="title">
        {{ title }}
      </h2>
      <div id="controls">
        <button
          *ngIf="controls.refresh"
          mat-icon-button
          aria-label="button that refreshes data"
          (click)="refreshResource()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <ng-container *ngIf="controls.links">
          <button
            *ngFor="let link of controls.links"
            mat-button
            [routerLink]="[link.path]"
          >
            {{ link.text }}
          </button>
        </ng-container>
        <button
          mat-button
          (click)="editResource()"
          *ngIf="controls.edit && ('update' | able: selectedRow)"
          [disabled]="!selectedRow"
        >
          {{ controls.edit.text }}
        </button>
        <mat-menu #menu class="mat-menu-dense">
          <ng-container *ngFor="let item of controls.menu?.options">
            <button
              mat-menu-item
              (click)="menuOption(item.action)"
              *ngIf="item.permission | able: selectedRow"
            >
              {{ item.text }}
            </button>
          </ng-container>
        </mat-menu>
        <button
          mat-flat-button
          *ngIf="controls.menu"
          [matMenuTriggerFor]="menu"
          [disabled]="!selectedRow"
        >
          {{ controls.menu.text }} <mat-icon>expand_more</mat-icon>
        </button>

        <button
          mat-flat-button
          color="accent"
          (click)="addResource()"
          *ngIf="controls.add && ('create' | able: controls.resource)"
        >
          {{ controls.add.text }}
        </button>

        <ng-content select="[tableHeadControls]"> </ng-content>
      </div>
    </div>
    <div id="head-bottom-row">
      <div id="filters">
        <shared-search-filter
          *ngIf="filters.searchField"
          [config]="filters.searchField"
          [rows]="rows"
          (filterChanged)="searchFieldChanged($event)"
        >
        </shared-search-filter>

        <div *ngIf="filters.dateFilter"></div>
        <mat-button-toggle-group
          id="toggle-shared-filter"
          *ngIf="filters.toggleShared"
          name="sharing"
          aria-label=""
          (change)="toggleSharing($event)"
        >
          <mat-button-toggle value="user">User</mat-button-toggle>
          <mat-button-toggle value="org">PNSN</mat-button-toggle>
          <mat-button-toggle checked value="all">All</mat-button-toggle>
        </mat-button-toggle-group>

        <ng-content select="[tableHeadFilters]"> </ng-content>
      </div>
    </div>
  </div>
  <div id="table-body">
    <ngx-datatable
      #table
      id="shared-data-table"
      class="shared-view-table"
      [rows]="tableRows"
      [columns]="tableColumns"
      [columnMode]="tableOptions.columnMode"
      [selectionType]="tableOptions.selectionType"
      [headerHeight]="tableOptions.headerHeight"
      [footerHeight]="tableOptions.footerHeight"
      [rowHeight]="tableOptions.rowHeight"
      [limit]="tableOptions.limit"
      [reorderable]="tableOptions.reorderable"
      [scrollbarH]="tableOptions.scrollbarH"
      [scrollbarV]="tableOptions.scrollbarV"
      [sortType]="tableOptions.sortType"
      [sorts]="tableOptions.sorts"
      [messages]="tableOptions.messages"
      (select)="onSelect($event)"
      (detailToggle)="onDetailToggle($event)"
      [selected]="selected"
      [groupRowsBy]="tableOptions.groupRowsBy"
      [groupExpansionDefault]="tableOptions.groupExpansionDefault"
      [selectAllRowsOnPage]="tableOptions.selectAllRowsOnPage"
    >
      <ngx-datatable-group-header [rowHeight]="50" *ngIf="groupHeaderTemplate">
        <ng-template
          let-group="group"
          let-expanded="expanded"
          ngx-datatable-group-header-template
        >
          <div
            (click)="selectGroupHeader(group)"
            class="group-header-container"
            [ngClass]="selectedGroupKey === group.key ? 'active' : ''"
          >
            <ng-container
              [ngTemplateOutlet]="groupHeaderTemplate"
              [ngTemplateOutletContext]="{ group: group, expanded: expanded }"
            ></ng-container>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-row-detail
        #rowDetail
        [rowHeight]="50"
        *ngIf="rowDetailTemplate"
      >
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <ng-container
            [ngTemplateOutlet]="rowDetailTemplate"
            [ngTemplateOutletContext]="{ row: row }"
          ></ng-container>
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-selectedCount="selectedCount"
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage"
          let-offset="offset"
        >
          <ng-container *ngIf="!tableFooterTemplate">
            <div></div>
            <div>
              Showing {{ tableRows?.length }} of {{ rows?.length }}
              {{
                tableOptions.footerLabel
                  ? tableOptions.footerLabel
                  : controls.resource + "s"
              }}
            </div>
          </ng-container>
          <ng-container
            [ngTemplateOutlet]="tableFooterTemplate"
            [ngTemplateOutletContext]="{
              rowCount: rowCount,
              selectedCount: selectedCount
            }"
          ></ng-container>
        </ng-template>
      </ngx-datatable-footer>
      <ng-template ngx-datatable-cell-template let-row="row" #nameTemplate>
        <a [routerLink]="[row.id]">{{ row.name }}</a>
      </ng-template>
      <!-- <ng-template ngx-datatable-cell-template let-row="row" #checkboxTemplate>
        <mat-checkbox (click)="checkboxChecked(row)"></mat-checkbox>
      </ng-template> -->
    </ngx-datatable>
  </div>
</div>

<!-- manage data in parent component -->
