<div id="column" *ngIf="user && organization">
  <app-table-view title="{{ organization.name }} Organization">
    <ng-container tableHeadControls>
      <a mat-button color="primary" [routerLink]="['../']"
        >View All Organizations</a
      >
      <button
        mat-flat-button
        color="accent"
        *ngIf="isAdmin"
        (click)="addUser()"
      >
        Add User
      </button>
    </ng-container>
    <ng-container tableHeadFilters>
      <p>
        You are {{ user.orgId === organization.id ? "" : "not " }}part of this
        organization.
      </p>
      <button
        [disabled]="!selectedId"
        *ngIf="isAdmin"
        mat-button
        [matMenuTriggerFor]="actionsMenu"
        aria-label="Button that opens actions"
      >
        Actions <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #actionsMenu="matMenu">
        <a [routerLink]="['user', selectedId, 'edit']" mat-menu-item>
          Edit User
        </a>
        <a mat-menu-item (click)="sendInvite()">Resend Invite</a>
      </mat-menu>
    </ng-container>
    <ng-container tableBody options="options">
      <ngx-datatable
        #userTable
        class="shared-view-table"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [headerHeight]="30"
        [footerHeight]="50"
        [columns]="columns"
        [scrollbarH]="false"
        [reorderable]="false"
        [selectionType]="SelectionType.single"
        [selected]="selected"
        (select)="onSelect($event)"
      >
      </ngx-datatable>
    </ng-container>
  </app-table-view>
  <div id="roles-container">
    <h2>Squac User Roles (additive):</h2>
    <mat-list dense>
      <mat-list-item *ngFor="let group of groups">
        <strong>{{ group.role | titlecase }}</strong> -
        {{ group.description }}
      </mat-list-item>

      <mat-list-item>
        <strong>Organization Admin</strong> - Can add users and assign roles.
      </mat-list-item>
    </mat-list>
  </div>
</div>

<router-outlet></router-outlet>
