<shared-table-view
  [options]="options"
  [rows]="rows"
  [columns]="columns"
  [controls]="controls"
  [filters]="filters"
  title="{{ organization.name }} Organization"
>
  <ng-container tableHeadControls>
    <!-- <a mat-button color="primary" [routerLink]="['../']"
      >View All Organizations</a
    >
    <button
      mat-raised-button
      color="accent"
      *ngIf="isAdmin"
      (click)="addUser()"
    >
      <mat-icon>add</mat-icon> Add User
    </button> -->
    <button
      mat-button
      [disabled]="!selectedId"
      *ngIf="isAdmin"
      (click)="sendInvite()"
    >
      Resend Invite
    </button>
  </ng-container>
  <ng-container tableHeadFilters>
    <p>
      You are {{ user.orgId === organization.id ? "" : "not " }}part of this
      organization.
    </p>
  </ng-container>
</shared-table-view>
<div id="roles-container">
  <h2>Squac User Roles (additive):</h2>
  <mat-list dense>
    <mat-list-item *ngFor="let group of groups">
      <strong>{{ group.role | titlecase }}</strong> -
      {{ group.description }}
    </mat-list-item>

    <mat-list-item>
      <strong>Organization Admin</strong> - Can add users and assign roles.
    </mat-list-item>
  </mat-list>
</div>

<router-outlet></router-outlet>
