


<mat-sidenav-container id="dashboards-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" id="dashboard-sidenav">
    <app-dashboard-view></app-dashboard-view> 
  </mat-sidenav>

  <mat-sidenav-content id="dashboard-sidenav-content" class="gray-background">
    <div class="sidenav-toggle-container " id="close-button" >
      <button mat-mini-fab color="accent" (click)="sidenav.toggle()" aria-label="toggle sidebar">
          <mat-icon *ngIf="opened">close</mat-icon>
          <mat-icon *ngIf="!opened">chevron_right</mat-icon>    
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>