
<div id="user-content">
  <div id="column" *ngIf="user; else noUser">
    <h1>User Settings</h1>
    <p>Hello, {{user.firstname}} {{user.lastname}}!</p>
    <mat-divider></mat-divider>
    <p>Email: {{user.email}}</p>
    <mat-divider></mat-divider>
    <p>First Name: {{user.firstname}}</p>
    <mat-divider></mat-divider>
    <p>Last Name: {{user.lastname}}</p>
    <mat-divider></mat-divider>
    <p>Organization: {{user.organization}}</p>
    <mat-divider></mat-divider>
    <p>
      This is where password change will be!
      <button>
        Change password
      </button> 
    </p>
    <form [formGroup]="userForm">
      <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field >
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstname">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastname">
      </mat-form-field>
  
      <mat-form-field >
        <mat-label>Enter password to confirm</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </form>

  </div>

  <ng-template #noUser>
    <p>
      Error loading user information, please try again.
    </p>

  </ng-template>



</div>
