<h1>Reset Password</h1>

<form *ngIf="!emailSent" [formGroup]="" class="form">
  <p>Enter email to recieve an authentication token</p>
  <mat-form-field class="">
    <mat-label>Email</mat-label>
    <input
      matInput
      [formControl]="email"
      [errorStateMatcher]="matcher"
      placeholder="Ex. me@example.com"
    />
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    [disabled]="email.hasError('required') || email.hasError('email')"
    (click)="sendEmail()"
  >
    Send token to email
  </button>
</form>

<div *ngIf="emailSent && !tokenValidated">
  <p>Please check your email. Email may be in spam.</p>
  <a [routerLink]="['/password-reset']">No email? Please, try again</a>
</div>

<form *ngIf="tokenValidated && emailSent" autocomplete="off">
  <p>Enter new password</p>

  <mat-form-field class="">
    <mat-label>New Password</mat-label>

    <input
      matInput
      [formControl]="newPassword"
      autocomplete="off"
      placeholder="Enter new password"
      [type]="hide ? 'password' : 'text'"
    />
  </mat-form-field>
  <mat-form-field class="">
    <mat-label>Confirm New Password</mat-label>
    <input
      matInput
      [formControl]="passwordConfirm"
      autocomplete="off"
      placeholder="Confirm new password"
      [type]="hide ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="newPassword.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>

  <mat-error *ngIf="newPassword.value !== passwordConfirm.value"
    >Passwords do not match</mat-error
  >
  <button
    mat-raised-button
    [disabled]="newPassword.value !== passwordConfirm.value"
    (click)="confirmPassword()"
  >
    Reset Password
  </button>
</form>

<div>
  <p>{{ error }}</p>
</div>

<a [routerLink]="['/login']" id="forgot-password">Cancel </a>
