<shared-detail-page
  *ngIf="organization"
  [resource]="organization"
  type="Organization"
  title="{{ organization?.name }} Organization"
  [options]="pageOptions"
>
  <ng-container headerContent>
    <button
      *ngIf="'update' | able: organization"
      [routerLink]="['user/new']"
      color="accent"
      mat-flat-button
      uiTooltip="Add new user"
      aria-label="Button that activates user invite modal"
    >
      New User
    </button>
  </ng-container>
  <ng-container bodyContent>
    <shared-table-view
      [options]="options"
      [rows]="rows"
      [columns]="columns"
      [controls]="controls"
      [filters]="filters"
      (itemSelected)="onSelect($event)"
      (controlClicked)="onClick($event)"
      (refresh)="refresh()"
      title="{{ organization?.name }} Organization"
    >
      <ng-container tableHeadFilters>
        <p>
          You are {{ user?.orgId === organization?.id ? "" : "not " }}part of
          this organization.
        </p>
      </ng-container>
      <ng-template
        #booleanTemplate
        let-value="value"
      >
        {{value ? "yes": "no"}}
      </ng-template>

    </shared-table-view>
    <div class="title">
      <h3>Squac User Roles (additive):</h3>
    </div>
    <div
      id="roles-container"
      class="gray-border"
    >
      <mat-list class="dense-list">
        <mat-list-item *ngFor="let group of groups">
          <span class="label">{{ group.role | titlecase }}</span> -
          {{ group.description }}
        </mat-list-item>

        <mat-list-item>
          <span class="label">Organization Admin</span> - Can add users and
          assign roles.
        </mat-list-item>
      </mat-list>
    </div>
  </ng-container>
</shared-detail-page>

<router-outlet></router-outlet>