#dashboard-content {
  background: unset;
  // padding: 7px !important;
  gridster-item {
    background-color: transparent;
  }
}

.drag-handler {
  margin: 2px 0px 0px 2px;
  height: 24px;
  width: 24px;
  line-height: 12px;
  display: inline;
  position: absolute;
  color: transparent;
  &:hover {
    color: #c5c3c3;
  }
}

#add-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 20px;
  }
}
