<ng-container *ngIf="widgets.length > 0; else noWidgets">
  <gridster id="dashboard-content" [options]="options">
    <gridster-item [item]="item" *ngFor="let item of widgets">
      <div class="drag-handler" *ngIf="'update' | able: item.widget"></div>
      <app-widget-detail
        class="widget-detail"
        [widget]="item.widget"
      ></app-widget-detail>
    </gridster-item>
  </gridster>
</ng-container>
<app-loading *ngIf="loading"></app-loading>
<ng-template #noWidgets>
  <div id="add-widget" *ngIf="!loading && !error">
    <p>There are currently no widgets for this dashboard.</p>
    <button
      mat-flat-button
      *ngIf="canUpdate"
      color="accent"
      aria-label="Add widget"
      (click)="addWidget()"
    >
      Add Widget
    </button>
  </div>

  <div *ngIf="error">
    <p>
      {{ error }}
    </p>
  </div>
</ng-template>

<div id="overlay">
  <router-outlet></router-outlet>
</div>
