@import 'variables';

#title {
    margin: 15px 5vw;

    h1 {
        display: inline-block;
    }
}

#metric-container {
    margin: 0 5vw;
}

#metric-table {
    border: 1px solid $sq-lt-gray;
    border-radius: 5px;
    height: 80vh;
    overflow: hidden;
}