#monitor-body {
  // mat-form-field {
  //   margin: 0px 10px;
  // }
  div {
    display: inline-block;
  }
}
#table-container {
  width: 100%;
  overflow: auto;
}
#trigger-table {
  width: 100%;
  th {
    text-align: left;
  }
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
