<mat-form-field class="dense-form-field-select" appearance="outline">
  <mat-label>Data Type</mat-label>
  <input
    matInput
    placeholder="data type"
    [matMenuTriggerFor]="dataTypeMenu"
    readonly
    [value]="displayString"
  />
</mat-form-field>
<mat-menu
  class="mat-menu-dense"
  #dataTypeMenu="matMenu"
  panelClass="stat-type-menu"
>
  <ng-container *ngFor="let type of dataTypes">
    <button
      [ngClass]="type.value === dataType ? 'active' : ''"
      *ngIf="type.value === 'raw'"
      mat-menu-item
      (click)="selectDataType(type, '')"
    >
      raw data
    </button>

    <button
      mat-menu-item
      [ngClass]="type.value === dataType ? 'active' : ''"
      *ngIf="type.value !== 'raw'"
      [matMenuTriggerFor]="statType"
      [matMenuTriggerData]="{ type }"
    >
      {{ type.full }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu class="mat-menu-dense" #statType="matMenu" overlapTrigger="false">
  <ng-template matMenuContent let-type="type">
    <button mat-menu-item disabled readonly>
      {{ type.full }}
    </button>
    <button
      mat-menu-item
      *ngFor="let stat of statTypes"
      [ngClass]="type.value === dataType && stat === statType ? 'active' : ''"
      (click)="selectDataType(type, stat)"
    >
      {{ stat }}
    </button>
  </ng-template>
</mat-menu>
