<mat-form-field class="dense-form-field-select" appearance="outline">
  <mat-label>Data Type</mat-label>
  <input
    matInput
    placeholder="data type"
    [matMenuTriggerFor]="dataTypeMenu"
    readonly
    [value]="displayString"
  />
</mat-form-field>
<mat-menu
  class="mat-menu-dense"
  #dataTypeMenu="matMenu"
  panelClass="stat-type-menu"
>
  <ng-container *ngFor="let type of DataTypes | keyvalue">
    <button
      [ngClass]="type.value === dataType ? 'active' : ''"
      *ngIf="type.value === DataTypes.RAW"
      mat-menu-item
      (click)="selectDataType(type.value, null)"
    >
      {{ archiveTypeOptions[type.value].full }}
    </button>

    <button
      mat-menu-item
      [ngClass]="type.value === dataType ? 'active' : ''"
      *ngIf="type.value !== DataTypes.RAW"
      [matMenuTriggerFor]="statType"
      [matMenuTriggerData]="{ type }"
    >
      {{ archiveTypeOptions[type.value].full }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu class="mat-menu-dense" #statType="matMenu" overlapTrigger="false">
  <ng-template matMenuContent let-type="type">
    <button mat-menu-item disabled readonly>
      {{ archiveTypeOptions[type.value].full }}
    </button>
    <button
      mat-menu-item
      *ngFor="let stat of StatTypes | keyvalue"
      [ngClass]="
        type.value === dataType && stat.value === statType ? 'active' : ''
      "
      (click)="selectDataType(type.value, stat.value)"
    >
      {{ stat.value }}
    </button>
  </ng-template>
</mat-menu>
