<ngx-datatable 
 #dataTable
 class="material expandable" 
 [rows]="rows"
 [sortType]="SortType.multi"
 [columnMode]="ColumnMode.force"
 [footerHeight]="40"
 [rowHeight]="24"
 [scrollbarH]="true"
 [scrollbarV]="true"
 [messages]="messages"
 [treeFromRelation]="'parentId'"
 [treeToRelation]="'id'"
 (treeAction)="onTreeAction($event)"
 [sorts]="[{ prop: 'agg', dir: 'desc' }]"
>      
 <ngx-datatable-column name="title" [isTreeColumn]="true" [maxWidth]="120" [frozenLeft]="true" [resizeable]="false">
 </ngx-datatable-column>
  <ngx-datatable-column name="timeline" [canAutoResize]="true">
    <ng-template ngx-datatable-header-template>
        {{currentMetric?.name}}
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div *ngFor="let segment of value"
          class="cell" 
          [ngClass]="{'in-spec': segment.threshold, 'out-of-spec': !segment.threshold}"
          matTooltip="{{segment.info}}"
          [ngStyle]="segment.styles"
        >
        
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
    <ng-template
    ngx-datatable-footer-template
    let-rowCount="rowCount"
    let-pageSize="pageSize"
    let-selectedCount="selectedCount"
    let-curPage="curPage"
    let-offset="offset"
    >
    <div>
      "Footer"
    </div>
      </ng-template>
    </ngx-datatable-footer>
    
</ngx-datatable>
