<div id="map" leaflet [leafletOptions]="options"
    [leafletLayers]="layers" [leafletFitBounds]="fitBounds">
    <div *ngIf="editPage" leafletDraw [leafletDrawOptions]="drawOptions"
        (leafletDrawStart)="onDrawStart()"
        (leafletDrawCreated)="onRectangleCreated($event)"
        (leafletDrawEdited)="onRectangleEdited()"
        (leafletDrawDeleted)="onRectangleDeleted()">
    </div>
</div>
<!--<button *ngIf="editPage" mat-raised-button color="primary" (click)="onCancelBoundingBox()">
    Cancel
</button>
<button *ngIf="editPage" mat-raised-button color="accent" (click)="onAddBoundingBox()">
    Add bounding box
</button>-->
