.view-map {
    height: 100%;
}

.edit-map {
    height: 85%;
}

legend {
    height: 15%;
    ul {
        list-style: none;
        width: fit-content;
        margin: 0 auto;
        text-align: left;
        li {
            img {
                object-fit: fill;
                height: 20px;
                width: 20px;
            }
        }
    }
}