<div class="widget-container"
  *ngIf="widget"
  >
  <div class="widget-header">
    <h4>{{widget.name}}</h4>
    <button mat-icon-button (click)="editWidget()"> 
      <mat-icon>
        edit
      </mat-icon>
    </button>
  </div>
  <div class="widget-content">
    <!-- <app-loading></app-loading> -->
    <ng-container [ngSwitch]="widget?.type">
      <app-timeline *ngSwitchCase="'timeline'"
        [metrics]="widget.metrics"
      >
      </app-timeline>
      <app-tabular *ngSwitchCase="'tabular'" 
        [metrics]="widget.metrics"
      >

      </app-tabular>
      <app-timeseries *ngSwitchCase="'timeseries'" 
        [metrics]="widget.metrics"
    >

    </app-timeseries>
      <p *ngSwitchDefault>
          Error: could not load widget...
          {{widget?.type}}
        </p>
    </ng-container>
  </div>
</div>
