<div class="widget-container"
  *ngIf="widget"
  >
  <div class="widget-header">
    <h4>{{widget.name}}</h4>
    <mat-menu #widgetMenu="matMenu" class="mat-menu-dense" yPosition="below" xPosition="before">
    <!--copy widget button -->
        <button mat-menu-item (click)="editWidget()" *ngIf="'update' | able: widget">Edit Widget</button>
        <button mat-menu-item id="delete-widget" (click)="deleteWidget()" color="warn" *ngIf="'delete' | able: widget">Delete Widget</button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="widgetMenu" color="primary" *ngIf="'update' | able: widget">
        <mat-icon>more_vert</mat-icon>
      </button>
  </div>
  <div class="widget-content">
    <!-- <app-loading></app-loading> -->
    <ng-container [ngSwitch]="widget?.type">
      <app-timeline *ngSwitchCase="'timeline'" class="widget"
        [widget]="widget"
      >
      </app-timeline>
      <app-tabular *ngSwitchCase="'tabular'" class="widget"
      [widget]="widget"
      >

      </app-tabular>
      <app-timeseries *ngSwitchCase="'timeseries'" class="widget"
      [widget]="widget"
    >

    </app-timeseries>
      <p *ngSwitchDefault>
          Error: could not load widget...
          {{widget?.type}}
        </p>
    </ng-container>
  </div>
</div>
