@import 'variables';
#channels {
  width: 90vw;
  height: 40vh;
  margin: 15px 5%;

  #channel-table {
      border: 2px solid $sq-lt-gray;
      border-radius: 10px;
      width: 100%;
      height: 100%;
  }
}