@import 'variables';
#channel-group-container {
  margin-top: 10px;
  display:flex;
  flex-direction: row;
  height: 45vh;
  overflow: hidden;
  #channels-container {
    width: 65%;
    height: 100%;
    #channel-table {
        width: 100%;
        height: 100%;
    }
  }
  
  #map-container {
    width: 35%;
    height: 100%;
    app-map {
        width: 100%;
        height: 100%;
    }
  }
}
