
  <h3>Set Thresholds</h3>
  <p class="help-text">
    
  </p>
  <ngx-datatable
  #thresholdDataTable
  class="material"
  headerHeight="30"
  [columnMode]="ColumnMode.flex"
  footerHeight="0"
  rowHeight="30"
  [rows]="rows"
  [messages]="messages"
>

  <ngx-datatable-column name="Metric" [flexGrow]="3" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div class="row-container">
        {{value.name}}
      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Default Min" prop="defaultMin" [flexGrow]="1" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div class="row-container" >
        {{value}}
      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Default Max" prop="defaultMax" [flexGrow]="1" [sortable]="false" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div class="row-container">
        {{value}}
      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Min" [flexGrow]="1" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
      <div class="row-container">
        <input matInput
          autofocus
          (change)="updateValue($event, 'min', rowIndex)"
          type="number"
          [value]="value"
          placeholder="enter min"
        />
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Max" [flexGrow]="1" [sortable]="false" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <div class="row-container" >
        <input matInput
          autofocus
          (change)="updateValue($event, 'max', rowIndex)"
          type="number"
          [value]="value"
          placeholder="enter max"
        />

      </div>

    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="" minWidth="20" [flexGrow]="0" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
      <button aria-label="clear" (click)="clearThreshold(rowIndex)">x</button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
