<h3>Set Thresholds</h3>
<p class="help-text"></p>
<ngx-datatable
  #thresholdDataTable
  id="threshold-table"
  class="material"
  headerHeight="30"
  [columnMode]="ColumnMode.flex"
  footerHeight="0"
  rowHeight="23"
  [rows]="rows"
  [messages]="messages"
>
  <ngx-datatable-column name="Metric" [flexGrow]="3" [resizeable]="false">
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-row="row"
      let-value="value"
    >
      <div class="">
        {{ value.name }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Default Min"
    prop="defaultMin"
    [flexGrow]="1"
    [sortable]="false"
    [resizeable]="false"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-row="row"
      let-value="value"
    >
      <div class="default">
        {{ value }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Default Max"
    prop="defaultMax"
    [flexGrow]="1"
    [sortable]="false"
    [resizeable]="false"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-row="row"
      let-value="value"
    >
      <div class="default">
        {{ value }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Min"
    [flexGrow]="1"
    [sortable]="false"
    [resizeable]="false"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div class="threshold">
        <input
          matInput
          autofocus
          (change)="updateValue($event, 'min', rowIndex)"
          type="number"
          [value]="value"
          placeholder="enter min"
        />
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="Max"
    [flexGrow]="1"
    [sortable]="false"
    [resizeable]="false"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-row="row"
    >
      <div class="threshold">
        <input
          matInput
          autofocus
          (change)="updateValue($event, 'max', rowIndex)"
          type="number"
          [value]="value"
          placeholder="enter max"
        />
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name=""
    [maxWidth]="30"
    [width]="30"
    [sortable]="false"
    [flexGrow]="0.25"
    [resizeable]="false"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-row="row"
    >
      <button
        class="clear-button"
        [disabled]="row.min === null && row.max === null"
        mat-icon-button
        aria-label="button that clears threshold settings"
        (click)="clearThreshold(rowIndex)"
        matTooltip="Clear threshold"
      >
        <mat-icon> clear </mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
