@import "./styles/variables.scss";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
// @import '~ngx-daterangepicker-material/daterangepicker-theme.scss';
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";

/* You can add global styles to this file, and also import other style files */

// @include date-range-picker-theme($squac-ui-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 11pt;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: darken($sq-lt-gray, 5);
}
#body-content-container {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
#dashboard-container {
  margin: 0 -12.5%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Background color */

.blue {
  background-color: $sq-blue;
}

.gray-background {
  background-color: $sq-lt-gray;
}

// body {
//   background-color:$sq-lt-gray;
// }

/* Text styles */

h1 {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 400;
}

// .unselect-links {
//   font-size: 1.3rem;
//   color: white;
//   font-weight: 400;
// }

// .select-links {
//   font-size: 1.3rem;
//   color: $sq-lt-blue;
//   font-weight: 600;
// }

//default icon sizing
.mat-icon {
  height: 22px !important;
  width: 20px !important;
  font-size: 20px !important;
  line-height: 1 !important;
}

.help-text {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 3px;
  margin-bottom: 3px;
}
.warn-text {
  @extend .help-text;
  color: $sq-warn;
}
.emphasis-text {
  @extend .help-text;
  font-weight: 400;
  color: $sq-dk-blue;
}

a[disabled] {
  pointer-events: none;
}

.mat-button,
.mat-flat-button,
.mat-stroked-button,
.mat-raised-button {
  border-radius: 0 !important;
}

/* Button styling on headers */
.btn-container-right {
  float: right;

  button {
    margin-left: 15px;
  }
}

/* Button styling on forms */
.btn-container button {
  margin-top: 15px;
  margin-right: 25px;
}

.form {
  text-align: center;

  .form-group {
    text-align: left;
    margin-bottom: 30px;

    label {
      margin-top: 25px;
    }

    input,
    textarea {
      width: 300px;
      line-height: 2em;
      border: 1px solid $sq-gray;
      border-radius: 5px;
      padding-left: 5px;
    }
  }
}

/* Box containers for widgets */

.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid lighten($sq-gray, 15);
  border-radius: 2px;
  overflow: hidden;
}

.square-box {
  text-align: center;
  background-color: white;
  border: 1px solid $sq-gray;
}

.border-shadow {
  // box-shadow: -1px 1px 2px lighten($sq-gray, 10),
  //   1px 1px 2px lighten($sq-gray, 10);
  border: 1px solid lighten($sq-gray, 15);
}

/* Popup formatting */
.popup {
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}

.popup-box {
  z-index: 16;
  margin: 200px auto;
  width: 450px;
  padding: 10px;

  p {
    margin: 5px;
  }
}

/* Data Table*/
datatable-scroller {
  width: 100% !important;
  border-bottom: 0px !important;
}

ngx-datatable {
  width: 100% !important;
  button.datatable-tree-button.ng-star-inserted {
    border: 1px solid $sq-lt-gray;
    background-color: transparent;
    margin-right: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    &:hover {
      color: $sq-blue;
    }
  }
  &.ngx-datatable.material {
    box-shadow: unset;
  }
  .datatable-header-cell {
    padding: 5px !important;
    white-space: normal !important;
  }

  .datatable-body-cell,
  .datatable-body-row {
    padding: 1px 3px !important;
    white-space: normal !important;
    line-height: 1.25 !important;
  }
}
.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    background-color: white;
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0;
    }
    &.mat-form-field-outline-thick {
      color: $sq-blue;
      .mat-form-field-outline-start,
      .mat-form-field-outline-end {
        border-width: 1px;
      }
    }
  }
}

.dense-form-field {
  .mat-form-field-flex {
    align-items: center;
    height: 38px;
    padding: 0 0 0 5px;
  }
  .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }
  .mat-form-field-infix {
    padding: 3px 0 0 0;
    border-top: none;
    .mat-form-field-label-wrapper {
      padding-top: 0;
    }
  }
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: 0.15em;
  }
}

.dense-form-field-select {
  .mat-select-trigger {
    .mat-select-arrow-wrapper {
      transform: unset;
    }
  }

  @extend .dense-form-field;
}

mat-option {
  height: 25pt !important;
  line-height: 25pt !important;
  span {
    line-height: 25pt;
  }
}

mat-form-field {
  &.xsmall {
    width: 100px;
  }
  &.small {
    width: 150px;
  }
  &.smedium {
    width: 200px;
  }
  &.medium {
    width: 250px;
  }
  &.large {
    width: 400px;
  }
}
#table-view-container {
  #filters,
  #controls {
    #toggle-shared-filter {
      @extend .dense-button-toggle;
      .mat-button-toggle-button {
        span {
          width: 52px;
        }
      }
    }
  }
}
.dense-button-toggle {
  &.mat-button-toggle-group-appearance-standard {
    border-radius: 0px;
  }
  .mat-button-toggle-button {
    span {
      min-width: 36px;
      padding: 0px 6px !important;
      line-height: 2 !important;
    }
  }
}
ngx-datatable.shared-view-table {
  .datatable-body {
    max-height: 80vh;
    overflow-y: scroll;
  }

  a {
    color: $sq-blue;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  $default-border: 1px solid darken($sq-lt-gray, 10);
  $light-border: 1px solid $sq-lt-gray;
  background-color: white;
  datatable-header {
    background-color: $sq-lt-gray;
    border-top: $default-border;
    border-bottom: $default-border;
    .datatable-row-center {
      datatable-header-cell {
        border-left: $default-border;
        border-collapse: collapse;
        line-height: unset !important;
        .datatable-header-cell-wrapper {
          padding: 0px 5px;
          .datatable-header-cell-label {
            font-weight: bold;
          }
        }
        .sort-btn {
          float: right;
        }
      }
      datatable-header-cell:nth-child(1) {
        border-left: none;
      }
    }
  }
  datatable-footer {
    border-top: $default-border;
    .datatable-footer-inner {
      padding: 0px 10px;
    }
  }
  datatable-row-wrapper {
    width: 100% !important;
    .datatable-group-header {
      .group-header-container {
        padding: 5px 10px !important;
      }
      text-align: center;
      background-color: rgba(255, 255, 255, 0.589);

      border-top: $default-border;
      border-bottom: $default-border;
    }
    .datatable-body-cell,
    .datatable-body-row {
      font-weight: lighter;

      white-space: normal !important;
      line-height: 1.25 !important;
    }
    .datatable-body-row {
      padding: 2px 0px !important;
    }
    .datatable-body-cell {
      padding: 1px 8px !important;
    }
    .datatable-body-row {
      border-bottom: $light-border;
    }
  }
  .empty-row {
    padding: 5px 10px;
  }
}

.datatable-row-detail {
  width: 100%;
}

.ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      color: black;
    }
  }
}

.datatable-body-row.active,
.datatable-body-row.active .datatable-row-group,
.group-header-container.active {
  background-color: lighten($sq-lt-blue, 30%) !important;
}
.datatable-body-row.active:hover,
.datatable-body-row.active:hover .datatable-row-group,
.group-header-container.active:hover {
  background-color: lighten($sq-lt-blue, 20%) !important;
}
.datatable-body-row:hover,
.datatable-body-row:hover .datatable-row-group,
.group-header-container:hover {
  background-color: $sq-lt-gray !important;
}

// Material overrides
.mat-list-item.active {
  color: $sq-dk-blue;
  background-color: $sq-lt-gray;
}

.mat-menu-dense {
  &.mat-menu-panel {
    min-width: 150px;
    min-height: 46px;
  }
  .mat-menu-submenu-icon {
    // right: 8px;
  }
  button.mat-menu-item {
    &.accent {
      color: $sq-dk-yellow;
    }
    &.warn {
      color: $sq-warn;
    }
    &.active {
      background-color: lighten($sq-lt-blue, 30%) !important;
    }
    &.active:hover {
      background-color: lighten($sq-lt-blue, 20%) !important;
    }
    &[disabled]:hover {
      background-color: transparent !important;
    }
    &:hover {
      background-color: $sq-lt-gray !important;
    }
    .mat-icon {
      margin-right: 8px;
    }
    height: 30px !important;
    line-height: 10px;
  }

  a.mat-menu-item {
    height: 30px !important;
    line-height: 30px;
  }
}
.mat-nav-list-dense {
  .mat-nav-list {
    a {
      height: 30px !important;
    }
  }
}
#dashboard-header {
  background-color: $sq-lt-gray;
}

#dashboard-sidenav.mat-sidenav {
  border-right: none;
}

#dashboard-edit-toolbar {
  height: auto;
}

#dashboard-sidenav-content.mat-sidenav-content {
  z-index: 3;
  overflow: unset;
  margin-left: 20px;
  border-left: 1px solid $sq-gray;
}

.widget-container {
  @extend .box;
}

.chart-tooltip {
  background-color: $sq-dk-gray !important;
}

.mat-snack-bar-themed {
  background-color: $sq-dk-gray !important;
}

ngx-daterangepicker-material {
  font-size: 0.9rem !important;
  // Custom css for date range picker since its all messed up
  .md-drppicker td.active,
  .md-drppicker td.available.in-range.active,
  .md-drppicker td.active:hover,
  .md-drppicker .btn:not(.btn-default),
  .md-drppicker .ranges ul li button.active {
    background-color: $sq-blue !important;
    color: white !important;
  }
  // .md-drppicker.ltr .calendar.right { display: none; }
  .md-drppicker .calendar-time .select .select-item {
    // font-size: unset !important;
  }
  .md-drppicker {
    top: 50px !important;
    right: 0px !important;
    left: auto !important;
    width: max-content !important;

    .buttons {
      white-space: normal !important;
      button {
        margin-left: 10px !important;
        padding: 0px 8px;
        box-shadow: none;
        border-radius: 0px;
      }
    }

    .calendar-table {
      padding: 2px !important;
    }
  }
}

#stat-type-select {
  width: 100px;
}
#data-type-select {
  width: 100px;
}

.mat-horizontal-stepper-header-container,
.mat-horizontal-stepper-header,
.mat-step-header,
mat-step-header {
  height: 40px !important;
}
.mat-horizontal-content-container {
  margin-bottom: 0px;
}

.dashboard-input {
  height: 30px;
  width: 240px;
  margin: 0 5px;
  .mat-form-field-flex {
    align-items: center;
  }
  .mat-form-field-infix {
    border: none;
    padding: none;
  }
}
