@import './styles/variables.scss';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~ngx-daterangepicker-material/daterangepicker-theme.scss';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';

/* You can add global styles to this file, and also import other style files */

@include date-range-picker-theme($squac-ui-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 11pt;
  font-family: "Source Sans Pro", sans-serif;
}

/* Background color */

.blue {
  background-color: $sq-blue;
}

.gray-background {
  background-color: $sq-lt-gray;
}

// body {
//   background-color:$sq-lt-gray;
// }

/* Text styles */

h1 {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 400;
}

// .unselect-links {
//   font-size: 1.3rem;
//   color: white;
//   font-weight: 400;
// }

// .select-links {
//   font-size: 1.3rem;
//   color: $sq-lt-blue;
//   font-weight: 600;
// }

/* Button styling on headers */
.btn-container-right {
  float: right;

  button {
    margin-left: 15px;
  }
}

/* Button styling on forms */
.btn-container button {
  margin-top: 15px;
  margin-right: 25px;
}

.form {
  text-align: center;

  .form-group {
    text-align: left;
    margin-bottom: 30px;

    label {
      margin-top: 25px;
    }
    
    input,
    textarea {
      width: 300px;
      line-height: 2em;
      border: 1px solid $sq-gray;
      border-radius: 5px;
      padding-left: 5px;
    }
  }
}

/* Box containers for widgets */

.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid $sq-gray;
  border-radius: 5px;
  overflow:hidden;
}

.square-box {
  text-align: center;
  background-color: white;
  border: 1px solid $sq-gray;
}

/* Popup formatting */
.popup {
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.hidden {
  display: none;
}

.popup-box {
  z-index: 16;
  margin: 200px auto;
  width: 450px;
  padding: 10px;

  p {
    margin: 5px;
  }
}

/* Data Table*/
datatable-scroller {
  width: 100% !important;
}
ngx-datatable {
  width: 100% !important;
  button.datatable-tree-button.ng-star-inserted {
    border: 1px solid $sq-lt-gray;
    background-color: transparent;
    margin-right: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    &:hover {
      color: $sq-blue;
    }
  }
  &.ngx-datatable.material {
    box-shadow: unset;
  }
}

.datatable-row-detail { width: 100%; }

.ngx-datatable.material {
  .datatable-header {
    .datatable-header-cell {
      font-weight: 700;
      color: black;
    }
  }
}

.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection
.datatable-body-row.active .datatable-row-group {
  background-color: $sq-lt-blue;
}
.ngx-datatable.material.single-selection .datatable-body-row.active:hover, .ngx-datatable.material.single-selection
.datatable-body-row.active:hover .datatable-row-group {
  background-color: $sq-gray;
}
.ngx-datatable.material.single-selection .datatable-body-row:hover, .ngx-datatable.material.single-selection
.datatable-body-row:hover .datatable-row-group {
  background-color: $sq-lt-gray;
}

// Material overrides
.mat-list-item.active {
  color: $sq-dk-blue;
  background-color: $sq-lt-gray;
}

.mat-menu-dense {
  button.mat-menu-item {
    height: 30px !important;
    line-height: 10px;
  }
}
.mat-nav-list-dense {
  .mat-nav-list {
    a {
      height: 30px !important;
    }
   }
}
#dashboard-header {
  background-color: $sq-lt-gray;
}

#dashboard-sidenav.mat-sidenav {
  border-right: none;
}

#dashboard-edit-toolbar {
  height: auto;
}

#dashboard-sidenav-content.mat-sidenav-content {
  z-index: 3;
  overflow: unset;
  margin-left: 20px;
  border-left: 1px solid $sq-gray;
}

.widget-container {
  @extend .box;
}

html, body { height: 100%; }
body { 
  margin: 0 
}

.chart-tooltip {
  background-color: $sq-dk-gray !important;
}

.mat-snack-bar-themed {
  background-color: $sq-dk-gray !important;
}