@import "./styles/variables.scss";
@import "./styles/mixins.scss";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
// @import '~ngx-daterangepicker-material/daterangepicker-theme.scss';
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";
@import "./styles/datatables.scss";
@import "./styles/material.scss";
/* You can add global styles to this file, and also import other style files */

// @include date-range-picker-theme($squac-ui-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 11pt;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: darken($sq-lt-gray, 5);
}
#body-content-container {
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

#dashboard-container {
  margin: -10px -12.5% 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

/* Background color */

.blue-background {
  background-color: $sq-blue;
}

.lt-gray-background {
  background-color: $sq-lt-gray;
}

.gray-background {
  background-color: $sq-gray;
}

.white-background {
  background-color: white;
}

.blue,
.primary,
.default {
  color: $sq-blue;
}
.lt-gray {
  color: $sq-lt-gray;
}
.gray {
  color: $sq-gray;
}
.dk-blue {
  color: $sq-dk-blue;
}
.warn,
.error {
  color: $sq-warn;
}
.accent,
.alert {
  color: $sq-yellow;
}

.gray-border {
  border: 1px solid lighten($sq-gray, 15);
}

.lt-gray-border {
  border: 1px solid $sq-lt-gray;
}

/* Text styles */

h1 {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
}

//shared flex styling
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}
.centered {
  align-items: center;
  justify-content: center;
}
.space-between {
  align-items: center;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-direction: row;
}

//text styling
.help-text {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 3px;
  margin-bottom: 3px;
}
.warn-text {
  @extend .help-text;
  color: $sq-warn;
}
.emphasis-text {
  @extend .help-text;
  font-weight: 400;
  color: $sq-dk-blue;
}

a[disabled] {
  pointer-events: none;
}

a {
  color: $sq-dk-gray;
  font-size: 0.9rem;
}

/* Box containers for widgets */

.box {
  @extend .lt-gray-border;
  @extend .white-background;
  background-color: white;
  overflow: hidden;
}

.hidden {
  display: none;
}

.form {
  @extend .column;
  width: 100%;
  align-items: flex-start;
  span {
    white-space: pre;
  }
}

.title {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h3 {
    display: inline-block;
  }
  &.mat-dialog-title {
    margin: 0 0 10px !important;
  }
}
.table-title {
  @extend .title;
  @extend .lt-gray-background;
  padding: 5px 10px;
}

.chart-tooltip {
  background-color: $sq-dk-gray !important;
}

.dialog-options {
  @extend .row-reverse;
  @extend .space-between;
  .save {
    margin-left: 20px;
  }
}
.leaflet-custom-control {
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 4px;
}

.label {
  display: inline-block;
  font-weight: 600;
  margin-right: 7px;
}
