/* Colors variables for Squac */

$sq-yellow: rgb(265, 165, 45);
$sq-dk-blue: rgb(1, 58, 86);
$sq-blue: rgb(51, 97, 120);
$sq-lt-blue: rgba(51, 97, 120, 0.75);
$sq-gray: rgb(112, 112, 112);
$sq-lt-gray: rgb(217, 217, 217);