<div
  id="dashboard-container"
  class="column"
  [appIsLoading]="loadingService.isLoading(viewService.dashboard)"
>
  <div id="dashboard-header" class="column lt-gray-background box-shadow">
    <div class="row">
      <div id="dashboard-info" class="auto-margin">
        <h2>{{ dashboard?.name }}</h2>
        <span *ngIf="dashboard?.owner && dashboard?.orgId">
          by {{ dashboard?.owner | user }} ({{
            dashboard?.orgId | organization
          }})
        </span>

        <shared-sharing-indicator
          [shareAll]="dashboard?.shareAll"
          [shareOrg]="dashboard?.shareOrg"
          resource="dashboard"
        ></shared-sharing-indicator>
      </div>

      <shared-error *ngIf="error" [errorMsg]="error"></shared-error>
      <button
        mat-icon-button
        (click)="refreshData()"
        matTooltip="Refresh data"
        aria-label="Button that requests new data from the database"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="updateDashboard()"
        [disabled]="!viewService.hasUnsavedChanges"
      >
        Apply Changes
      </button>
      <!-- if they have permission, otherwise show copy only -->
      <mat-menu
        #appMenu="matMenu"
        class="mat-menu-dense"
        yPosition="below"
        xPosition="before"
      >
        <button
          mat-menu-item
          (click)="addWidget()"
          *ngIf="'update' | able: dashboard"
        >
          <mat-icon>add</mat-icon>
          Add widget
        </button>

        <button mat-menu-item (click)="editDashboard()">
          <mat-icon>edit</mat-icon>
          Edit Dashboard
        </button>
        <button
          mat-menu-item
          color="warn"
          id="delete-dashboard"
          (click)="deleteDashboard()"
          *ngIf="'delete' | able: dashboard"
        >
          <mat-icon color="warn">delete</mat-icon>
          Delete Dashboard
        </button>
      </mat-menu>

      <button
        mat-icon-button
        [matMenuTriggerFor]="appMenu"
        color="primary"
        *ngIf="'update' | able: dashboard"
        matTooltip="Dashboard configuration"
      >
        <mat-icon>settings_application</mat-icon>
      </button>
    </div>
    <div class="row">
      <div class="auto-margin">
        <!-- <button
          type="button"
          mat-icon-button
          [color]="sideNavOpened ? '' : 'accent'"
          (click)="drawer.toggle()"
          matTooltip="Toggle channel list"
          aria-label="Button to toggle channel list"
        >
          <mat-icon>menu</mat-icon>
        </button> -->
        <shared-channel-group-selector
          [channelGroupId]="channelGroupId"
          (channelGroupIdChange)="channelGroupChange($event)"
          appearance="outline"
          [dense]="true"
        >
        </shared-channel-group-selector>
      </div>
      <dashboard-data-type-selector
        [dataType]="archiveType"
        [statType]="archiveStat"
        (dataTypeSelected)="selectArchiveType($event)"
      >
      </dashboard-data-type-selector>
      <shared-date-select
        [secondsAgoFromNow]="timeRange"
        [initialStartDate]="startTime"
        [initialEndDate]="endTime"
        [timeRanges]="datePickerTimeRanges"
        (datesChanged)="datesChanged($event)"
      ></shared-date-select>
    </div>
  </div>

  <div id="dashboard-body"><router-outlet> </router-outlet></div>
</div>

<!-- <router-outlet></router-outlet> -->
<!-- <shared-loading *ngIf="!dashboard && !error"></shared-loading> -->
