@import "variables";

:host ::ng-deep .mat-button-toggle-label-content {
  padding: 3px !important;
  line-height: unset !important;
}

button {
  height: 33px;
  line-height: 2;
  padding: 0px 10px;
}

#dashboard-header {
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  padding: 3px;
  z-index: 100;
  gap: 3px;
  & > .row {
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
  }
  mat-button-toggle {
    max-height: 40px;
    max-width: 40px;
  }
  mat-menu-item {
    span {
      margin: 0px 5px;
    }
  }
  #dashboard-info {
    margin-left: 10px;
    h2 {
      display: inline;
      font-size: 12pt;
    }
    mat-icon {
      vertical-align: text-bottom;
    }
    span {
      font-weight: 200;
    }
  }
}
.auto-margin {
  margin-inline-end: auto;
}
#dashboard-body {
  z-index: 0;
  height: 100%;
  width: 100%;
}
