.config-row {
  justify-content: flex-end;
}
.opened {
  opacity: 0.65;
}
#dashboard-header {
  padding: 0px 10px;
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  gap: 3px;

  & > .row {
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  mat-menu-item {
    span {
      margin: 0px 5px;
    }
  }
  #dashboard-info {
    h2 {
      display: inline;
      font-size: 12pt;
    }
    span {
      font-weight: 200;
    }
  }
}
.auto-margin {
  margin-inline-end: auto;
}
#dashboard-body {
  z-index: 0;
  height: 100%;
  width: 100%;
}
