<div id="dashboard-container" class="column" [appIsLoading]="loadingService.isLoading$(this) | async">
  <div id="dashboard-header" class="column lt-gray-background box-shadow">
    <div class="row">
      <div id="dashboard-info" class="auto-margin">
        <h2>{{ dashboard?.name }}</h2>
        <span *ngIf="dashboard?.owner && dashboard?.orgId">
          by {{ dashboard?.owner | user }} ({{
          dashboard?.orgId | organization
          }})
        </span>

        <shared-sharing-indicator [shareAll]="dashboard?.shareAll" [shareOrg]="dashboard?.shareOrg"
          resource="dashboard"></shared-sharing-indicator>
      </div>
      <ng-container *ngIf="viewService.dashboardConfig$ | async as config">
        <button [disabled]="!hideRows" mat-button (click)="hideRows = false" matTooltip="time range">
          <ng-container *ngIf="config.range; else customRange">{{
            config.range
            }}</ng-container>
          <ng-template #customRange>{{ config.start }} - {{ config.end }}</ng-template>
        </button>
        <button [disabled]="!hideRows" mat-button (click)="hideRows = false" matTooltip="data type">
          {{ config.archive | dataType: config.stat }}
        </button>
      </ng-container>

      <button [disabled]="(hasUnsavedChanges | async) === true" mat-icon-button (click)="refreshData()"
        matTooltip="Refresh data" aria-label="Button that requests new data from the database">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button [color]="!hideRows ? 'primary' : ''" matTooltip="configure dashboard"
        (click)="hideRows = !hideRows">
        <mat-icon>tune</mat-icon>
      </button>
      <button color="accent" mat-icon-button (click)="addWidget()" *ngIf="'update' | able: dashboard"
        matTooltip="Add widget">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="row config-row" *ngIf="!hideRows">
      <!-- if they have permission, otherwise show copy only -->
      <shared-channel-group-selector [channelGroupId]="channelGroupId"
        (channelGroupIdChange)="channelGroupChange($event)" appearance="outline" [dense]="true">
      </shared-channel-group-selector>
      <shared-date-select [secondsAgoFromNow]="timeRange" [initialStartDate]="startTime" [initialEndDate]="endTime"
        [timeRanges]="datePickerTimeRanges" (datesChanged)="datesChanged($event)"
        (selectedRangeChanged)="viewService.timeRangeChanged($event)"></shared-date-select>
      <dashboard-data-type-selector [dataType]="archiveType" [statType]="archiveStat"
        (dataTypeSelected)="selectArchiveType($event)">
      </dashboard-data-type-selector>
      <button [disabled]="(hasUnsavedChanges | async) === false" mat-raised-button color="accent"
        (click)="updateDashboard()">
        Apply
      </button>
    </div>
    <div class="row" *ngIf="dashboard?.properties && !hideRows">
      <mat-slide-toggle [(ngModel)]="dashboard.properties.denseView" (change)="toggleView()">
        Use Dense View
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="channelList" (change)="toggleChannelList()">
        Show channel list</mat-slide-toggle>
    </div>
  </div>

  <div id="dashboard-body"><router-outlet> </router-outlet></div>
</div>

<mat-menu #appMenu="matMenu" class="mat-menu-dense" yPosition="below" xPosition="before">
  <button mat-menu-item (click)="addWidget()" *ngIf="'update' | able: dashboard">
    <mat-icon>add</mat-icon>
    Add widget
  </button>

  <button mat-menu-item (click)="editDashboard()">
    <mat-icon>edit</mat-icon>
    Edit Dashboard
  </button>
  <button mat-menu-item color="warn" id="delete-dashboard" (click)="deleteDashboard()"
    *ngIf="'delete' | able: dashboard">
    <mat-icon color="warn">delete</mat-icon>
    Delete Dashboard
  </button>
</mat-menu>

<!-- <router-outlet></router-outlet> -->
<!-- <shared-loading *ngIf="!dashboard && !error"></shared-loading> -->