<div
  id="dashboard-container"
  class="column"
  [appIsLoading]="loadingService.isLoading(viewService.dashboard)"
>
  <div id="dashboard-header" class="column lt-gray-background box-shadow">
    <div class="row">
      <div id="dashboard-info" class="auto-margin">
        <h2>{{ dashboard?.name }}</h2>
        <span *ngIf="dashboard?.owner && dashboard?.orgId">
          by {{ dashboard?.owner | user }} ({{
            dashboard?.orgId | organization
          }})
        </span>

        <shared-sharing-indicator
          [shareAll]="dashboard?.shareAll"
          [shareOrg]="dashboard?.shareOrg"
          resource="dashboard"
        ></shared-sharing-indicator>
      </div>

      <div>
        {{ archiveType ? archiveTypeOptions[archiveType]?.full : "" }}
        <ng-container *ngIf="archiveStat"
          >: {{ statTypeOptions[archiveStat] }}
        </ng-container>
        <ng-container *ngIf="viewService.range && selectedRange; else timespan">
          Last {{ selectedRange.amount }} {{ selectedRange.unit
          }}{{ selectedRange.amount > 1 ? "s" : "" }}
        </ng-container>
        <ng-template #timespan>
          {{ viewService.startTime }} -
          {{ viewService.endTime }}
        </ng-template>
      </div>

      <button
        mat-icon-button
        (click)="refreshData()"
        matTooltip="Refresh data"
        aria-label="Button that requests new data from the database"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="hideRows = !hideRows">
        <mat-icon>tune</mat-icon>
      </button>
    </div>
    <div class="row" *ngIf="error">
      <shared-error [errorMsg]="error"></shared-error>
    </div>
    <div class="row" *ngIf="!hideRows">
      <!-- if they have permission, otherwise show copy only -->

      <shared-channel-group-selector
        [channelGroupId]="channelGroupId"
        (channelGroupIdChange)="channelGroupChange($event)"
        appearance="outline"
        [dense]="true"
      >
      </shared-channel-group-selector>

      <dashboard-data-type-selector
        [dataType]="archiveType"
        [statType]="archiveStat"
        (dataTypeSelected)="selectArchiveType($event)"
      >
      </dashboard-data-type-selector>

      <shared-date-select
        [secondsAgoFromNow]="timeRange"
        [initialStartDate]="startTime"
        [initialEndDate]="endTime"
        [timeRanges]="datePickerTimeRanges"
        (datesChanged)="datesChanged($event)"
        (selectedRangeChanged)="selectedRangeChange($event)"
      ></shared-date-select>
      <button
        mat-raised-button
        color="accent"
        (click)="updateDashboard()"
        [disabled]="!viewService.hasUnsavedChanges"
      >
        Apply Changes
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="appMenu"
        color="primary"
        *ngIf="'update' | able: dashboard"
        matTooltip="Dashboard configuration"
      >
        <mat-icon>settings_application</mat-icon>
      </button>
    </div>
    <div class="row" *ngIf="dashboard?.properties && !hideRows">
      <mat-checkbox
        [(ngModel)]="dashboard.properties.denseView"
        (change)="toggleView()"
      >
        Dense View
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="channelList" (change)="toggleChannelList()">
        show channel list</mat-checkbox
      >
    </div>
  </div>

  <div id="dashboard-body"><router-outlet> </router-outlet></div>
</div>

<mat-menu
  #appMenu="matMenu"
  class="mat-menu-dense"
  yPosition="below"
  xPosition="before"
>
  <button
    mat-menu-item
    (click)="addWidget()"
    *ngIf="'update' | able: dashboard"
  >
    <mat-icon>add</mat-icon>
    Add widget
  </button>

  <button mat-menu-item (click)="editDashboard()">
    <mat-icon>edit</mat-icon>
    Edit Dashboard
  </button>
  <button
    mat-menu-item
    color="warn"
    id="delete-dashboard"
    (click)="deleteDashboard()"
    *ngIf="'delete' | able: dashboard"
  >
    <mat-icon color="warn">delete</mat-icon>
    Delete Dashboard
  </button>
</mat-menu>

<!-- <router-outlet></router-outlet> -->
<!-- <shared-loading *ngIf="!dashboard && !error"></shared-loading> -->
