<mat-button-toggle-group
  class="dense-button-toggle"
  name="sharing"
  aria-label="toggle buttons for changing permissions"
  (change)="toggleSharing()"
  [(ngModel)]="shareFilter"
>
  <mat-button-toggle
    value="user"
    [uiTooltip]="isFormInput? 'only visible to you' : 'owned by you' "
  >{{
    filterText?.user ? filterText.user : "User"
    }}</mat-button-toggle>
  <mat-button-toggle
    value="org"
    [uiTooltip]="isFormInput ? 'shared with your organization' : 'owned by your organization' "
  >
    <ng-container *ngIf="filterText?.org; else noOrgText">{{
      filterText.org
      }}</ng-container>

    <ng-template #noOrgText>
      {{ user?.orgId ?? orgId | organization }}
    </ng-template>
  </mat-button-toggle>
  <mat-button-toggle
    value="all"
    [uiTooltip]="isFormInput ? 'visible to all SQUAC users' : 'owned by any SQUAC user'"
  >{{
    filterText?.all ? filterText.all : "All"
    }}</mat-button-toggle>
</mat-button-toggle-group>
