@import "variables";

.table-container {
  height: 423px;
  width: 100%;
}
#metric-select-table{
  height: 100%;
  width: 100% !important;

  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    padding: unset;
  }
}

div.help-text {
  margin: 0px 10px;
  display: inline-block;
  font-weight: 300;
  margin-top: 0px;
}
