#timeline {
  //FIXME: this should just be size of the widget
  width: calc(100% - 22px);
  height: calc(100% - 52.5px);
  overflow-x:hidden;
  overflow-y: scroll;
  visibility: visible;
  position: absolute;
}
.hide-chart {
  visibility: hidden;
}

:host ::ng-deep .legendG {
  visibility: hidden;
}

:host ::ng-deep linearGradient {
  display: none;
}

#timeline-key {
  position: fixed;
  left: 15px;
  div {
    display: inline-block;
    margin: 0px 3px;
    padding: 0px 2px;
  }
  #in-threshold, #out-of-threshold {
    color: white;
  }

  #out-of-threshold {
    margin-left: 10px;
  }
}

// ::ng-deep .brusher {
//   visibility: hidden;
// }

//chart toolip is in styles.scss because for some reason the tooltips are body level