#page-title,
#title-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#title-text,
#title-buttons-container {
  gap: 5px;
}
#title-text {
  align-items: baseline;
  h2 {
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
  }
}
