#filter-container {
  width: 100%;
}
#filter-box {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  .filters {
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-shrink: 1;
    max-width: calc(100% - 300px);
  }
  mat-form-field {
    max-width: 25%;
    .no-input {
      display: none;
    }

    .has-input {
      display: inline-block;
    }
  }
}
