@import "variables";
#channel-group-container {
  padding: 0px 10px 10px;

  display: grid;

  .mat-h2 {
    margin-bottom: 5px;
  }
  justify-content: stretch;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 5px;
  column-gap: 5px;
  row-gap: 5px;
  p {
    margin: 0;
  }
  grid-template-areas:
    "title ."
    "channels map"
    "rules . "
    "included excluded";
}
