<div class="row space-between">
  <button
    mat-button
    color="primary"
    (click)="previewChannels()"
    uiTooltip="Test regular expressions"
    aria-label="Button that searches for channels"
    [disabled]="!_matchingRules || _matchingRules?.length === 0 || !rules.valid"
  >
    test regex
  </button>

  <button
    mat-button
    (click)="addRule()"
    uiTooltip="Add new regular expressions"
  >
    <mat-icon>add</mat-icon>
    add regex
  </button>
</div>

<form
  #rulesForm
  [formGroup]="matchingRulesForm"
>
  <div
    formArrayName="rules"
    id="rules-container"
  >
    <div
      class="header-row"
      *ngIf="rules.controls.length > 0"
    >
      <div class="medium"><span>include?</span></div>
      <div class="field-column"><span>network</span></div>
      <div class="field-column"><span>station</span></div>
      <div class="field-column"><span>location</span></div>
      <div class="field-column"><span>channel</span></div>
      <div class="narrow"></div>
    </div>
    <ng-container *ngIf="rules.controls.length === 0">
      <span>No rules.</span>
    </ng-container>
    <ng-container *ngFor="let rule of rules.controls; let i = index">
      <div
        [formGroupName]="i"
        class="rule-row"
      >
        <div class="medium">
          <mat-checkbox
            class="dense-checkbox"
            #isInclude
            formControlName="isInclude"
            (change)="updateRules()"
          >
          </mat-checkbox>
        </div>

        <div class="field-column">
          <mat-form-field class="dense-form-field">
            <input
              #networkRegex
              matInput
              formControlName="networkRegex"
              (keyup)="uppercase($event.target, 'networkRegex', i)"
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="field-column">
          <mat-form-field class="dense-form-field">
            <input
              #stationRegex
              matInput
              formControlName="stationRegex"
              (keyup)="uppercase($event.target, 'stationRegex', i)"
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="field-column">
          <mat-form-field class="dense-form-field">
            <input
              #locationRegex
              matInput
              formControlName="locationRegex"
              (keyup)="uppercase($event.target, 'locationRegex', i)"
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="field-column">
          <mat-form-field class="dense-form-field">
            <input
              #channelRegex
              matInput
              formControlName="channelRegex"
              (keyup)="uppercase($event.target, 'channelRegex', i)"
              (focusout)="updateRules()"
            />
          </mat-form-field>
        </div>

        <div class="narrow">
          <button
            mat-button
            type="button"
            (click)="removeRule(i)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="rules.controls[i].errors as errors">
        <span class="warn-text">
          {{ errors["atLeastOne"].message }}
        </span>
      </div>
      <ng-container *ngFor="let field of ['network', 'station', 'location', 'channel']">
        <div *ngIf="rules.controls[i].get(field + 'Regex').errors as errors">
          <span class="warn-text">
            {{ errors["invalidRegex"].message }} for {{ field }}
          </span>
        </div>
      </ng-container>
    </ng-container>
  </div>
</form>