<!-- *ngIF causes chaos avoid in ngx-datatable -->
<ngx-datatable
  #dataTable
  id="tabular-table"
  class="material expandable"
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="50"
  [sortType]="SortType.multi"
  [columnMode]="ColumnMode.force"
  [footerHeight]="0"
  [rowHeight]="23"
  [scrollbarH]="true"
  [scrollbarV]="true"
  [messages]="messages"
  [treeFromRelation]="'parentId'"
  [treeToRelation]="'id'"
  (treeAction)="onTreeAction($event)"
  [sorts]="sorts"
>
</ngx-datatable>

<ng-template #cellTemplate let-value="value">
  <span
    class="cell-icon"
    [ngStyle]="{ 'background-color': value.color }"
  ></span>
  <span class="cell-text" *ngIf="value.value !== null; else noValue">
    {{ value.value | precision }}
  </span>
  <ng-template #noValue>
    <span>-</span>
  </ng-template>
</ng-template>
