<!-- *ngIF causes chaos avoid in ngx-datatable -->
<ngx-datatable
  #dataTable
  class="material expandable"
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="50"
  [sortType]="SortType.multi"
  [columnMode]="ColumnMode.force"
  [footerHeight]="0"
  [rowHeight]="23"
  [scrollbarH]="true"
  [scrollbarV]="true"
  [messages]="messages"
  [treeFromRelation]="'parentId'"
  [treeToRelation]="'id'"
  (treeAction)="onTreeAction($event)"
  [sorts]="[{ prop: 'agg', dir: 'desc' }]"
>
</ngx-datatable>
