// table {
//   height: auto;
//   width: auto;
//   overflow: scroll;
//   border-collapse: collapse;
//   &, th, td {
//     border: 1px solid black;
//   }

//   th, td {
//     padding: 2px;
//     overflow-wrap: break-word;
//   }
// }

:host ::ng-deep .tabular-table.ngx-datatable {
  width: 100% !important;
  height: 100%;
  // position: absolute;
  // top: 30px;
  // left: 5px;
  // right: 5px;
  // bottom: -15px;
  // height: auto;

  .datatable-header {
    height: auto !important;
    font-size: 10pt !important;
  }
  .datatable-tree-button:disabled {
    display: none;
  }
  .datatable-header-cell {
    padding: 1px !important;
    white-space: normal !important;
  }

  .datatable-body-cell,
  .datatable-body-row {
    padding: 0px 0px !important;
    line-height: 1.25 !important;
    &.emphasized {
    }
    &.deemphasized {
      opacity: 0.3;
    }
  }

  .datatable-tree-button {
    border: none;
    background-color: transparent;
    margin-right: 2px;
  }
  .datatable-header-cell-template-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .resize-handle {
    width: 2px !important;
    padding: 0px 1px !important;
  }
  .datatable-header-cell-label {
    text-overflow: ellipsis;
    font-size: 10pt !important;
  }

  .datatable-row-wrapper {
    &:hover {
      font-weight: bold;
    }
  }
  .header-cell {
    width: 100%;
    overflow: hidden;
    max-height: 50px;
    font-size: 10pt !important;
  }
  .datatable-body-cell-label {
    font-size: 10pt !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    padding-left: 1px;
    .cell-icon,
    .cell-full {
      height: 19px;
      display: inline-block;
      border: solid 1px black;
    }
    .cell-icon {
      width: 20px;
    }
    .cell-full {
      width: 100%;
    }
    .cell-text {
      font-size: 10pt !important;
      display: inline-block;
    }
    span {
      font-size: 10pt !important;
    }
  }
  .datatable-body-cell {
    white-space: normal;
  }
  .datatable-row-left {
    background-color: white;
    font-size: 10pt !important;
    .datatable-body-cell-label {
      padding-left: 4px;
    }
  }
}

// :host ::ng-deep datatable-header-cell-template-wrap {
//   white-space: normal;
// }
