<!-- *ngIF causes chaos avoid in ngx-datatable -->
<ngx-datatable
  #dataTable
  class="material expandable tabular-table"
  [rows]="rows"
  [columns]="columns"
  [headerHeight]="25"
  [sortType]="SortType.multi"
  [columnMode]="ColumnMode.force"
  [footerHeight]="false"
  [rowHeight]="20"
  [scrollbarH]="true"
  [scrollbarV]="true"
  [messages]="messages"
  [treeFromRelation]="'parentId'"
  [treeToRelation]="'id'"
  (treeAction)="onTreeAction($event)"
  [sorts]="sorts"
>
</ngx-datatable>
<ng-template
  #headerTemplate
  let-column="column"
  let-sort="sortFn"
  ngx-datatable-header-template
>
  <div
    matTooltip="{{ column.name }}"
    matTooltipPosition="above"
    class="header-cell datatable-header-cell-wrapper"
    (click)="sort()"
  >
    {{ column.name }}
  </div>
</ng-template>

<ng-template #cellTemplate let-value="value" let-row="row">
  <ng-container *ngIf="row.type === 'stoplight'; else notStoplight">
    <span
      class="cell-full"
      [ngClass]="{ border: value.color === 'white' }"
      [ngStyle]="{ 'background-color': value.color }"
    ></span>
    <!-- <span class="cell-text" *ngIf="+value.count; else noValue">
      {{ value.count | precision }}
    </span> -->
  </ng-container>

  <ng-template #notStoplight>
    <span
      class="cell-icon"
      [ngClass]="{ border: value.color === 'white' }"
      [ngStyle]="{ 'background-color': value.color }"
    ></span>
    <span class="cell-text" *ngIf="value.value !== null; else noValue">
      {{ value.value | precision }}
    </span>
  </ng-template>

  <ng-template #noValue>
    <span>no data</span>
  </ng-template>
</ng-template>
