@import "variables";
#title {
  background-color: #eeeeee;
  padding: 5px 10px;
}

#edit-container {
  margin-top: 10px;
  height: auto;
  background-color: white;
  border: 1px solid lighten($sq-gray, 15);
  h2 {
    margin-top: 0px;
  }
}

.edit-body {
  padding: 10px;
  gap: 10px;
  border-top: 1px solid lighten($sq-gray, 15);
}

#selection-filter {
  width: 100%;
}

#select-channels-container,
#create-group-container {
  height: 60vh;
  text-align: start;
  align-items: start;
}

#select-channels-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  div {
    button {
      margin-left: 5px;
    }
  }
}
.filter-container {
  justify-content: space-between;
}
#select-channels-container {
  width: 60%;
  mat-spinner {
    margin: 25% auto;
  }
}
#preview-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  #preview-list {
    width: 100%;
  }

  #preview-list,
  #map-box,
  #channel-selector {
    height: 100%;
  }
}
#map-box {
  width: 40%;
}

#create-group-container {
  h2 {
    align-self: start;
  }
  width: calc(40% - 20px);
  align-items: flex-start;
  mat-radio-button {
    display: block;
  }
  .remove-channel {
    mat-icon {
      font-size: 15px;
      height: 15px;
      width: 15px;
      line-height: 15px;
    }
    height: 15px;
    width: 15px;
    display: block;
    line-height: 15px;
  }
  #group-channels {
    flex-grow: 1;
    flex-shrink: 1;

    height: 100%;
  }
}

#remove-filter-box,
#save-cancel-cg {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}
