@import "variables";
#title {
  background-color: #eeeeee;
  padding: 5px 10px;
}

#edit-container {
  margin-top: 10px;
  height: auto;
  background-color: white;
  border: 1px solid lighten($sq-gray, 15);
  h2 {
    margin-top: 0px;
  }
}
.channels-row {
  height: 60vh;
}

.edit-body {
  padding: 10px;
  gap: 10px;
  .row {
    gap: 10px;
  }
}

#selection-filter {
  width: 50%;
}

#select-channels-controls {
  div {
    button {
      margin-left: 5px;
    }
  }
}
.filter-container {
  justify-content: space-between;
}

#preview-container {
  width: 50%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  border: 1px solid lighten($sq-gray, 15);
  .channel-table {
    .datatable-body {
      width: 100%;
    }
  }
}
#map-box {
  width: 50%;
}

#remove-filter-box,
#save-cancel-cg {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}
