<div id="edit-container" class="column gray-border white-background">
  <div class="header-title">
    <h2>
      {{ editMode ? "Edit Channel Group" : "Create Channel Group" }}
    </h2>
    <div id="button-container" class="row space-between">
      <ng-container *ngIf="editMode; else notEditMode">
        <button
          mat-icon-button
          color="accent"
          (click)="undoSelectRemove()"
          [disabled]="!this.changeMade"
          matTooltip="undo last change"
        >
          <mat-icon>undo</mat-icon>
        </button>
        <button
          *ngIf="'update' | able: channelGroup"
          mat-flat-button
          color="accent"
          class="add-btn"
          (click)="save()"
          [disabled]="!channelGroupForm.valid || channelsInGroup?.length === 0"
          matTooltip="Save channel group"
          aria-label="Button that saves the changes to the channel group"
        >
          Save
        </button>
        <button
          mat-icon-button
          *ngIf="editMode"
          color="warn"
          class="add-btn"
          (click)="onDelete()"
          matTooltip="Delete channel group"
          aria-label="Button that deletes the channel group"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <ng-template #notEditMode>
        <button
          *ngIf="'create' | able: 'ChannelGroup'"
          mat-flat-button
          color="accent"
          class="add-btn"
          (click)="save()"
          [disabled]="!channelGroupForm.valid || channelsInGroup.length === 0"
          matTooltip="Create channel group"
          aria-label="Button that creates the channel group"
        >
          Create
        </button>
      </ng-template>

      <button
        mat-icon-button
        (click)="formUnsaved()"
        matTooltip="Cancel editing"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="edit-body row">
    <div class="column" id="left-column">
      <div id="add-channel-header" class="row space-between">
        <h3>Add Channels to Group</h3>
        <mat-slide-toggle
          [(ngModel)]="showOnlyCurrent"
          (change)="filterCurrent()"
        >
          <span class="help-text">Only Show Current Channels</span>
        </mat-slide-toggle>
      </div>
      <p class="help-text">
        Use the filters to the below to search for channels or use the map to
        search within a region.
      </p>
      <div id="filter-container">
        <channel-group-filter (filtersChanged)="filtersChanged($event)">
        </channel-group-filter>
      </div>
      <div class="row channels-row">
        <div class="column">
          <div class="row space-between select-channels-controls">
            <span>{{ selectedChannels.length }} channels selected</span>

            <button
              mat-button
              color="primary"
              (click)="addChannels()"
              [disabled]="!selectedChannels || selectedChannels.length === 0"
            >
              add selected
            </button>
          </div>
          <div class="table-container lt-gray-border">
            <ngx-datatable
              *ngIf="!loading; else isLoading"
              #availableTable
              class="material channel-table"
              [rows]="rows"
              [columns]="columns"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="30"
              [footerHeight]="0"
              [rowHeight]="23"
              [selectionType]="SelectionType.multiClick"
              [selected]="selectedChannels"
              [scrollbarV]="true"
              [sortType]="SortType.multi"
              (select)="selectRow($event)"
            ></ngx-datatable>
            <ng-template #isLoading>
              <mat-spinner></mat-spinner>
            </ng-template>
          </div>
        </div>
        <div id="map-box">
          <channel-group-map
            [inGroupChannels]="channelsInGroup"
            [selectedChannels]="selectedChannels"
            [showChannel]="showChannel"
            (showChannelChange)="channelsSelectedOnMap($event)"
            [editPage]="true"
            (boundsChange)="updateBounds($event)"
          ></channel-group-map>
        </div>
      </div>
    </div>
    <div class="column">
      <form [formGroup]="channelGroupForm" class="column">
        <mat-form-field class="channel-group-input" class="medium">
          <input matInput placeholder="Name" formControlName="name" required />
        </mat-form-field>

        <mat-form-field id="description">
          <textarea
            matInput
            placeholder="Description"
            formControlName="description"
            required
          ></textarea>
        </mat-form-field>
      </form>
      <div class="row channels-row">
        <div class="column">
          <div class="row space-between select-channels-controls">
            <span>{{ channelsInGroup.length }} channels in group</span>

            <button
              mat-button
              color="warn"
              (click)="removeChannels()"
              [disabled]="
                !selectedInGroupChannels || selectedInGroupChannels.length === 0
              "
            >
              remove selected
            </button>
          </div>
          <div class="table-container lt-gray-border">
            <ngx-datatable
              #groupTable
              class="material channel-table"
              [rows]="channelsInGroup"
              [columns]="columns"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="30"
              [footerHeight]="0"
              [rowHeight]="23"
              [selectionType]="SelectionType.multiClick"
              [selected]="selectedInGroupChannels"
              [scrollbarV]="true"
              [sortType]="SortType.multi"
            ></ngx-datatable>
            <ng-template #isLoading>
              <mat-spinner></mat-spinner>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
