<div id="edit-container" class="column">
  <div id="title" class="row-centered">
    <h2>
      {{ editMode ? "Edit Channel Group" : "Create Channel Group" }}
    </h2>
    <button mat-icon-button (click)="formUnsaved()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="row edit-body">
    <form class="" [formGroup]="channelGroupForm" id="cg-form" class="column">
      <mat-form-field class="channel-group-input" class="medium">
        <input matInput placeholder="Name" formControlName="name" required />
      </mat-form-field>

      <mat-form-field id="description" class="large">
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          required
        ></textarea>
      </mat-form-field>
    </form>
    <div id="cg-edit-footer">
      <div id="save-cancel-cg">
        <ng-container *ngIf="editMode; else notEditMode">
          <button
            *ngIf="'update' | able: channelGroup"
            mat-icon-button
            color="accent"
            class="add-btn"
            (click)="save()"
            [disabled]="
              !channelGroupForm.valid || selectedChannels?.length === 0
            "
            matTooltip="Save channel group"
            aria-label="Button that saves the changes to the channel group"
          >
            Save
          </button>
        </ng-container>
        <ng-template #notEditMode>
          <button
            *ngIf="'create' | able: 'ChannelGroup'"
            mat-flat-button
            color="accent"
            class="add-btn"
            (click)="save()"
            [disabled]="!channelGroupForm.valid || channelsInGroup.length === 0"
            matTooltip="Create channel group"
            aria-label="Button that creates the channel group"
          >
            Create
          </button>
        </ng-template>
        <button
          mat-icon-button
          *ngIf="editMode"
          color="warn"
          class="add-btn"
          (click)="onDelete()"
          matTooltip="Delete channel group"
          aria-label="Button that deletes the channel group"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="row edit-body">
    <div id="map-box">
      <channel-group-map
        [channelsInGroup]="channelsInGroup"
        [selectedChannels]="selectedChannels"
        [editPage]="true"
        (boundsChange)="updateBounds($event)"
      ></channel-group-map>
    </div>
    <div id="select-channels-container" class="column">
      <div id="selection-filter">
        <h3>Search for Channels</h3>
        <div class="filter-container column">
          <p class="help-text">
            Use the filters to the below to search for channels or use the map
            to search within a region.
          </p>
          <channel-group-filter
            (filtersChanged)="getChannelsWithFilters($event)"
          >
          </channel-group-filter>
        </div>
      </div>
      <h3>Search Results</h3>
      <mat-slide-toggle
        [(ngModel)]="showOnlyCurrent"
        (change)="filterCurrent()"
      >
        <span class="help-text">Only Show Current Channels</span>
      </mat-slide-toggle>
      <div id="select-channels-controls">
        <ng-container *ngIf="availableChannels.length === 0; else hasChannels">
          <span class="help-text"
            >Search above to find channels to add to your channel group.</span
          >
        </ng-container>
        <ng-template #hasChannels>
          <span class="help-text"
            >{{ availableChannels.length }} channels matching search
            criteria.</span
          >
        </ng-template>

        <div>
          <button
            mat-flat-button
            color="warn"
            (click)="removeChannels()"
            [disabled]="!selectedChannels || selectedChannels.length === 0"
          >
            remove channels
          </button>

          <button
            mat-flat-button
            color="accent"
            (click)="addChannels()"
            [disabled]="!selectedChannels || selectedChannels.length === 0"
          >
            Add Channels
          </button>
          <button
            mat-icon-button
            color="accent"
            (click)="undoSelectRemove()"
            [disabled]="!this.changeMade"
          >
            <mat-icon>undo</mat-icon>
          </button>
        </div>
      </div>

      <div id="preview-container" class="row">
        <ngx-datatable
          *ngIf="!loading; else isLoading"
          #availableTable
          id="channel-selector"
          class="material channel-table"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="ColumnMode.flex"
          [headerHeight]="30"
          [footerHeight]="0"
          [rowHeight]="23"
          [selectionType]="SelectionType.multiClick"
          [selected]="selectedChannels"
          [scrollbarV]="true"
          [sortType]="SortType.multi"
          (select)="selectRow($event)"
        ></ngx-datatable>
        <ng-template #isLoading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </div>
    </div>
  </div>
</div>
