@import "variables";

.edit-body {
  padding: 0px 10px 10px;
  width: 100%;
  & > .column {
    flex-grow: 1;
    // justify-content: space-between;
  }
}
#button-container {
  gap: 10px;
}
.select-channels-controls {
  gap: 3px;
  align-items: center;
  div {
    button {
      margin-left: 5px;
    }
  }
}
#edit-container,
.edit-body {
  gap: 10px;
}
#filter-container,
.select-channels-controls {
  width: 100%;
}
#left-column {
  width: 66%;
}
#right-column {
  width: 44%;
}
.channels-row {
  height: 60vh;
  gap: 10px;
  .column {
    flex-grow: 1;
  }
}
#left-column {
  .channels-row {
    & > div {
      width: 50%;
    }
  }
}

#map-box {
  width: 100%;
  height: 100%;
}
