<div *ngIf="dashboard" id="dashboard-container" class="column">
  <mat-toolbar id="dashboard-header" class="lt-gray-background box-shadow">
    <mat-toolbar-row class="row space-between">
      <div id="dashboard-info">
        <h2>{{ dashboard.name }}</h2>
        <span *ngIf="dashboard.owner && dashboard.orgId">
          by {{ dashboard.owner | user }} ({{ dashboard.orgId | organization }})
        </span>

        <shared-sharing-indicator
          [shareAll]="dashboard.shareAll"
          [shareOrg]="dashboard.shareOrg"
          resource="dashboard"
        ></shared-sharing-indicator>
      </div>
      <div id="header-bottom" class="dashboard-controls">
        <button
          mat-flat-button
          color="accent"
          (click)="addWidget()"
          *ngIf="'update' | able: dashboard"
          matTooltip="Add widget"
          aria-label="Button to add widget"
        >
          Add widget
        </button>

        <!-- if they have permission, otherwise show copy only -->
        <mat-menu
          #appMenu="matMenu"
          class="mat-menu-dense"
          yPosition="below"
          xPosition="before"
        >
          <button mat-menu-item (click)="editDashboard()">
            Edit Dashboard
          </button>
          <button
            mat-menu-item
            color="warn"
            id="delete-dashboard"
            (click)="deleteDashboard()"
            *ngIf="'delete' | able: dashboard"
          >
            Delete Dashboard
          </button>
        </mat-menu>

        <button
          mat-icon-button
          [matMenuTriggerFor]="appMenu"
          color="primary"
          *ngIf="'update' | able: dashboard"
          matTooltip="Dashboard configuration"
        >
          <mat-icon>settings_application</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="row space-between">
      <div>
        <button
          type="button"
          mat-icon-button
          [color]="sideNavOpened ? '' : 'accent'"
          (click)="drawer.toggle()"
          matTooltip="Toggle channel list"
          aria-label="Button to toggle channel list"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <shared-channel-group-selector
          [(channelGroupId)]="channelGroupId"
          (channelsChange)="channelsChange($event)"
          appearance="outline"
          [dense]="true"
        >
        </shared-channel-group-selector>
      </div>
      <div id="header-controls" class="dashboard-controls">
        <dashboard-data-type-selector
          [(dataType)]="archiveType"
          [(statType)]="archiveStat"
          (dataTypeSelected)="selectArchiveType($event)"
        >
        </dashboard-data-type-selector>
        <shared-date-select
          [secondsAgoFromNow]="timeRange"
          [initialStartDate]="startTime"
          [initialEndDate]="endTime"
          [timeRanges]="datePickerTimeRanges"
          (datesChanged)="datesChanged($event)"
        ></shared-date-select>

        <button
          mat-icon-button
          (click)="refreshData()"
          matTooltip="Refresh data"
          aria-label="Button that requests new data from the database"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <ng-container *ngIf="viewService.status | async as status">
    <mat-progress-bar
      *ngIf="status !== 'finished'"
      [mode]="status !== 'error' ? 'indeterminate' : 'determinate'"
      value="1001"
      [color]="status === 'error' ? 'warn' : 'primary'"
    >
    </mat-progress-bar>
  </ng-container>

  <mat-drawer-container id="dashboard-body" autosize>
    <mat-drawer
      #drawer
      id="dashboard-sidenav-content"
      class="example-sidenav"
      [(opened)]="sideNavOpened"
      (opened)="toggleSidenav()"
      (closed)="toggleSidenav()"
      mode="side"
    >
      <dashboard-channel-filter
        [channels]="channels"
        (closeSidenav)="drawer.toggle()"
      ></dashboard-channel-filter>
    </mat-drawer>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
<shared-error *ngIf="error" [errorMsg]="error"></shared-error>
<shared-loading *ngIf="!dashboard && !error"></shared-loading>
