@import "variables";

:host ::ng-deep .mat-button-toggle-label-content {
  padding: 3px !important;
  line-height: unset !important;
}

button {
  height: 30px;
  line-height: 1.1;
  padding: 0px 10px;
  margin: 0px 5px;
}

#dashboard-header {
  mat-toolbar-row {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  // h2 {
  //   margin-top: 10px;
  // }
  padding-left: 10px;
  // width: 100%;

  box-shadow: 0px 0px 1px $sq-dk-gray;

  mat-button-toggle {
    height: 40px;
    width: 40px;
  }

  #dashboard-info {
    h2 {
      display: inline;
    }
    mat-icon {
      vertical-align: text-bottom;
    }
    span {
      font-weight: 200;
    }
  }

  #header-controls {
    // height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

#delete-dashboard {
  margin-top: 10px;
  color: $sq-warn;
}

// #date-range {
//     width: 230px;
//     margin-left:10px;
//     margin-right:10px;
// }

#dashboard-body {
  z-index: 0;
  height: 100%;
  width: 100%;
}
