@import "variables";

:host ::ng-deep .mat-button-toggle-label-content {
  padding: 3px !important;
  line-height: unset !important;
}

button {
  height: 33px;
  line-height: 2;
  padding: 0px 10px;
}

#dashboard-header {
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  mat-button-toggle {
    height: 40px;
    width: 40px;
  }
  mat-menu-item {
    span {
      margin: 0px 5px;
    }
  }
  mat-toolbar-row {
    height: 48px;
    padding: 0px;
  }

  #dashboard-info {
    margin-left: 10px;
    h2 {
      display: inline;
      font-size: 12pt;
    }
    mat-icon {
      vertical-align: text-bottom;
    }
    span {
      font-weight: 200;
    }
  }
  #header-bottom {
    // width: 100%;
  }

  .dashboard-controls {
    // height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.sidenav-toggle-container {
  margin-top: 10px;
  margin-left: -20px;
  position: absolute;
  z-index: 800 !important;
  visibility: visible !important;
  button {
    color: white;
  }
}

// #date-range {
//     width: 230px;
//     margin-left:10px;
//     margin-right:10px;
// }

#dashboard-body {
  z-index: 0;
  height: 100%;
  width: 100%;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.mat-drawer {
  padding: 5px 10px;
  width: 140px;
}
