<h3>Set Thresholds</h3>
<p class="help-text">
  Thresholds are used to color the widget. By default, values will be shown with
  a gradient from the data min to max.
</p>
<form #thresholdEditForm [formGroup]="thresholdsForm">
  <ng-container formArrayName="thresholds">
    <table id="thresholds-table">
      <tr>
        <th>Alert on exit</th>
        <th colspan="3">Values</th>
        <th colspan="2"># of channels</th>
        <th colspan="2">Email</th>
      </tr>
      <ng-container
        *ngFor="let thresholds of thresholds.controls; let i = index"
      >
        <tr [formGroupName]="i" class="threshold">
          <ng-template #default> default </ng-template>
        </tr>
      </ng-container>
    </table>
  </ng-container>
</form>
