@import './../../../variables.scss';

header {
    margin: 15px 5% 10px 5%;
}

header 
h1 {
    display: inline-block;
}

.btn {
    margin-right: 0;
    float: right;

}

.box {
    margin: 10px 5% 25px 5%;
}

#metric-table {
    margin: 25px 5%;
    border: 2px solid $sq-lt-gray;
    border-radius: 10px;
}