<div class="row space-between header-row">
  <h4>Channels</h4>
  <!-- <button
    mat-icon-button
    (click)="toggleSidenav()"
    matTooltip="collapse list"
    aria-label="button to collapse sidebar"
  >
    <mat-icon>close</mat-icon>
  </button> -->
</div>

<div *ngIf="channels.length === 0; else hasChannels">
  Select a channel group above.
</div>

<ng-template #hasChannels>
  <mat-checkbox type="checkbox" [(ngModel)]="toggledAll" (click)="toggleAll()">
    Toggle All
  </mat-checkbox>

  <form [formGroup]="form">
    <div formGroupName="checkboxes">
      <ul>
        <li
          *ngFor="let item of form['controls'].checkboxes.value | keyvalue"
          class="checkbox"
        >
          <mat-checkbox
            type="checkbox"
            [formControlName]="item.key"
            (mouseenter)="mouseenter(item.key)"
            (mouseleave)="mouseleave(item.key)"
            [disableRipple]="true"
          >
            {{ item.key }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
  </form>
</ng-template>
